<div class="container">
    <div class="header">
        <h1 i18n>Somatotipo</h1>
    </div>

    <div class="section">
        <form #f="ngForm" (submit)="save(f.value)">
            <table class="section-table">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th class="th-top" *ngIf="pointer>=1">{{evaluation[pointer-1].data | date:'dd/LL/yyyy'}}</th>
                        <th class="th-top" *ngIf="pointer>=0">{{evaluation[pointer].data | date:'dd/LL/yyyy'}}</th>
                        <th class="th-top" *ngIf="addEval">
                            <input name="data" #data="ngModel" [(ngModel)]="newEvaluation.data" type="date" class="data-input">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th i18n><span (click)="openDialog('Altura')">Altura</span> <small> (m)</small></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].altura | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].altura | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="altura" #altura="ngModel" [(ngModel)]="newEvaluation.altura" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('Peso')">Peso</span> <small> (Kg)</small></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].peso | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].peso | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="peso" #peso="ngModel" [(ngModel)]="newEvaluation.peso" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th i18n class="sub-line">Diâmetros</th>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('Joelho')">Joelho</span> <small> (cm)</small></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].joelho | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].joelho | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="joelho" #joelho="ngModel" [(ngModel)]="newEvaluation.joelho" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('Cotovelo')">Cotovelo</span> <small> (cm)</small></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].cotovelo | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].cotovelo | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="cotovelo" #cotovelo="ngModel" [(ngModel)]="newEvaluation.cotovelo" type="number">
                        </td>
                    </tr>

                    <tr>
                        <th i18n class="sub-line">Dobras Cutâneas</th>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('Triciptal')">Triciptal</span> <small> (mm)</small></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].triciptal | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].triciptal | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="triciptal" #triciptal="ngModel" [(ngModel)]="newEvaluation.triciptal" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('Subescapular')">Subescapular</span> <small> (mm)</small></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].subescapular | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].subescapular | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="subescapular" #subescapular="ngModel" [(ngModel)]="newEvaluation.subescapular" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('Geminal')">Geminal</span> <small> (mm)</small></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].geminal | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].geminal | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="geminal" #geminal="ngModel" [(ngModel)]="newEvaluation.geminal" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('Suprailíaca')">Suprailíaca</span> <small> (mm)</small></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].suprailiaca | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].suprailiaca | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="suprailiaca" #suprailiaca="ngModel" [(ngModel)]="newEvaluation.suprailiaca" type="number">
                        </td>
                    </tr>

                    <tr>
                        <th i18n class="sub-line">Perímetros</th>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('Braço Contraído')">Braço contraído</span> <small> (cm)</small></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].bracoc | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].bracoc | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="bracoc" #bracoc="ngModel" [(ngModel)]="newEvaluation.bracoc" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('Perna')">Perna</span> <small> (cm)</small></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].pernad | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].pernad | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="pernad" #pernad="ngModel" [(ngModel)]="newEvaluation.pernad" type="number">
                        </td>
                    </tr>
                    <!-- RESULTADOS -->
                    <tr>
                        <th i18n class="sub-line">RESULTADOS</th>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('Endomorfia')">Endomorfia</span></th>
                        <td *ngIf="pointer>=1">{{getEndomorfia(evaluation[pointer-1]) | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{getEndomorfia(evaluation[pointer]) | number: '': locale}}</td>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('Mesomorfia')">Mesomorfia</span></th>
                        <td *ngIf="pointer>=1">{{getMesomorfia(evaluation[pointer-1]) | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{getMesomorfia(evaluation[pointer]) | number: '': locale}}</td>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('Ectomorfia')">Ectomorfia</span></th>
                        <td *ngIf="pointer>=1">{{getEctomorfia(evaluation[pointer-1]) | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{getEctomorfia(evaluation[pointer]) | number: '': locale}}</td>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('X')">X</span></th>
                        <td *ngIf="pointer>=1">{{(getX(evaluation[pointer-1]) - 220) / 10 | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{(getX(evaluation[pointer]) - 220) /10 | number: '': locale}}</td>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('Y')">Y</span></th>
                        <td *ngIf="pointer>=1">{{(getY(evaluation[pointer-1]) - 240) / -10 | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{(getY(evaluation[pointer]) - 240) / -10 | number: '': locale}}</td>
                    </tr>
                    <tr>
                        <th i18n>&nbsp;</th>
                        <td *ngIf="pointer>=1">
                            <svg width="20" height="20">
                                <circle cx="10" cy="10" r="10" fill="black"></circle>
                            </svg>
                        </td>
                        <td *ngIf="pointer>=0">
                            <svg width="20" height="20">
                                <circle cx="10" cy="10" r="10" fill="red"></circle>
                            </svg>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="action">
                <button type="button" *ngIf="!addEval" [disabled]="pointer<=1" mat-mini-fab color="default"
                    (click)="pointer=pointer-1">
                    <mat-icon class="mat-14">chevron_left</mat-icon>
                </button>
                <button type="button" *ngIf="!addEval" mat-fab (click)="addEvaluation()">
                    <mat-icon class="mat-18">add</mat-icon>
                </button>
                <button type="button" *ngIf="!addEval" [disabled]="pointer == maxPointer-1 || pointer == -1"
                    mat-mini-fab color="default" (click)="pointer=pointer+1">
                    <mat-icon class="mat-14">chevron_right</mat-icon>
                </button>
                <button type="button" *ngIf="addEval" mat-fab color="default" (click)="closeInput()">
                    <mat-icon class="mat-18">close</mat-icon>
                </button>
                <button *ngIf="addEval" mat-fab>
                    <mat-icon class="mat-18">check</mat-icon>
                </button>
            </div>

            <div class="section-info">
                <svg width="420" height="490">

                    <rect x="20" y="40" width="400" height="400" style="fill:rgb(200,200,205);stroke-width:3;stroke:rgb(0,0,0)" />

                    <line x1="0" y1="90" x2="420" y2="90" style="stroke:rgb(168, 168, 168);stroke-width:1" />
                    <line x1="20" y1="140" x2="420" y2="140" style="stroke:rgb(168, 168, 168);stroke-width:1" />
                    <line x1="20" y1="190" x2="420" y2="190" style="stroke:rgb(168, 168, 168);stroke-width:1" />
                    <line x1="20" y1="240" x2="420" y2="240" style="stroke:rgb(168, 168, 168);stroke-width:1" />
                    <line x1="20" y1="290" x2="420" y2="290" style="stroke:rgb(168, 168, 168);stroke-width:1" />
                    <line x1="20" y1="340" x2="420" y2="340" style="stroke:rgb(168, 168, 168);stroke-width:1" />
                    <line x1="20" y1="390" x2="420" y2="390" style="stroke:rgb(168, 168, 168);stroke-width:1" />

                    <line x1="70" y1="40" x2="70" y2="440" style="stroke:rgb(168, 168, 168);stroke-width:1" />
                    <line x1="120" y1="40" x2="120" y2="440" style="stroke:rgb(168, 168, 168);stroke-width:1" />
                    <line x1="170" y1="40" x2="170" y2="440" style="stroke:rgb(168, 168, 168);stroke-width:1" />
                    <line x1="220" y1="40" x2="220" y2="440" style="stroke:rgb(168, 168, 168);stroke-width:1" />
                    <line x1="270" y1="40" x2="270" y2="440" style="stroke:rgb(168, 168, 168);stroke-width:1" />
                    <line x1="320" y1="40" x2="320" y2="440" style="stroke:rgb(168, 168, 168);stroke-width:1" />
                    <line x1="370" y1="40" x2="370" y2="440" style="stroke:rgb(168, 168, 168);stroke-width:1" />

                    <line x1="20" y1="40" x2="420" y2="440" style="stroke:rgb(35, 89, 240);stroke-width:2" />
                    <line x1="20" y1="440" x2="420" y2="40" style="stroke:rgb(238, 16, 16);stroke-width:2" />
                    <line x1="220" y1="40" x2="220" y2="440" style="stroke:rgb(15, 105, 3);stroke-width:2" />

                    <text x="0" y="50" fill="darkblue">20</text>
                    <text x="0" y="90" fill="darkblue">15</text>
                    <text x="0" y="140" fill="darkblue">10</text>
                    <text x="5" y="190" fill="darkblue">5</text>
                    <text x="5" y="240" fill="darkblue">0</text>
                    <text x="0" y="290" fill="darkblue">-5</text>
                    <text x="0" y="340" fill="darkblue">-10</text>
                    <text x="0" y="390" fill="darkblue">-15</text>
                    <text x="0" y="440" fill="darkblue">-20</text>

                    <text x="10" y="460" fill="darkblue">-20</text>
                    <text x="60" y="460" fill="darkblue">-15</text>
                    <text x="110" y="460" fill="darkblue">-10</text>
                    <text x="170" y="460" fill="darkblue">-5</text>
                    <text x="218" y="460" fill="darkblue">0</text>
                    <text x="270" y="460" fill="darkblue">5</text>
                    <text x="310" y="460" fill="darkblue">10</text>
                    <text x="360" y="460" fill="darkblue">15</text>
                    <text x="406" y="460" fill="darkblue">20</text>

                    <text class="title-text" x="160" y="30" fill="blue">Mesomorfismo</text>
                    <text class="title-text" x="20" y="480" fill="blue">Endomorfismo</text>
                    <text class="title-text" x="300" y="480" fill="blue">Ectomorfismo</text>

                    <circle *ngIf="pointer>=1" [attr.cx]="getX(evaluation[pointer-1])" [attr.cy]="getY(evaluation[pointer-1])" r="5" stroke="black" fill="black" />
                    <circle *ngIf="pointer>=0" [attr.cx]="getX(evaluation[pointer])" [attr.cy]="getY(evaluation[pointer])" r="5" stroke="red" fill="red" />
                    Sorry, your browser does not support inline SVG.  
                </svg>
            </div>

        </form>
    </div>

    <div class="footer">
        <a mat-mini-fab color="primary" (click)="goBack()">
            <mat-icon>undo</mat-icon>
        </a>
    </div>
</div>
