<div class="container">
    <div class="header">
        <h1 i18n>Somatotipo</h1>
    </div>

    <div class="section">
            <table class="section-table">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th class="th-top" *ngIf="pointer>=1">{{evaluation[pointer-1].data | date:'dd-LL-yyyy'}}</th>
                        <th class="th-top" *ngIf="pointer>=0">{{evaluation[pointer].data | date:'dd-LL-yyyy'}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th i18n>Altura <small>(m)</small></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].altura}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].altura}}</td>
                    </tr>
                    <tr>
                        <th i18n>Peso <small>(Kg)</small></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].peso}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].peso}}</td>
                    </tr>
                    <tr>
                        <th i18n class="sub-line">Diâmetros</th>
                    </tr>
                    <tr>
                        <th i18n>Joelho <small>(cm)</small></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].joelho}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].joelho}}</td>
                    </tr>
                    <tr>
                        <th i18n>Cotovelo <small>(cm)</small></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].cotovelo}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].cotovelo}}</td>
                    </tr>

                    <tr>
                        <th i18n class="sub-line">Dobras Cutâneas</th>
                    </tr>
                    <tr>
                        <th i18n>Tríciptal <small>(mm)</small></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].triciptal}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].triciptal}}</td>
                    </tr>
                    <tr>
                        <th i18n>Subescapular <small>(mm)</small></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].subescapular}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].subescapular}}</td>
                    </tr>
                    <tr>
                        <th i18n>Geminal <small>(mm)</small></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].geminal}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].geminal}}</td>
                    </tr>
                    <tr>
                        <th i18n>Suprailiaca <small>(mm)</small></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].suprailiaca}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].suprailiaca}}</td>
                    </tr>

                    <tr>
                        <th i18n class="sub-line">Perimetros</th>
                    </tr>
                    <tr>
                        <th i18n>Braço contraido <small>(cm)</small></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].bracoc}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].bracoc}}</td>
                    </tr>
                    <tr>
                        <th i18n>Perna <small>(cm)</small></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].pernad}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].pernad}}</td>
                    </tr>
                </tbody>
            </table>

            <div class="action">
                <button type="button" *ngIf="!addEval" [disabled]="pointer<=1" mat-mini-fab color="default"
                    (click)="pointer=pointer-1">
                    <mat-icon class="mat-14">chevron_left</mat-icon>
                </button>
                <button type="button" *ngIf="!addEval" [disabled]="pointer == maxPointer-1 || pointer == -1"
                    mat-mini-fab color="default" (click)="pointer=pointer+1">
                    <mat-icon class="mat-14">chevron_right</mat-icon>
                </button>
            </div>
    </div>

    <div class="footer">
        <a mat-mini-fab color="primary" (click)="goBack()">
            <mat-icon>undo</mat-icon>
        </a>
    </div>
</div>
