
  .section{
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .section-info{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }

  text{
    font-size: xx-small;
  }

  .title-text{
    font-size: small;
    font-weight: 400;
  }

  .somatotipo-lg{
    display: none;
  }
  .somatotipo-sm{
    display: block;
  }

  @media only screen and (min-width: 500px) {
    .somatotipo-lg{
      display: block;
    }
    .somatotipo-sm{
      display: none;
    }
    text{
      font-size: small;
    }
  
    .title-text{
      font-size: large;
      font-weight: 600;
    }
  }