<div class="graphics">
    <ngx-charts-pie-chart 
        i18n 
        [view]="view" 
        [scheme]="colorScheme" 
        [results]="values" 
        [gradient]="gradient"
        [legend]="showLegend" 
        [legendPosition]="legendPosition" 
        [labels]="showLabels" 
        [doughnut]="isDoughnut"
        [legendTitle]="legendTitle"
    >
</ngx-charts-pie-chart>
</div>
    <!--     (select)="onSelect($event)" 
        (activate)="onActivate($event)" 
        (deactivate)="onDeactivate($event)" -->