.container {
  background-image: url("./../../../../assets/img/postural_fundo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;

  .h1-title {
    width: 100%;
    height: 30px;
    font-size: 20px;
    margin-top: 10px !important;
  }
  form{
    width: 100% !important;
  }
}


::ng-deep {
  .mat-stroked-button {
    width: 56px;
    height: 56px;
  }
  .mat-stroked-button:not([disabled]) {
    border-color: rgb(37, 36, 36);
  }
  .mat-stroked-button:not([disabled]):hover {
    border-color: rgb(37, 36, 36);
    background-color: rgba(245, 245, 245, 0.555);
  }
}

@media only screen and (min-width: 768px) {
  .section{
    width: 520px;
  }
}

