<div class="container">
    <div class="header">
        <h3>Composição Corporal</h3>
    </div>

    <div class="section">
        <mat-accordion>
            <mat-expansion-panel class="accordion" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title i18n="Title | area de avaliação">
                        DOBRAS CUTÂNEAS
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-card>
                    <mat-card-header routerLink="/slau">
                        <mat-card-subtitle i18n="Subtitle" >Slaugther - 2 dobras</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/jp3">
                        <mat-card-subtitle i18n="Subtitle">Jackson & Pollock - 3 dobras</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/dw4">
                        <mat-card-subtitle i18n="Subtitle">Durnin & Wormersley - 4 dobras</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/sloan2">
                        <mat-card-subtitle i18n="Subtitle">Sloan - 2 dobras</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/guedes3">
                        <mat-card-subtitle i18n="Subtitle">Guedes - 3 dobras</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/pb4">
                        <mat-card-subtitle i18n="Subtitle">Petroski, Brasileiros - 4 dobras</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/carter">
                        <mat-card-subtitle i18n="Subtitle">Carter - 6 dobras</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/jp7">
                        <mat-card-subtitle i18n="Subtitle">Jackson & Pollock - 7 dobras</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/wb2">
                        <mat-card-subtitle i18n="Subtitle">Wilmore Behnke - 2 dobras</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/wb3">
                        <mat-card-subtitle i18n="Subtitle">Wilmore Behnke - 3 dobras</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/will">
                        <mat-card-subtitle i18n="Subtitle">Williams - 4 dobras</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/all">
                        <mat-card-subtitle i18n="Subtitle">Todas as Dobras</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-expansion-panel>

            <mat-expansion-panel  (opened)="panelOpenState = true">
                <mat-expansion-panel-header>
                    <mat-panel-title i18n="Title">
                        BIOIMPEDÂNCIA
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-card>
                    <mat-card-header routerLink="/balanca">
                        <mat-card-subtitle i18n="Subtitle">Balança</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/scaner">
                        <mat-card-subtitle i18n="Subtitle">SCANER</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header routerLink="/dexa">
                    <mat-panel-title i18n="Title">
                        DEXA
                    </mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true">
                <mat-expansion-panel-header>
                    <mat-panel-title i18n="Title">
                        ANTROPOMETRIA
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-card>
                    <mat-card-header routerLink="/tw">
                        <mat-card-subtitle i18n="Subtitle">Tran & Weltman</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/wst">
                        <mat-card-subtitle i18n="Subtitle">Weltman Seip & Tran</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/welt">
                        <mat-card-subtitle i18n="Subtitle">Weltman</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/metal">
                        <mat-card-subtitle i18n="Subtitle">Mayhew et al</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-expansion-panel>
        </mat-accordion>

    </div>
    <div class="footer">
        <button mat-mini-fab color="primary" (click)="goBack()">
            <mat-icon>undo</mat-icon>
        </button>
    </div>
</div>
