<div class="container">
    <div class="header">
        <h3>Composição Corporal</h3>
    </div>

    <div class="main">
        <mat-accordion>
            <mat-expansion-panel class="accordion" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title i18n="Title | area de avaliação">
                        DOBRAS CUTÂNEAS
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-card>
                    <mat-card-header [routerLink]="['/slau/', studentId]">
                        <mat-card-subtitle i18n="Subtitle" >Slaugther 2 dobras</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header [routerLink]="['/jp3/', studentId]">
                        <mat-card-subtitle i18n="Subtitle">Jackson & Pollock 3 dobras</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header [routerLink]="['/dw4/', studentId]">
                        <mat-card-subtitle i18n="Subtitle">Durnin & Wormersley 4 dobras</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header [routerLink]="['/sloan2/', studentId]">
                        <mat-card-subtitle i18n="Subtitle">SLOAN (1967) 2 dobras</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header [routerLink]="['/guedes3/', studentId]">
                        <mat-card-subtitle i18n="Subtitle">Guedes 3 dobras</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header [routerLink]="['/pb4/', studentId]">
                        <mat-card-subtitle i18n="Subtitle">Petroski (1995) Brasileiros 4 dobras</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header [routerLink]="['/carter/', studentId]">
                        <mat-card-subtitle i18n="Subtitle">Carter 6 dobras</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header [routerLink]="['/jp7/', studentId]">
                        <mat-card-subtitle i18n="Subtitle">Jackson & Pollock 7 dobras</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header [routerLink]="['/wb2/', studentId]">
                        <mat-card-subtitle i18n="Subtitle">Wilmore Behnke 2 dobras</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header [routerLink]="['/wb3/', studentId]">
                        <mat-card-subtitle i18n="Subtitle">Wilmore Behnke 3 dobras</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header [routerLink]="['/will/', studentId]">
                        <mat-card-subtitle i18n="Subtitle">Williams (1992) 4 dobras</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-expansion-panel>

            <mat-expansion-panel >
                <mat-expansion-panel-header (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-panel-title i18n="Title">
                        BIOIMPEDÂNCIA
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-card>
                    <mat-card-header [routerLink]="['/balanca/', studentId]">
                        <mat-card-subtitle i18n="Subtitle">Balança</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title i18n="Title">
                        ANTROPOMETRIA
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-card>
                    <mat-card-header [routerLink]="['/tw/', studentId]">
                        <mat-card-subtitle i18n="Subtitle">TRAN & Weltman</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header [routerLink]="['/deur/', studentId]">
                        <mat-card-subtitle i18n="Subtitle">Deuremberg</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header [routerLink]="['/welt/', studentId]">
                        <mat-card-subtitle i18n="Subtitle">Weltman</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-expansion-panel>
        </mat-accordion>

    </div>
    <div class="footer">
        <button mat-mini-fab color="primary" (click)="goBack()">
            <mat-icon>undo</mat-icon>
        </button>
    </div>
</div>
