<div class="container">
    <app-header-name></app-header-name>

    <div class="section">
        <h1 class="h1-title">Composição Corporal</h1>
        <mat-accordion>
            <mat-expansion-panel class="accordion" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title i18n="Title | area de avaliação">
                        DOBRAS CUTÂNEAS
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-card>
                    <mat-card-header routerLink="/all">
                        <mat-card-subtitle i18n="Subtitle">Somatório de Dobras</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/dw4">
                        <mat-card-subtitle i18n="Subtitle" 
                        [style.color]="(age >= 17 && age <= 72 && sex=='M' || age >= 16 && age <= 68 && sex=='F') ? 'white' : '#AAAAAA'">
                        Durnin & Wormersley - 4 dobras
                    </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-footer>
                        <small>Homens: dos 17 aos 72 anos;<br /> Mulheres: dos 16 aos 68 anos;</small>
                    </mat-card-footer>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/faulkner">
                        <mat-card-subtitle i18n="Subtitle">Faulkner - 4 dobras</mat-card-subtitle>
                    </mat-card-header>
                    <!--                     <mat-card-footer>
                        <small>Homens: 17 a 72 Anos; Mulheres: 16 a 68 Anos;</small>
                    </mat-card-footer> -->
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/guedes3">
                        <mat-card-subtitle i18n="Subtitle">Guedes - 3 dobras</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/jp3">
                        <mat-card-subtitle i18n="Subtitle"
                        [style.color]="(age >= 18 && age <= 61 && sex=='M' || age >= 18 && age <= 55 && sex=='F') ? 'white' : '#AAAAAA'">
                            Jackson & Pollock - 3 dobras
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-footer>
                        <small>Homens: dos 18 aos 61 anos;<br /> Mulheres: dos 18 aos 55 anos;</small>
                    </mat-card-footer>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/jp7">
                        <mat-card-subtitle i18n="Subtitle"
                        [style.color]="(age >= 18 && age <= 55) ? 'white' : '#AAAAAA'">
                            Jackson & Pollock - 7 dobras
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-footer>
                        <small>Dos 18 aos 55 anos;</small>
                    </mat-card-footer>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/pb4">
                        <mat-card-subtitle i18n="Subtitle"
                        [style.color]="(age >= 18 && age <= 66 && sex=='M' || age >= 18 && age <= 51 && sex=='F') ? 'white' : '#AAAAAA'">
                            Petroski - 4 dobras
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-footer>
                        <small>Homens: dos 18 aos 66 anos;<br /> Mulheres: dos 18 aos 51 anos;</small>
                    </mat-card-footer>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/slau">
                        <mat-card-subtitle i18n="Subtitle" [style.color]="age < 16 ? 'white' : '#AAAAAA'">Slaugther - 2 dobras</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-footer>
                        <small>Até aos 16 anos;</small>
                    </mat-card-footer>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/sloan2">
                        <mat-card-subtitle i18n="Subtitle"
                        [style.color]="(age >= 18 && age <= 26 && sex=='M' || age >= 17 && age <= 25 && sex=='F') ? 'white' : '#AAAAAA'">
                        Sloan - 2 dobras
                    </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-footer>
                        <small>Homens: dos 18 aos 26 anos;<br /> Mulheres: dos 17 aos 25 anos;</small>
                    </mat-card-footer>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/will">
                        <mat-card-subtitle i18n="Subtitle"
                        [style.color]="( age >= 34 && age <= 84 && sex=='F') ? 'white' : '#AAAAAA'">
                        Williams - 4 dobras
                    </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-footer>
                        <small>Homens: todas idades;<br /> Mulheres: dos 34 aos 84 anos;</small>
                    </mat-card-footer>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/wb2">
                        <mat-card-subtitle i18n="Subtitle"
                        [style.color]="(age >= 17 && age <= 72 && sex==='M') ? 'white' : '#AAAAAA'">
                        Wilmore & Behnke - 2 dobras
                    </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-footer>
                        <small>Homens: dos 16 aos 37 anos</small>
                    </mat-card-footer>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/wb3">
                        <mat-card-subtitle i18n="Subtitle"
                        [style.color]="sex==='F' ? 'white' : '#AAAAAA'">
                        Wilmore & Behnke - 3 dobras
                    </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-footer>
                        <small>Mulheres: todas as idades;</small>
                    </mat-card-footer>
                </mat-card>


            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true">
                <mat-expansion-panel-header>
                    <mat-panel-title i18n="Title">
                        BIOIMPEDÂNCIA
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-card>
                    <mat-card-header routerLink="/balanca">
                        <mat-card-subtitle i18n="Subtitle">Balança</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/scaner">
                        <mat-card-subtitle i18n="Subtitle">SCANNER</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header routerLink="/dexa">
                    <mat-panel-title i18n="Title">
                        DEXA
                    </mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true">
                <mat-expansion-panel-header>
                    <mat-panel-title i18n="Title">
                        ANTROPOMETRIA
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <!--                 <mat-card>
                    <mat-card-header routerLink="/metal">
                        <mat-card-subtitle i18n="Subtitle">Mayhew et al</mat-card-subtitle>
                    </mat-card-header>
                </mat-card> -->
                <mat-card>
                    <mat-card-header routerLink="/tw">
                        <mat-card-subtitle i18n="Subtitle">Tran & Weltman</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/vogel">
                        <mat-card-subtitle i18n="Subtitle">Vogel et al</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/weltal">
                        <mat-card-subtitle i18n="Subtitle">Weltman et al</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <!--                 <mat-card>
                    <mat-card-header routerLink="/welt">
                        <mat-card-subtitle i18n="Subtitle">Weltman</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>  -->
                <!--                 <mat-card>
                    <mat-card-header routerLink="/wst">
                        <mat-card-subtitle i18n="Subtitle">Weltman, Seip & Tran</mat-card-subtitle>
                    </mat-card-header>
                </mat-card> -->
            </mat-expansion-panel>
        </mat-accordion>

    </div>

</div>