.container {
  background-image: url("../../../assets/img/dobras1.jpg");
  background-repeat: no-repeat;
  background-blend-mode: normal;
  background-size: cover;
  background-position: center;
}
.section{
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

mat-expansion-panel {
  background-color: rgba(247, 248, 238, 0.604);
  border-radius: 4px;
}
mat-expansion-panel-body {
  padding: 0;
}
.mat-card {
  height: 30px;
  align-self: center;
  margin-bottom: 1px;
}

