<div class="container">
    <div class="header">
        <h3>Bio Impedância - Balança</h3>
    </div>
    <div class="section">
        <form #f="ngForm" (submit)="save(f.value)">
            <table>
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th class="th-top" *ngIf="pointer>=1">{{evaluation[pointer-1].data | date:'dd-LL-yyyy'}}</th>
                        <th class="th-top" *ngIf="pointer>=0">{{evaluation[pointer].data | date:'dd-LL-yyyy'}}</th>
                        <th class="th-top" *ngIf="addEval">
                            <input name="data" #data="ngModel" [(ngModel)]="newEvaluation.data" type="date"
                                style="width: 110px;">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th><span>Balança</span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].tanita}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].tanita}}</td>
                        <td *ngIf="addEval">
                            <input name="tanita" #tanita="ngModel" [(ngModel)]="newEvaluation.tanita" type="number"
                                step="0.1">
                        </td>
                    </tr>
                    <tr>
                        <th><span>Classificação</span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].c_xclass}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].c_xclass}}</td>
                        <td *ngIf="addEval">
                            <input name="c_xclass" #c_xclass="ngModel" [(ngModel)]="newEvaluation.c_xclass" type="text"
                                style="width: 110px;">
                        </td>
                    </tr>
                    <tr>
                        <th>% Gordura</th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].c_percg}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].c_percg}}</td>
                        <td *ngIf="addEval">
                            <input name="c_percg" #c_percg="ngModel" [(ngModel)]="newEvaluation.c_percg" type="number"
                                step="0.1">
                        </td>
                    </tr>
                    <tr>
                        <th>Massa Gorda</th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].massa_gorda}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].massa_gorda}}</td>
                        <td *ngIf="addEval">
                            <input name="massa_gorda" #massa_gorda="ngModel" [(ngModel)]="newEvaluation.massa_gorda"
                                type="number" step="0.1">
                        </td>
                    </tr>
                    <tr>
                        <th>Massa Magra</th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].massa_magra}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].massa_magra}}</td>
                        <td *ngIf="addEval">
                            <input name="massa_magra" #massa_magra="ngModel" [(ngModel)]="newEvaluation.massa_magra"
                                type="number" step="0.1">
                        </td>
                    </tr>
                    <tr>
                        <th>Gordura Visceral</th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].gordura_visceral}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].gordura_visceral}}</td>
                        <td *ngIf="addEval">
                            <input name="gordura_visceral" #gordura_visceral="ngModel"
                                [(ngModel)]="newEvaluation.gordura_visceral" type="number" step="0.1">
                        </td>
                    </tr>
                    <tr>
                        <th>Taxa Metabólica Basal</th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].tmb}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].tmb}}</td>
                        <td *ngIf="addEval">
                            <input name="tmb" #tmb="ngModel" [(ngModel)]="newEvaluation.tmb" type="number" step="0.1">
                        </td>
                    </tr>
                    <tr>
                        <th>Reactância</th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].reactancia}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].reactancia}}</td>
                        <td *ngIf="addEval">
                            <input name="reactancia" #reactancia="ngModel" [(ngModel)]="newEvaluation.reactancia"
                                type="number" step="0.1">
                        </td>
                    </tr>
                    <tr>
                        <th>Estrutura Ossea</th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].estrutura_ossea}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].estrutura_ossea}}</td>
                        <td *ngIf="addEval">
                            <input name="estrutura_ossea" #estrutura_ossea="ngModel"
                                [(ngModel)]="newEvaluation.estrutura_ossea" type="number" step="0.1">
                        </td>
                    </tr>
                    <tr>
                        <th>Peso Desejado</th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].peso_desejado}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].peso_desejado}}</td>
                        <td *ngIf="addEval">
                            <input name="peso_desejado" #peso_desejado="ngModel"
                                [(ngModel)]="newEvaluation.peso_desejado" type="number" step="0.1">
                        </td>
                    </tr>
                    <tr>
                        <th>Nivel de Atividade Fisica</th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].naf}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].naf}}</td>
                        <td *ngIf="addEval">
                            <input name="naf" #naf="ngModel" [(ngModel)]="newEvaluation.naf" type="number" step="0.1">
                        </td>
                    </tr>
                    <tr>
                        <th>Água Corporal Total</th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].agua_corporal_total}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].agua_corporal_total}}</td>
                        <td *ngIf="addEval">
                            <input name="agua_corporal_total" #agua_corporal_total="ngModel"
                                [(ngModel)]="newEvaluation.agua_corporal_total" type="number" step="0.1">
                        </td>
                    </tr>
                    <tr>
                        <th>Impedância</th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].impedancia}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].impedancia}}</td>
                        <td *ngIf="addEval">
                            <input name="impedancia" #impedancia="ngModel" [(ngModel)]="newEvaluation.impedancia"
                                type="number" step="0.1">
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="action">
                <button type="button" *ngIf="!addEval" [disabled]="pointer<=1" mat-mini-fab color="default"
                    (click)="pointer=pointer-1">
                    <mat-icon class="mat-14">chevron_left</mat-icon>
                </button>
                <button type="button" *ngIf="!addEval" mat-fab (click)="addEvaluation()">
                    <mat-icon class="mat-18">add</mat-icon>
                </button>
                <button type="button" *ngIf="!addEval" [disabled]="pointer == maxPointer-1 || pointer == -1"
                    mat-mini-fab color="default" (click)="pointer=pointer+1">
                    <mat-icon class="mat-14">chevron_right</mat-icon>
                </button>
                <button type="button" *ngIf="addEval" mat-fab color="default" (click)="closeInput()">
                    <mat-icon class="mat-18">close</mat-icon>
                </button>
                <button *ngIf="addEval" mat-fab>
                    <mat-icon class="mat-18">check</mat-icon>
                </button>
            </div>
        </form>

    </div>

    <div class="footer">
        <a mat-mini-fab color="primary" (click)="goBack()">
            <mat-icon>undo</mat-icon>
        </a>
    </div>
</div>