<div class="container">
    <app-header-name></app-header-name>
    <div class="section">
        <h1 class="h1-title" i18n>Bio Impedância - Balança</h1>
        <form #f="ngForm" (submit)="save(f.value)">
            <input type="hidden" name="altura" #altura="ngModel" [(ngModel)]="newEvaluation.altura">
            <table>
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th class="th-top" *ngIf="pointer>=1">
                            <button type="button" (click)="chartSelected='pie'; setEvaluation(evaluation[pointer-1])">
                                {{evaluation[pointer-1].data | date:'dd/LL/yyyy'}}
                            </button>
                        </th>
                        <th class="th-top" *ngIf="pointer>=0">
                            <button type="button" (click)="chartSelected='pie'; setEvaluation(evaluation[pointer])">
                                {{evaluation[pointer].data | date:'dd/LL/yyyy'}}
                            </button>
                        </th>
                        <th class="th-top" *ngIf="addEval">
                            <input name="data" #data="ngModel" [(ngModel)]="newEvaluation.data" type="date" class="data-input">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th><span (click)="openDialog('Peso')">Peso</span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].peso | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].peso | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input  class="hidde-arrows" name="peso" #peso="ngModel" [(ngModel)]="newEvaluation.peso" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th><span (click)="openDialog('% Gordura')">% Gordura</span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].perc_gordura_bl | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].perc_gordura_bl | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="perc_gordura_bl" #perc_gordura_bl="ngModel" [(ngModel)]="newEvaluation.perc_gordura_bl" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th><span (click)="openDialog('Gordura Total')">Gordura Total <small>(kg)</small></span></th>
                        <td *ngIf="pointer>=1">{{+evaluation[pointer-1].gordura_total  | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{+evaluation[pointer].gordura_total | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="gordura_total" #gordura_total="ngModel" [(ngModel)]="newEvaluation.gordura_total" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th><span (click)="openDialog('Massa Gorda')">Massa Gorda <small>(kg)</small></span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].massa_gorda | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].massa_gorda | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="massa_gorda" #massa_gorda="ngModel" [(ngModel)]="newEvaluation.massa_gorda" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th><span (click)="openDialog('Massa Magra')">Massa Magra <small>(kg)</small></span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].massa_magra | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].massa_magra | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="massa_magra" #massa_magra="ngModel" [(ngModel)]="newEvaluation.massa_magra" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th><span (click)="openDialog('Gordura Visceral')">Gordura Visceral <small>(kg)</small></span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].gordura_visceral | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].gordura_visceral | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="gordura_visceral" #gordura_visceral="ngModel"
                                [(ngModel)]="newEvaluation.gordura_visceral" type="number">
                        </td>
                    </tr>

                    <tr><th class="form-subtitle">Massa Muscular</th></tr>
                    <tr>
                        <th><span (click)="openDialog('Membros Superiores Dir')">Membros Superiores Dir <small>(kg)</small></span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].mm_msupd | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].mm_msupd | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="mm_msupd" #mm_msupd="ngModel"
                                [(ngModel)]="newEvaluation.mm_msupd" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th><span (click)="openDialog('Membros Superiores Esq')">Membros Superiores Esq <small>(kg)</small></span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].mm_msupe | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].mm_msupe | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="mm_msupe" #mm_msupe="ngModel"
                                [(ngModel)]="newEvaluation.mm_msupe" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th><span (click)="openDialog('Membros Inferiores Dir')">Membros Inferiores Dir <small>(kg)</small></span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].mm_minfd | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].mm_minfd | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="mm_minfd" #mm_minfd="ngModel"
                                [(ngModel)]="newEvaluation.mm_minfd" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th><span (click)="openDialog('Membros Inferiores Esq')">Membros Inferiores Esq <small>(kg)</small></span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].mm_minfe | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].mm_minfe | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="mm_minfe" #mm_minfe="ngModel"
                                [(ngModel)]="newEvaluation.mm_minfe" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th><span (click)="openDialog('Tronco')">Tronco <small>(kg)</small></span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].mm_tronco | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].mm_tronco | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="mm_tronco" #mm_tronco="ngModel"
                                [(ngModel)]="newEvaluation.mm_tronco" type="number">
                        </td>
                    </tr>

                    <tr>
                        <th><span (click)="openDialog('Taxa Metabólica Basal')">Taxa Metabólica Basal</span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].tmb | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].tmb | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="tmb" #tmb="ngModel" [(ngModel)]="newEvaluation.tmb"
                                [value]="calcTMB(newEvaluation)" type="number" readonly>
                        </td>
                    </tr>
                    <tr>
                        <th><span (click)="openDialog('Reactância')">Reactância</span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].reactancia | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].reactancia | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="reactancia" #reactancia="ngModel" [(ngModel)]="newEvaluation.reactancia"
                                type="number">
                        </td>
                    </tr>
                    <tr>
                        <th><span (click)="openDialog('Estrutura Óssea')">Estrutura Óssea</span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].estrutura_ossea | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].estrutura_ossea | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="estrutura_ossea" #estrutura_ossea="ngModel"
                                [(ngModel)]="newEvaluation.estrutura_ossea" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th><span (click)="openDialog('Peso Desejado')">Peso Desejado <small>(kg)</small></span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].peso_desejado | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].peso_desejado | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="peso_desejado" #peso_desejado="ngModel"
                                [(ngModel)]="newEvaluation.peso_desejado" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th><span (click)="openDialog('Nível de Atividade Física')">Nível de Atividade Física</span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].naf | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].naf | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="naf" #naf="ngModel"
                                [(ngModel)]="newEvaluation.naf" type="number" readonly>
                        </td>
                    </tr>
                    <tr>
                        <th><span (click)="openDialog('Água Extracelular')">Água Extracelular <small>(kg)</small></span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].agua_extracelular | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].agua_extracelular | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="agua_extracelular" #agua_extracelular="ngModel"
                                [(ngModel)]="newEvaluation.agua_extracelular" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th><span (click)="openDialog('Água Corporal Total')">Água Corporal Total <small>(kg)</small></span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].agua_corporal_total | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].agua_corporal_total | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="agua_corporal_total" #agua_corporal_total="ngModel"
                                [(ngModel)]="newEvaluation.agua_corporal_total" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th><span (click)="openDialog('Impedância')">Impedância</span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].impedancia | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].impedancia | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="impedancia" #impedancia="ngModel" [(ngModel)]="newEvaluation.impedancia"
                                type="number">
                        </td>
                    </tr>
                    <tr>
                        <th><span (click)="openDialog('Relação AT/AEC')">Relação AT/AEC</span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].relacao_ataec | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].relacao_ataec | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="relacao_ataec" #relacao_ataec="ngModel" [(ngModel)]="newEvaluation.relacao_ataec"
                                type="number">
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="action">
                <button type="button" *ngIf="!addEval" [disabled]="pointer<=1" mat-mini-fab color="default"
                    (click)="pointer=pointer-1">
                    <mat-icon class="mat-14">chevron_left</mat-icon>
                </button>
                <button type="button" *ngIf="!addEval" mat-stroked-button (click)="addEvaluation()">
                    <mat-icon class="mat-18">add</mat-icon>
                </button>
                <button type="button" *ngIf="!addEval" [disabled]="pointer == maxPointer-1 || pointer == -1"
                    mat-mini-fab color="default" (click)="pointer=pointer+1">
                    <mat-icon class="mat-14">chevron_right</mat-icon>
                </button>
                <button type="button" *ngIf="addEval" mat-stroked-button color="default" (click)="closeInput()">
                    <mat-icon class="mat-18">close</mat-icon>
                </button>
                <button *ngIf="addEval" mat-stroked-button>
                    <mat-icon class="mat-18">check</mat-icon>
                </button>
            </div>
        </form>
 
<!--         <div class="graphics">
            <ngx-charts-pie-chart i18n [view]="view" [scheme]="colorScheme" [results]="chartValues" [gradient]="gradient"
                [legend]="showLegend" [legendPosition]="legendPosition" [labels]="showLabels" [doughnut]="isDoughnut"
                >
            </ngx-charts-pie-chart>
        </div> -->
    </div>
</div>