<mat-toolbar class="menu-toolbar">
    <div class="menu-element">
        <a routerLink="/dash">
            <img src="../../../assets/svg/icons/home.svg" height="22">INICIO
        </a>
    </div>
    <div class="menu-element">
        <a style="cursor: pointer;" (click)="goBack()">
            <img src="../../../assets/svg/icons/previus.svg" height="16">VOLTAR
        </a>
    </div>    
    <div class="menu-element">
        <a href="" (click)="logout()">
            <img src="../../../assets/svg/icons/out.png" height="20">SAIR
        </a>
    </div>
</mat-toolbar>