$min-width: 1024px;

.mat-toolbar {
  width: 100vw;
  height: 6vh;
  background-color: rgb(115, 240, 240);
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;

  .menu-element{
    color: rgb(18, 108, 110);
    display: inline;
    a{
      color: rgb(18, 108, 110);
      display: block;
      font-size: 14px;
    }

  }
}

@media only screen and (min-width: $min-width) {
  
}
a {
  color: whitesmoke;
  text-decoration: none;

  .menu-icon {
    margin-top: 10px;
  }
}
a:hover {
  color: whitesmoke;
  text-decoration: none;

  .menu-icon {
    margin-top: 10px;
  }
}
a:visited {
  color: whitesmoke;
  text-decoration: none;

  .menu-icon {
    margin-top: 10px;
  }
}
