$min-width: 1024px;


.menu-toolbar{
  width: 100%;
}

@media only screen and (min-width: $min-width) {
  .menu-toolbar{
    width: 60vw;
    margin: auto;
  }
  .alphapro{
    font-family: 'Fredoka One', cursive;
    font-size: 22px;
    font-weight: 500;
  }

  .menu-icon {
    padding: 0 16px;
  }
}

.menu-icon {
    padding: 0 7px;
  }
  
  .menu-spacer {
    flex: 1 1 auto;
  }
  .menu-username{
    font-size: 12px;
    font-weight: 400;
  }

  a { 
    color: whitesmoke;
    text-decoration: none;
    
    .menu-icon{
      margin-top: 10px;
    }
  }
  a:hover { 
    color:whitesmoke; 
    text-decoration: none;
    
    .menu-icon{
      margin-top: 10px;
    }
  }
  a:visited { 
    color: whitesmoke;
    text-decoration: none;
    
    .menu-icon{
      margin-top: 10px;
    }
  }