.section{
  flex-direction: column;
  justify-content: start;
}

.section-info{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.section-info-image{
  width: 80%;
  img{
    width:100%;
  }
}




 