<div class="container">
    <app-header-name></app-header-name>

    <div class="section">
        <div class="section-content">
            <h1 i18n="Title">Testes Ortopédicos</h1>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title i18n="Title">
                            CERVICAL
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-card>
                        <mat-card-header routerLink="/video/Teste de Compressao Cervical e de Spurling.mp4">
                            <mat-card-subtitle i18n="Subtitle">Teste de Compressão Cervical e de Spurling
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            Testar a compressão das raízes nervosas do plexo cervical e branquial.
                        </mat-card-content>
                    </mat-card>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title i18n="Title">
                            LOMBAR
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-card>
                        <mat-card-header routerLink="/video/Teste de Lasegue.mp4">
                            <mat-card-subtitle i18n="Subtitle">Teste de Lasègue e Bragard
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            Teste provocativo para dor lombar associada a compressão radicular e/ou ciatalgia.
                        </mat-card-content>
                    </mat-card>
                    <mat-card>
                        <mat-card-header routerLink="/video/Teste de Slump.mp4">
                            <mat-card-subtitle i18n="Subtitle">Teste de Slump
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            Teste provocativo para hérnia, meningite, radiculopatia.
                        </mat-card-content>
                    </mat-card>
                    <mat-card>
                        <mat-card-header routerLink="/video/Teste Neurodinaico do Nervo Femural.mp4">
                            <mat-card-subtitle i18n="Subtitle">Teste Neurodinâmico do Nervo Femoral
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            Teste provocativo para a irritação do nervo femoral.
                        </mat-card-content>
                    </mat-card>
                    <mat-card>
                        <mat-card-header routerLink="/video/Teste de Kemp.mp4">
                            <mat-card-subtitle i18n="Subtitle">Teste de Kemp
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            Compressão radicular e/ou inflamação das facetas articulares.
                        </mat-card-content>
                    </mat-card>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title i18n="Title">
                            SACROILÍACA E QUADRIL
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-card>
                        <mat-card-header routerLink="/video/testedecompressaodasacroiliaca.mp4">
                            <mat-card-subtitle i18n="Subtitle">Teste de Compressão da Sacroilíaca
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            Teste provocativo para inflamação da sacroilíaca.
                        </mat-card-content>
                    </mat-card>
                    <mat-card>
                        <mat-card-header routerLink="/video/Teste de Faber.mp4">
                            <mat-card-subtitle i18n="Subtitle">Teste de Faber
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            Teste provocativo para inflamação da sacroilíaca.
                        </mat-card-content>
                    </mat-card>
                    <mat-card>
                        <mat-card-header routerLink="/video/Teste de Faber Plano2.mp4">
                            <mat-card-subtitle i18n="Subtitle">Teste de Faber - Plano 2
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            Teste provocativo para inflamação da sacroilíaca.
                        </mat-card-content>
                    </mat-card>
                    <mat-card>
                        <mat-card-header routerLink="/video/Teste de Ober.mp4">
                            <mat-card-subtitle i18n="Subtitle">Teste de Ober
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            Testar o encurtamento da fáscia (banda) ílio tibial.
                        </mat-card-content>
                    </mat-card>
                    <mat-card>
                        <mat-card-header routerLink="/video/Teste de Thomas.mp4">
                            <mat-card-subtitle i18n="Subtitle">Teste de Thomas
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            Testar encurtamento dos músculos Psoas e Reto femoral.
                        </mat-card-content>
                    </mat-card>
                    <mat-card>
                        <mat-card-header routerLink="/video/Teste de Trendelenburg.mp4">
                            <mat-card-subtitle i18n="Subtitle">Teste de Trendelenburg
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            Testa a correta ativação do glúteo médio e mínimo.
                        </mat-card-content>
                    </mat-card>
                    <mat-card>
                        <mat-card-header routerLink="/video/Teste de Trust Sacral.mp4">
                            <mat-card-subtitle i18n="Subtitle">Teste de Thrust Sacral
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            Teste provocativo para inflamação da sacroilíaca.
                        </mat-card-content>
                    </mat-card>
                    <mat-card>
                        <mat-card-header routerLink="/video/Teste Provocativo de Distracao.mp4">
                            <mat-card-subtitle i18n="Subtitle">Teste Provocativo de Distração
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            Teste provocativo para a parte anterior da sacroilíaca.
                        </mat-card-content>
                    </mat-card>
                    <mat-card>
                        <mat-card-header routerLink="/video/Teste Provocativo de Lesao do Labrum.mp4">
                            <mat-card-subtitle i18n="Subtitle">Teste Provocativo de Lesão do Labrum
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            Teste provocativo para impacto no labrum póstero-inferior
                        </mat-card-content>
                    </mat-card>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title i18n="Title">
                            COMPLEXO DO OMBRO E CINTURA ESCAPULAR
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-card>
                        <mat-card-header routerLink="/video/Teste de Gerber.mp4">
                            <mat-card-subtitle i18n="Subtitle">Teste de Gerber
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            Testa lesões do tendão ou músculo subescapular.
                        </mat-card-content>
                    </mat-card>
                    <mat-card>
                        <mat-card-header routerLink="/video/Teste de Impingement.mp4">
                            <mat-card-subtitle i18n="Subtitle">Teste do Arco do Movimento
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            Testa o conflito subacromial.
                        </mat-card-content>
                    </mat-card>
                    <mat-card>
                        <mat-card-header routerLink="/video/Teste de Job.mp4">
                            <mat-card-subtitle i18n="Subtitle">Teste de Jobe
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            Testa lesões do tendão ou músculo supraespinhoso.
                        </mat-card-content>
                    </mat-card>
                    <mat-card>
                        <mat-card-header routerLink="/video/Teste de Cancela.mp4">
                            <mat-card-subtitle i18n="Subtitle">Teste de Cancela
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            Testa lesão no tendão ou músculo infraespinhoso.
                        </mat-card-content>
                    </mat-card>
                    <mat-card>
                        <mat-card-header routerLink="/video/Teste de Peits.mp4">
                            <mat-card-subtitle i18n="Subtitle">Teste de Patte
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            Testa lesão no tendão ou músculo do supraespinhoso e redondo menor.
                        </mat-card-content>
                    </mat-card>
                    <mat-card>
                        <mat-card-header routerLink="/video/Teste de Yergason.mp4">
                            <mat-card-subtitle i18n="Subtitle">Teste de Yergason
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            Testa lesões do tendão da cabeça longa do bíceps e/ou lesão no labrum superior da glenóide.
                        </mat-card-content>
                    </mat-card>
                    <mat-card>
                        <mat-card-header routerLink="/video/Teste Napoleao.mp4">
                            <mat-card-subtitle i18n="Subtitle">Teste de Napoleão
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            Testa lesões do tendão ou músculo subescapular.
                        </mat-card-content>
                    </mat-card>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title i18n="Title">
                            JOELHO
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-card>
                        <mat-card-header routerLink="/video/Teste de Gaveta Posterior.mp4">
                            <mat-card-subtitle i18n="Subtitle">Teste de Gaveta Posterior
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            Testa a integridade do ligamento cruzado posterior.
                        </mat-card-content>
                    </mat-card>
                    <mat-card>
                        <mat-card-header routerLink="/video/Teste de Gaveta Anterior.mp4">
                            <mat-card-subtitle i18n="Subtitle">Teste de Gaveta Anterior
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            Testa a integridade do ligamento cruzado anterior.
                        </mat-card-content>
                    </mat-card>
                    <mat-card>
                        <mat-card-header routerLink="/video/Teste de Lelli.mp4">
                            <mat-card-subtitle i18n="Subtitle">Teste de Lelli
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            Testa a integridade do ligamento cruzado anterior.
                        </mat-card-content>
                    </mat-card>
                    <mat-card>
                        <mat-card-header routerLink="/video/testedeapley.mp4">
                            <mat-card-subtitle i18n="Subtitle">Teste de Apley
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            Testa a integridade dos meniscos.
                        </mat-card-content>
                    </mat-card>
                    <mat-card>
                        <mat-card-header routerLink="/video/Teste de Grinding.mp4">
                            <mat-card-subtitle i18n="Subtitle">Teste Grinding
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            Testa a integridade dos meniscos.
                        </mat-card-content>
                    </mat-card>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>