<div class="container">
    <app-header-name></app-header-name>

    <div class="section">
        <h1 class="h1-title" i18n>Testes de Banco</h1>
        <div class="section-cards">
            <mat-card>
                <mat-card-header [routerLink]="['/banco']">
                    <mat-card-subtitle i18n="Subtitle">Katch & McArdle (1984) - 3min</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <mat-card>
                <mat-card-header [routerLink]="['/bancoymca']">
                    <mat-card-subtitle i18n="Subtitle">YMCA - 3min</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </div>
    </div>
</div>