<div class="charts">
  <ngx-charts-bar-vertical-2d [view]="view" [scheme]="colorScheme" [results]="multi" [gradient]="gradient"
    [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel1"
    [legendPosition]="legendPosition" [legendTitle]="legendTitle" [barPadding]="barPadding"
    [groupPadding]="groupPadding">
  </ngx-charts-bar-vertical-2d>


  <ngx-charts-bar-vertical-2d [view]="view" [scheme]="colorScheme" [results]="multi2" [gradient]="gradient"
    [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
    [yAxisLabel]="yAxisLabel2" [legendPosition]="legendPosition" [legendTitle]="legendTitle" [barPadding]="barPadding"
    [groupPadding]="groupPadding">
  </ngx-charts-bar-vertical-2d>

</div>