.container {
  background-image: url("./../../../assets/img/measurement-1698856.jpg");
  background-repeat: no-repeat;
  background-blend-mode: normal;
  background-size: cover;
  background-position: center;
}

form {
  display: flex;
  flex-direction: column;
  background-color: rgba(245, 245, 245, 0.7);
  width: 500px;
  height: 400px;
  padding: 15px;
  border-radius: 7px;
  margin: auto;
}
