.container {
    background-image: url("./../../../../assets/img/CON 012.JPG");
    background-repeat: no-repeat;
    background-blend-mode: normal;
    background-size: cover;
    background-position: center; 
}

.section{
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}

.text-box{
    width: 96%;
    margin: auto;
    border: 1px rgb(58, 57, 57) solid;
    color: white;
    font-size: smaller;
}


@media only screen and (min-width: 768px){

    
    .section{
        width: 540px;
    }



    ::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* make scrollbar transparent */
    }
}


.mat-card{
    width: 280px;
    margin-bottom: 4px;
   /*  display: inline-flex; */
}

.action{
    width: 200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}





.mat-radio-button{
    padding-right: 20px;
}
