<div class="container">
    <div class="header">
        <h3 i18n>Sloan - 2 dobras</h3>
    </div>
    <div class="section">
        <form #f="ngForm" (submit)="save(f.value)">
            <input type="hidden"  name="altura" #altura="ngModel" [(ngModel)]="newEvaluation.altura">
            <input type="hidden"  name="peso" #peso="ngModel" [(ngModel)]="newEvaluation.peso">
            <table>
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th class="th-top" *ngIf="pointer>=1">
                            <button type="button" (click)="setEvaluation(evaluation[pointer-1])">
                                {{evaluation[pointer-1].data | date:'dd-LL-yyyy'}}
                            </button>
                        </th>
                        <th class="th-top" *ngIf="pointer>=0">
                            <button type="button" (click)="setEvaluation(evaluation[pointer])">
                                {{evaluation[pointer].data | date:'dd-LL-yyyy'}}
                            </button>
                        </th>
                        <th class="th-top" *ngIf="addEval">
                            <input name="data" #data="ngModel" [(ngModel)]="newEvaluation.data" type="date"
                                style="width: 110px;">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="sexo=='M'">
                        <th i18n><span (click)="openHelpDialog('Subescapular')">Subescapular</span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].subescapular}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].subescapular}}</td>
                        <td *ngIf="addEval">
                            <input name="subescapular" #subescapular="ngModel" [(ngModel)]="newEvaluation.subescapular"
                                type="number" step="0.1">
                        </td>
                    </tr>
                    <tr *ngIf="sexo=='F'">
                        <th i18n><span (click)="openHelpDialog('Triciptal')">Triciptal</span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].tricipital}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].tricipital}}</td>
                        <td *ngIf="addEval">
                            <input name="tricipital" #tricipital="ngModel" [(ngModel)]="newEvaluation.tricipital"
                                type="number" step="0.1">
                        </td>
                    </tr>
                    <tr *ngIf="sexo=='M'">
                        <th i18n><span (click)="openHelpDialog('Coxa')">Coxa</span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].crural}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].crural}}</td>
                        <td *ngIf="addEval">
                            <input name="crural" #crural="ngModel" [(ngModel)]="newEvaluation.crural" type="number"
                                step="0.1">
                        </td>
                    </tr>
                    <tr *ngIf="sexo=='F'">
                        <th i18n><span (click)="openHelpDialog('Suprailiaca')">Suprailiaca</span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].Suprailiaca}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].Suprailiaca}}</td>
                        <td *ngIf="addEval">
                            <input name="Suprailiaca" #Suprailiaca="ngModel" [(ngModel)]="newEvaluation.Suprailiaca"
                                type="number" step="0.1">
                        </td>
                    </tr>
                    <tr>
                        <th i18n>Media</th>
                        <td *ngIf="pointer>=1 && sexo =='M'">
                            {{(+evaluation[pointer-1].subescapular + +evaluation[pointer-1].crural) / 2 |number: '1.2-2'}}
                        </td>
                        <td *ngIf="pointer>=1 && sexo =='F'">
                            {{(+evaluation[pointer-1].tricipital + +evaluation[pointer-1].suprailiaca) / 2 |number: '1.2-2'}}
                        </td>
                        <td *ngIf="pointer>=0 && sexo == 'M'">
                            {{(+evaluation[pointer].subescapular + +evaluation[pointer].crural) / 2 |number: '1.2-2'}}
                        </td>
                        <td *ngIf="pointer>=0 && sexo == 'F'">
                            {{(+evaluation[pointer].tricipital + +evaluation[pointer].suprailiaca) / 2 |number: '1.2-2'}}
                        </td>
                        <td *ngIf="addEval">&nbsp;</td>
                    </tr>
                    <tr>
                        <th i18n>Somatório</th>
                        <td *ngIf="pointer>=1 && sexo =='M'">
                            {{+evaluation[pointer-1].subescapular + +evaluation[pointer-1].crural |number: '1.2-2'}}
                        </td>
                        <td *ngIf="pointer>=1 && sexo =='F'">
                            {{+evaluation[pointer-1].tricipital + +evaluation[pointer-1].suprailiaca |number: '1.2-2'}}
                        </td>
                        <td *ngIf="pointer>=0 && sexo == 'M'">
                            {{+evaluation[pointer].subescapular + +evaluation[pointer].crural |number: '1.2-2'}}
                        </td>
                        <td *ngIf="pointer>=0 && sexo == 'F'">
                            {{+evaluation[pointer].tricipital + +evaluation[pointer].suprailiaca |number: '1.2-2'}}
                        </td>
                        <td *ngIf="addEval">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <small class="advise-sm" i18n>* Todas as medidas são em milimetros</small>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="action">
                <button type="button" *ngIf="!addEval" [disabled]="pointer<=1" mat-mini-fab color="default"
                    (click)="pointer=pointer-1">
                    <mat-icon class="mat-14">chevron_left</mat-icon>
                </button>
                <button type="button" *ngIf="!addEval" mat-fab (click)="addEvaluation()">
                    <mat-icon class="mat-18">add</mat-icon>
                </button>
                <button type="button" *ngIf="!addEval" [disabled]="pointer == maxPointer-1 || pointer == -1"
                    mat-mini-fab color="default" (click)="pointer=pointer+1">
                    <mat-icon class="mat-14">chevron_right</mat-icon>
                </button>
                <button type="button" *ngIf="addEval" mat-fab color="default" (click)="closeInput()">
                    <mat-icon class="mat-18">close</mat-icon>
                </button>
                <button *ngIf="addEval" mat-fab>
                    <mat-icon class="mat-18">check</mat-icon>
                </button>
            </div>
        </form>
        <div *ngIf="showChart">
            <br />
            <hr />
            <h4 style="text-align: center; color: blue;">
                {{selectedEvaluation.data | date:'dd-LL-yyyy'}}
            </h4>
            <div style="text-align: center; color: blue;">
                <mat-label i18n>% Gordura desejada <small>[{{gorduraDesejada}}]</small>: </mat-label>
                <mat-slider min="10" max="30" step="1" thumbLabel="true" [(ngModel)]="gorduraDesejada"
                    [disabled]="!fatChanged" (change)="getNewEvaluation()">
                </mat-slider>
                <button mat-mini-fab (click)="fatChanged = !fatChanged" *ngIf="!fatChanged">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab (click)="saveFatChange()" *ngIf="fatChanged">
                    <mat-icon>save</mat-icon>
                </button>
            </div>

            <app-chart-pie [values]="single"></app-chart-pie>
            <app-chart-pie [values]="single2"></app-chart-pie>
        </div>
    </div>

    <div class="footer">
        <a mat-mini-fab color="primary" (click)="goBack()">
            <mat-icon>undo</mat-icon>
        </a>
    </div>
</div>