.container{
    background-image: url("./../../../assets/img/postural_fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
}

.box1, .box2{
    width: 280px;
    display: flex;
    flex-direction: column;
    border: darkgray;
    padding: 20px;
}

.action{
    width: 100%;
    text-align: center;
}