<div class="container">
    <div class="header">
        <h1 i18n>YMCA - 3 minutos</h1>
    </div>
    <div class="section">
        <form #f="ngForm" (submit)="save(f.value)">
            <table class="section-table">
                <input type="hidden" name="nafs" #nafs="ngModel" [ngModel]="newEvaluation.nafs">
                <input type="hidden" name="altura" #altura="ngModel" [ngModel]="newEvaluation.altura">
                <input type="hidden" name="peso" #peso="ngModel" [ngModel]="newEvaluation.peso">
                <input type="hidden" name="fc2" #fc2="ngModel" [ngModel]="newEvaluation.fc2">
                <input type="hidden" name="idade" #idade="ngModel" [ngModel]="newEvaluation.idade">
                <input type="hidden" name="sexo" #sexo="ngModel" [ngModel]="newEvaluation.sexo">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th class="th-top" *ngIf="pointer>=1">{{evaluation[pointer-1].data | date:'dd/LL/yyyy'}}</th>
                        <th class="th-top" *ngIf="pointer>=0">{{evaluation[pointer].data | date:'dd/LL/yyyy'}}</th>
                        <th class="th-top" *ngIf="addEval">
                            <input name="data" #data="ngModel" [(ngModel)]="newEvaluation.data" type="date" class="data-input">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th i18n><span (click)="openDialog('Metrônomo')">Metrônomo</span>
                        <span *ngIf="!addEval" class="metronomo-button">
                            <button mat-mini-fab color="warn" routerLink="/metro/">
                                <mat-icon class="mat-18">arrow_right</mat-icon>
                            </button>
                        </span>
                        </th>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th i18n>FC Final</th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].fc | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].fc | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="fc" #fc="ngModel" [(ngModel)]="newEvaluation.fc" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th i18n>Classificação</th>
                        <td *ngIf="pointer>=1">{{getClasse(evaluation[pointer-1])}}</td>
                        <td *ngIf="pointer>=0">{{getClasse(evaluation[pointer])}}</td>
                        <td *ngIf="addEval">&nbsp;</td>
                    </tr>
                    <!--  resultados -->
                    <tr>
                        <th i18n><span (click)="openDialog('FC Estimada')">FC Estimada</span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].c_fcestimada | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].c_fcestimada | number: '': locale}}</td>
                        <td *ngIf="addEval">&nbsp;</td>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('FC Reserva')">FC Reserva</span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].c_fcreserva | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].c_fcreserva | number: '': locale}}</td>
                        <td *ngIf="addEval">&nbsp;</td>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('% FC Máxima Alcançada')">% FC Máx. Alcançada</span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].c_percfcm | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].c_percfcm | number: '': locale}}</td>
                        <td *ngIf="addEval">&nbsp;</td>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('Índice Aeróbico Funcional')">Índice Aeróbico Funcional (FAI)</span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].c_fai | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].c_fai | number: '': locale}}</td>
                        <td *ngIf="addEval">&nbsp;</td>
                    </tr>                    
                    <tr>
                        <th i18n><span (click)="openDialog('VO2 Máximo Obtido')">VO2 Máx Obtido</span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].c_vo2m | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].c_vo2m | number: '': locale}}</td>
                        <td *ngIf="addEval">&nbsp;</td>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('VO2 Máximo Estimado')">VO2 Máx. Estimado</span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].c_vo2e | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].c_vo2e | number: '': locale}}</td>
                        <td *ngIf="addEval">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <em>*Frequência Cardiaca (FC) em batimentos por minuto (bpm)</em>

            <div class="action">
                <button type="button" *ngIf="!addEval" [disabled]="pointer<=1" mat-mini-fab color="default"
                    (click)="pointer=pointer-1">
                    <mat-icon class="mat-14">chevron_left</mat-icon>
                </button>
                <button type="button" *ngIf="!addEval" mat-fab (click)="addEvaluation()">
                    <mat-icon class="mat-18">add</mat-icon>
                </button>
                <button type="button" *ngIf="!addEval" [disabled]="pointer == maxPointer-1 || pointer == -1"
                    mat-mini-fab color="default" (click)="pointer=pointer+1">
                    <mat-icon class="mat-14">chevron_right</mat-icon>
                </button>
                <button type="button" *ngIf="addEval" mat-fab color="default" (click)="closeInput()">
                    <mat-icon class="mat-18">close</mat-icon>
                </button>
                <button *ngIf="addEval" mat-fab>
                    <mat-icon class="mat-18">check</mat-icon>
                </button>
            </div>
        </form>
        <div class="section-info">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Especificações</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p><strong>Destinado a: </strong></p>
                    <p><strong>Faixa etária:</strong> Adultos maiores de 18 anos, homens e mulheres.</p>
                    <p><strong>Objetivo:</strong> Subir e descer um banco num .... durante 3 minutos.</p>
                </mat-card-content>
            </mat-card>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Faixa etária</th>
                    <th>18-25</th>
                    <th>26-35</th>
                    <th>36-45</th>
                    <th>46-55</th>
                    <th>56-65</th>
                    <th>65+</th>
                </tr>
            </thead>
            <tbody *ngIf="student.sexo =='M'">
                <tr>
                    <th>Excelente</th>
                    <td>70-78</td>
                    <td>73-79</td>
                    <td>72-82</td>
                    <td>78-84</td>
                    <td>72-82</td>
                    <td>72-86</td>
                </tr>
                <tr>
                    <th>Boa</th>
                    <td>82-88</td>
                    <td>83-88</td>
                    <td>86-94</td>
                    <td>89-96</td>
                    <td>89-97</td>
                    <td>89-95</td>
                </tr>
                <tr>
                    <th>Acima da média</th>
                    <td>91-97</td>
                    <td>91-97</td>
                    <td>98-102</td>
                    <td>99-103</td>
                    <td>98-101</td>
                    <td>97-102</td>
                </tr>
                <tr>
                    <th>Média</th>
                    <td>101-104</td>
                    <td>101-106</td>
                    <td>105-111</td>
                    <td>109-105</td>
                    <td>105-111</td>
                    <td>104-113</td>
                </tr>
                <tr>
                    <th>Abaixo da média</th>
                    <td>107-114</td>
                    <td>109-116</td>
                    <td>113-118</td>
                    <td>118-121</td>
                    <td>113-118</td>
                    <td>114-119</td>
                </tr>
                <tr>
                    <th>Pobre</th>
                    <td>118-126</td>
                    <td>119-126</td>
                    <td>120-128</td>
                    <td>124-130</td>
                    <td>122-128</td>
                    <td>122-128</td>
                </tr>
                <tr>
                    <th>Abaixo da média</th>
                    <td>131-164</td>
                    <td>130-164</td>
                    <td>132-163</td>
                    <td>135-158</td>
                    <td>131-150</td>
                    <td>133-152</td>
                </tr>
            </tbody>
            <tbody *ngIf="student.sexo =='F'">
                <tr>
                    <th>Excelente</th>
                    <td>72-73</td>
                    <td>72-86</td>
                    <td>74-87</td>
                    <td>76-93</td>
                    <td>74-92</td>
                    <td>73-86</td>
                </tr>
                <tr>
                    <th>Boa</th>
                    <td>88-97</td>
                    <td>91-97</td>
                    <td>903-101</td>
                    <td>96-102</td>
                    <td>97-103/td>
                    <td>93-100</td>
                </tr>
                <tr>
                    <th>Acima da média</th>
                    <td>100-106</td>
                    <td>103-110</td>
                    <td>104-109</td>
                    <td>106-113</td>
                    <td>106-111</td>
                    <td>104-114</td>
                </tr>
                <tr>
                    <th>Média</th>
                    <td>110-116</td>
                    <td>112-118</td>
                    <td>111-117</td>
                    <td>117-120</td>
                    <td>113-117</td>
                    <td>117-121</td>
                </tr>
                <tr>
                    <th>Abaixo da média</th>
                    <td>118-124</td>
                    <td>121-127</td>
                    <td>120-127</td>
                    <td>121-126</td>
                    <td>1119-127</td>
                    <td>123-127</td>
                </tr>
                <tr>
                    <th>Pobre</th>
                    <td>128-137</td>
                    <td>129-135</td>
                    <td>130-138</td>
                    <td>127-133</td>
                    <td>129-136</td>
                    <td>129-134</td>
                </tr>
                <tr>
                    <th>Abaixo da média</th>
                    <td>142-155</td>
                    <td>141-154</td>
                    <td>143-152</td>
                    <td>138-152</td>
                    <td>142-151</td>
                    <td>135-151</td>
                </tr>
            </tbody>
        </table>
        <em>Morrow, JR; Jackson, A.; Disch, J. e Mood, D. (2003). Medida e Avaliação do Desempenho Humano. 2ªed. Porto Alegre. ArtMed.</em>


    </div>

    <div class="footer">
        <a mat-mini-fab color="primary" (click)="goBack()">
            <mat-icon>undo</mat-icon>
        </a>
    </div>
</div>