<div class="container">
    <div class="header">
        <h3 i18n>Jackson & Pollock - 3 dobras</h3>
    </div>
    <div class="section">
        <form #f="ngForm" (submit)="save(f.value)">
            <input type="hidden" name="altura" #altura="ngModel" [(ngModel)]="newEvaluation.altura">
            <input type="hidden" name="peso" #peso="ngModel" [(ngModel)]="newEvaluation.peso">
            <table>
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th class="th-top" *ngIf="pointer>=1">
                            <button type="button" (click)="setEvaluation(evaluation[pointer-1])">
                                {{evaluation[pointer-1].data | date:'dd-LL-yyyy'}}
                            </button>
                        </th>
                        <th class="th-top" *ngIf="pointer>=0">
                            <button type="button" (click)="setEvaluation(evaluation[pointer])">
                                {{evaluation[pointer].data | date:'dd-LL-yyyy'}}
                            </button>
                        </th>
                        <th class="th-top" *ngIf="addEval">
                            <input name="data" #data="ngModel" [(ngModel)]="newEvaluation.data" type="date"
                                style="width: 110px;">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="student.sexo == 'M'">
                        <th i18n><span (click)="openHelpDialog('Peitoral')">Peitoral</span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].peitoral}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].peitoral}}</td>
                        <td *ngIf="addEval">
                            <input name="peitoral" #peitoral="ngModel" [(ngModel)]="newEvaluation.peitoral"
                                type="number" step="0.1">
                        </td>
                    </tr>
                    <tr *ngIf="student.sexo == 'F'">
                        <th i18n><span (click)="openHelpDialog('Triciptal')">Triciptal</span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].triciptal}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].triciptal}}</td>
                        <td *ngIf="addEval">
                            <input name="triciptal" #triciptal="ngModel" [(ngModel)]="newEvaluation.triciptal"
                                type="number" step="0.1">
                        </td>
                    </tr>
                    <tr *ngIf="student.sexo == 'M'">
                        <th i18n><span (click)="openHelpDialog('Abdominal')">Abdominal</span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].abdominal}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].abdominal}}</td>
                        <td *ngIf="addEval">
                            <input name="abdominal" #abdominal="ngModel" [(ngModel)]="newEvaluation.abdominal"
                                type="number" step="0.1">
                        </td>
                    </tr>
                    <tr *ngIf="student.sexo == 'F'">
                        <th i18n><span (click)="openHelpDialog('Suprailiaca')">Suprailiaca</span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].suprailiaca}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].suprailiaca}}</td>
                        <td *ngIf="addEval">
                            <input name="suprailiaca" #suprailiaca="ngModel" [(ngModel)]="newEvaluation.suprailiaca"
                                type="number" step="0.1">
                        </td>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openHelpDialog('Coxa')">Coxa</span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].crural}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].crural}}</td>
                        <td *ngIf="addEval">
                            <input name="crural" #crural="ngModel" [(ngModel)]="newEvaluation.crural" type="number"
                                step="0.1">
                        </td>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openHelpDialog('Media')">Media</span></th>
                        <td *ngIf="pointer>=1 && student.sexo=='M'">
                            {{(+evaluation[pointer-1].peitoral + +evaluation[pointer-1].abdominal + +evaluation[pointer-1].crural) / 3 | number : '1.2-2'}}
                        </td>
                        <td *ngIf="pointer>=0 && student.sexo=='M'">
                            {{(+evaluation[pointer].peitoral + +evaluation[pointer].abdominal + +evaluation[pointer].crural) / 3 | number : '1.2-2'}}
                        </td>
                        <td *ngIf="pointer>=1 && student.sexo=='F'">
                            {{(+evaluation[pointer-1].triciptal + +evaluation[pointer-1].suprailiaca + +evaluation[pointer-1].crural) / 3 | number : '1.2-2'}}
                        </td>
                        <td *ngIf="pointer>=0 && student.sexo=='F'">
                            {{(+evaluation[pointer].triciptal + +evaluation[pointer].suprailiaca + +evaluation[pointer].crural) / 3 | number : '1.2-2'}}
                        </td>
                        <td *ngIf="addEval">&nbsp;</td>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openHelpDialog('Somatório')">Somatório</span></th>
                        <td *ngIf="pointer>=1 && student.sexo=='M'">
                            {{+evaluation[pointer-1].peitoral + +evaluation[pointer-1].abdominal + +evaluation[pointer-1].crural | number : '1.2-2'}}
                        </td>
                        <td *ngIf="pointer>=0 && student.sexo=='M'">
                            {{+evaluation[pointer].peitoral + +evaluation[pointer].abdominal + +evaluation[pointer].crural | number : '1.2-2'}}
                        </td>
                        <td *ngIf="pointer>=1 && student.sexo=='F'">
                            {{+evaluation[pointer-1].triciptal + +evaluation[pointer-1].suprailiaca + +evaluation[pointer-1].crural | number : '1.2-2'}}
                        </td>
                        <td *ngIf="pointer>=0 && student.sexo=='F'">
                            {{+evaluation[pointer].triciptal + +evaluation[pointer].suprailiaca + +evaluation[pointer].crural | number : '1.2-2'}}
                        </td>
                        <td *ngIf="addEval">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <small class="advise-sm" i18n>* Todas as medidas são em milimetros</small>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="action">
                <button type="button" *ngIf="!addEval" [disabled]="pointer<=1" mat-mini-fab color="default"
                    (click)="pointer=pointer-1">
                    <mat-icon class="mat-14">chevron_left</mat-icon>
                </button>
                <button type="button" *ngIf="!addEval" mat-fab (click)="addEvaluation()">
                    <mat-icon class="mat-18">add</mat-icon>
                </button>
                <button type="button" *ngIf="!addEval" [disabled]="pointer == maxPointer-1 || pointer == -1"
                    mat-mini-fab color="default" (click)="pointer=pointer+1">
                    <mat-icon class="mat-14">chevron_right</mat-icon>
                </button>
                <button type="button" *ngIf="addEval" mat-fab color="default" (click)="closeInput()">
                    <mat-icon class="mat-18">close</mat-icon>
                </button>
                <button *ngIf="addEval" mat-fab>
                    <mat-icon class="mat-18">check</mat-icon>
                </button>
            </div>
        </form>
        <br />
        <hr />

        <div *ngIf="showChart">
            <div style="text-align: center; color: blue;">
                <div>
                    <mat-button-toggle-group name="chartSelected" [(ngModel)]="chartSelected">
                        <mat-button-toggle value="pie">{{selectedEvaluation.data | date:'dd-LL-yyyy'}}
                        </mat-button-toggle>
                        <mat-button-toggle value="compare">Comparativo</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                <div *ngIf="chartSelected=='pie'">
                    <mat-label i18n>% Gordura Desejada <small>[{{gorduraDesejada}}]</small> : </mat-label>
                    <mat-slider min="10" max="30" step="1" thumbLabel="true" [(ngModel)]="gorduraDesejada"
                        [disabled]="!fatChanged" (change)="getNewEvaluation()">
                    </mat-slider>
                    <button mat-mini-fab (click)="fatChanged = !fatChanged" *ngIf="!fatChanged">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-mini-fab (click)="saveFatChange()" *ngIf="fatChanged">
                        <mat-icon>save</mat-icon>
                    </button>
                </div>
            </div>
            <!-- charts -->

            <div class="chart-pie" *ngIf="chartSelected=='pie'">
                <app-chart-pie [values]="single"></app-chart-pie>
                <app-chart-pie [values]="single2"></app-chart-pie>
            </div>
            <div *ngIf="chartSelected=='compare'">
                <app-chart-compare [id]="student.id" [protocolo]="protocolo" [percgd]="gorduraDesejada">
                </app-chart-compare>
            </div>
        </div>
    </div>

    <div class="footer">
        <a mat-mini-fab color="primary" (click)="goBack()">
            <mat-icon>undo</mat-icon>
        </a>
    </div>
</div>