<div class="container">
    <div class="header">
        <h1 i18n>Outros Testes</h1>
    </div>
    

    <div class="section">

                <mat-card>
                    <mat-card-header [routerLink]="['/banco']">
                        <mat-card-subtitle i18n="Subtitle">Banco - Katch & McArdle (1984) - 3min</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header [routerLink]="['/natacao']">
                        <mat-card-subtitle i18n="Subtitle">Natação - Nado Crawl na piscina - 12min</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>

    </div>
    <div class="footer">
        <a mat-mini-fab color="primary" (click)="goBack()">
            <mat-icon>undo</mat-icon>
        </a>
    </div>
</div>


