.container {
  background-image: url("../../../../assets/img/sule-makaroglu-YFmvjO3TP_s-unsplash.jpg");
  background-repeat: no-repeat;
  background-blend-mode: normal;
  background-size: cover;
  background-position: center;
}

.mat-card{
  height: 30px;
  background-color: rgba(247, 238, 238, 0.704);
  margin-bottom: 1px;
}
