<div class="container">
    <div class="header">
        <h3 i18n="Title">Componente Cardiopulmunar</h3>
        <h4 i18n>Outros Testes</h4>
    </div>
    

    <div class="main">

                <mat-card>
                    <mat-card-header [routerLink]="['/banco/', studentId]">
                        <mat-card-subtitle i18n="Subtitle">Banco - Katch & McArdle (1984) - 3min</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header [routerLink]="['/natacao/', studentId]">
                        <mat-card-subtitle i18n="Subtitle">Natação - Nado Crawl na piscina - 12min</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>

    </div>
    <div class="footer">
        <a mat-mini-fab color="primary" (click)="goBack()">
            <mat-icon>undo</mat-icon>
        </a>
    </div>
</div>


