.mat-dialog-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}
::ng-deep{
    .mat-label{
        color: black;
    }
    .mat-form-field-appearance-legacy .mat-form-field-label {
        color: black;
    }

    .mat-form-field-appearance-legacy .mat-form-field-underline {
        background-color: black;
    }
}