<div class="container">
    <div class="header">
        <h1>Vogel et al (1990)</h1>
        <h5>População Feminina</h5>
    </div>
    <div class="section">
        <form #f="ngForm" (submit)="save(f.value)">
            <input type="hidden"  name="altura" #altura="ngModel" [(ngModel)]="newEvaluation.altura">
            <input type="hidden"  name="peso" #peso="ngModel" [(ngModel)]="newEvaluation.peso">
            <input type="hidden"  name="idade" #idade="ngModel" [(ngModel)]="newEvaluation.idade">
            <table class="section-table">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th class="th-top" *ngIf="pointer>=1">
                            <button type="button" (click)="chartSelected='pie'; setEvaluation(evaluation[pointer-1])">
                                {{evaluation[pointer-1].data | date:'dd/LL/yyyy'}}
                            </button>
                        </th>
                        <th class="th-top" *ngIf="pointer>=0">
                            <button type="button" (click)="chartSelected='pie'; setEvaluation(evaluation[pointer])">
                                {{evaluation[pointer].data | date:'dd/LL/yyyy'}}
                            </button>
                        </th>
                        <th class="th-top" *ngIf="addEval">
                            <input class="hidde-arrows" name="data" #data="ngModel" [(ngModel)]="newEvaluation.data" type="date">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th i18n><span (click)="openHelpDialog('Pescoço')">Pescoço</span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].pescoco | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].pescoco | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="pescoco" #pescoco="ngModel" [(ngModel)]="newEvaluation.pescoco" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openHelpDialog('Antebraço direito')">Antebraço direito</span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].antebracod | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].antebracod | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="antebracod" #antebracod="ngModel" [(ngModel)]="newEvaluation.antebracod" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openHelpDialog('Abdominal (umbigo)')">Abdominal (umbigo)</span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].abdomen2 | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].abdomen2 | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="abdomen2" #abdomen2="ngModel" [(ngModel)]="newEvaluation.abdomen2" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openHelpDialog('Abdominal (cintura)')">Abdominal (cintura)</span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].abdomen | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].abdomen | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="abdomen" #abdomen="ngModel" [(ngModel)]="newEvaluation.abdomen" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openHelpDialog('Quadril')">Quadril</span></th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].quadril | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].quadril | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="quadril" #quadril="ngModel" [(ngModel)]="newEvaluation.quadril" type="number">
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="action">
                <button type="button" *ngIf="!addEval" [disabled]="pointer<=1" mat-mini-fab color="default"
                    (click)="pointer=pointer-1">
                    <mat-icon class="mat-14">chevron_left</mat-icon>
                </button>
                <button type="button" *ngIf="!addEval" mat-fab (click)="addEvaluation()">
                    <mat-icon class="mat-18">add</mat-icon>
                </button>
                <button type="button" *ngIf="!addEval" [disabled]="pointer == maxPointer-1 || pointer == -1"
                    mat-mini-fab color="default" (click)="pointer=pointer+1">
                    <mat-icon class="mat-14">chevron_right</mat-icon>
                </button>
                <button type="button" *ngIf="addEval" mat-fab color="default" (click)="closeInput()">
                    <mat-icon class="mat-18">close</mat-icon>
                </button>
                <button *ngIf="addEval" mat-fab>
                    <mat-icon class="mat-18">check</mat-icon>
                </button>
            </div>
        </form>
        <br />
        <hr />
        <h4 style="text-align: center; color: blue;">
            {{selectedEvaluation.data | date:'dd/LL/yyyy'}}
        </h4>
        <div *ngIf="showChart">
            <div style="text-align: center; color: blue;">
                <div>
                    <mat-button-toggle-group name="chartSelected" [(ngModel)]="chartSelected">
                        <mat-button-toggle value="pie">{{selectedEvaluation.data | date:'dd/LL/yyyy'}}
                        </mat-button-toggle>
                        <mat-button-toggle value="compare">Comparativo</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                <div *ngIf="chartSelected=='pie'">
                    <mat-label i18n>% Gordura Desejada <small>[{{gorduraDesejada}}]</small> : </mat-label>
                    <mat-slider min="10" max="30" step="1" thumbLabel="true" [(ngModel)]="gorduraDesejada"
                        [disabled]="!fatChanged" (change)="getNewEvaluation()">
                    </mat-slider>
                    <button mat-mini-fab (click)="fatChanged = !fatChanged" *ngIf="!fatChanged">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-mini-fab (click)="saveFatChange()" *ngIf="fatChanged">
                        <mat-icon>save</mat-icon>
                    </button>
                </div>
            </div>
            <!-- charts -->
            <div class="chart-pie" *ngIf="chartSelected=='pie'">
                <app-chart-pie [values]="single"></app-chart-pie>
                <app-chart-pie [values]="single2"></app-chart-pie>
            </div>
            <div *ngIf="chartSelected=='compare'">
                <app-chart-compare [id]="student.id" [protocolo]="protocolo" [percgd]="gorduraDesejada" [evaluations] = "evaluation">
                </app-chart-compare>
            </div>
        </div>

    </div>

    <div class="footer">
        <a mat-mini-fab color="primary" (click)="goBack()">
            <mat-icon>undo</mat-icon>
        </a>
    </div>
</div>
