<div class="container">
    <div class="header">
        <h1 i18n>Questionário de Prontidão para a Actividade Fisica (PAR-Q)</h1>
    </div>

    <div class="section">
        <form class="flex-form" #f="ngForm" (submit)="save(f.value)">
            <mat-card>
                <mat-card-content>
                    <p i18n>1) Seu médico já lhe disse que você é portador de um problema cardíaco e que somente deve
                        fazer actividade física recomendada por um profissional da saude?
                    </p>
                    <div class="flex-radio-group">
                        <mat-radio-group aria-label="Select an option" #parq1="ngModel" name="parq1"
                            [(ngModel)]="student.parq1">
                            <mat-radio-button value="1" i18n>Sim</mat-radio-button>
                            <mat-radio-button value="0" i18n>Não</mat-radio-button>
                        </mat-radio-group>
                    </div>

                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <p i18n>2) Você sente dor no peito quando realiza uma actividade física?</p>
                    <div class="flex-radio-group">
                        <mat-radio-group aria-label="Select an option" #parq2="ngModel" name="parq2"
                            [(ngModel)]="student.parq2">
                            <mat-radio-button value="1" i18n>Sim</mat-radio-button>
                            <mat-radio-button value="0" i18n>Não</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <p i18n>3) No último mês, você teve dor no peito quando não estava realizando uma actividade física?
                    </p>
                    <div class="flex-radio-group">
                        <mat-radio-group aria-label="Select an option" #parq3="ngModel" name="parq3"
                            [(ngModel)]="student.parq3">
                            <mat-radio-button value="1" i18n>Sim</mat-radio-button>
                            <mat-radio-button value="0" i18n>Não</mat-radio-button>
                        </mat-radio-group>
                    </div>

                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <p i18n>4) Você perdeu o equilíbrio em virtude de uma tontura ou já perdeu a consciência?
                    </p>
                    <div class="flex-radio-group">
                        <mat-radio-group aria-label="Select an option" #parq4="ngModel" name="parq4"
                            [(ngModel)]="student.parq4">
                            <mat-radio-button value="1" i18n>Sim</mat-radio-button>
                            <mat-radio-button value="0" i18n>Não</mat-radio-button>
                        </mat-radio-group>
                    </div>

                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <p i18n>5) Você sofre de algum problema ósseo ou articular que poderia ser agravado por uma mudança
                        em sua actividade física?</p>
                    <div class="flex-radio-group">
                        <mat-radio-group aria-label="Select an option" #parq5="ngModel" name="parq5"
                            [(ngModel)]="student.parq5">
                            <mat-radio-button value="1" i18n>Sim</mat-radio-button>
                            <mat-radio-button value="0" i18n>Não</mat-radio-button>
                        </mat-radio-group>
                    </div>

                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <p i18n>6) Seu médico está lhe receitando actualmente medicamentos (por exemplo, diurécticos) para a
                        Pressão arterial ou algum problema cardíaco?</p>
                    <div class="flex-radio-group">
                        <mat-radio-group aria-label="Select an option" #parq6="ngModel" name="parq6"
                            [(ngModel)]="student.parq6">
                            <mat-radio-button value="1" i18n>Sim</mat-radio-button>
                            <mat-radio-button value="0" i18n>Não</mat-radio-button>
                        </mat-radio-group>
                    </div>

                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <p i18n>7) Você está a par de alguma outra razão pela qual não deveria realizar uma actividade
                        física?</p>
                    <div class="flex-radio-group">
                        <mat-radio-group aria-label="Select an option" #parq7="ngModel" name="parq7"
                            [(ngModel)]="student.parq7">
                            <mat-radio-button value="1" i18n>Sim</mat-radio-button>
                            <mat-radio-button value="0" i18n>Não</mat-radio-button>
                        </mat-radio-group>
                    </div>

                </mat-card-content>
            </mat-card>

            <em i18n>Fonte: Sociadade Canadense de Fisiologia do Exercicio, in ACSM (2003)</em>

            <div class="footer">
                <button mat-mini-fab color="primary" (click)="goBack()">
                    <mat-icon>undo</mat-icon>
                </button>
                <button mat-mini-fab color="primary">  
                    <mat-icon>redo</mat-icon>
                </button>
            </div>
        </form>
    </div>
</div>