.container {
    background-color: rgb(13, 137, 141);
    background-image: url("./../../../../assets/img/avaliacao.jpg");
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
    background-size: cover;
    background-position: center;


    .section{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        color: white;
        &-content{
            width: 100%;
        }

        .h1-title{
            margin-top: 40px;
            font-size: 26px;
        }

        form {
            width: 100% !important;
        }

    }
}


.mat-card {
    background-color: rgba(119, 107, 107, 0.8788) !important;
    color: white;
    margin: auto;
    margin-bottom: 4px;
}
.mat-card-content{
    width: 90%;
    margin: auto;
}

.flex-radio-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.mat-radio-group {
    width: 140px;
    display: flex;
    justify-content: space-between;
}
.action {
    width: 100%;
    text-align: center;
}
em {
    font-size: x-small;
}
::ng-deep {
    .mat-radio-outer-circle {
        border-color: rgb(247, 244, 244);
    }
    .mat-stroked-button {
        border-color: white;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mat-stroked-button:not([disabled]) {
        border-color: white;
        color: white;
    }
    .mat-stroked-button:not([disabled]):hover {
        border-color: white;
        background-color: rgba(245, 245, 245, 0.555);
    }
}

@media only screen and (min-width: 768px) {

    .section-content{
        width: 425px !important;
        margin: auto;
    }

    ::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* make scrollbar transparent */
    }

    em {
        color: white;
    }
}
