.top-header {
    position: relative;
    width: 100vw;
    height: 5vh;
    &-main {
        height: 100%;
        background-color: rgb(170, 170, 170);
        display: flex;
        justify-content: center;
        align-items: center;

        .logo {
            height: 88%;
        }
    }
    &-orange {
        background-color: rgb(245, 135, 50);
        height: 20%;
    }

    .mat-button {
            position: absolute;
            top: 2px;
            right: 10px;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        .mat-icon {
            height: 20px;
            width: 20px;
            color: whitesmoke;
        }
    }
}

@media only screen and (min-width:768px){
    .top-header{
        height: 7vh;
        &-main {
            height: 80%;
        }
    }
}
