.container {
  background-image: url("./../../../../assets/img/postural_fundo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;

  .h1-title {
    width: 100%;
    height: 30px;
    font-size: 20px;
    margin-top: 10px !important;
  }

  .mat-tab-group {
    width: 100%;
  }
}

.flex-select {
  width: 90px;
}

.images {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
img {
  width: 90%;
}

.table-row-subtitle{
  background-color: rgba(59, 58, 58, 0.74);
}

.sub-line {
 text-align: start;
 color: rgb(37, 211, 211);
}
::ng-deep{
  .mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
    color: white;
    cursor: pointer;
}
  /*   .mat-form-field .mat-form-field-flex{
      color: whitesmoke;
    } */

  .mat-form-field-appearance-legacy .mat-form-field-underline {
      background-color: white;
  }
  .mat-tab-label {
    color: white;
  }

  .mat-tab-label-active{
    color: white;
    font-size: 18px;
    font-weight: 600;
  }

  .mat-select-arrow, .mat-select-placeholder, .mat-select-value,.mat-select-value-text, .mat-select-label, .mat-form-field-label {
    color: whitesmoke !important;
  }
}
@media only screen and (min-width: 768px) {
  .section{
    width: 520px !important;
  }
/*   .mat-tab-group {
    width: 0% !important;
    margin: auto;
  } */
/*   img {
    width: 90%;
  }*/
} 
