<div class="container">
    <div class="header">
        <h3 i18n="Title">Flexiteste</h3>
    </div>


    <div class="main">
        <mat-accordion>
            <mat-expansion-panel class="accordion">
                <mat-expansion-panel-header>
                    <mat-panel-title i18n="Title | area de avaliação">
                        Punho
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <form #f="ngForm" (submit)="save(f.value)">
                    <table>
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th class="th-top" *ngIf="pointer>=1">{{evaluation[pointer-1].data | date:'dd-LL-yyyy'}}</th>
                                <th class="th-top" *ngIf="pointer>=0">{{evaluation[pointer].data | date:'dd-LL-yyyy'}}</th>
                                <th class="th-top" *ngIf="addEval">
                                    <input name="data" #data="ngModel" [(ngModel)]="newEvaluation.data" type="date"
                                        style="width: 110px;">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="sub-line">
                                <th [attr.colspan]="pointer+2"><span>Flexão</span></th>
                            </tr>
                            <tr>
                                <th>Direito</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].punhof}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].punhof}}</td>
                                <td *ngIf="addEval">
                                    <input name="punhof" #punhof="ngModel" [(ngModel)]="newEvaluation.punhof"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Esquerdo</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].punhofe}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].punhofe}}</td>
                                <td *ngIf="addEval">
                                    <input name="punhofe" #punhofe="ngModel" [(ngModel)]="newEvaluation.punhofe"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].tpunhof}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].tpunhof}}</td>
                                <td *ngIf="addEval">
                                    <input name="tpunhof" #tpunhof="ngModel" [(ngModel)]="newEvaluation.tpunhof"
                                        type="number" step="1">
                                </td>
                            </tr>

                            <tr class="sub-line">
                                <th [attr.colspan]="pointer+2"><span>Extensão</span></th>
                            </tr>
                            <tr>
                                <th>Direito</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].punhoe}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].punhoe}}</td>
                                <td *ngIf="addEval">
                                    <input name="punhoe" #punhoe="ngModel" [(ngModel)]="newEvaluation.punhoe"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Esquerdo</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].punhoee}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].punhoee}}</td>
                                <td *ngIf="addEval">
                                    <input name="punhoee" #punhoee="ngModel" [(ngModel)]="newEvaluation.punhoee"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].tpunhoe}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].tpunhoe}}</td>
                                <td *ngIf="addEval">
                                    <input name="tpunhoe" #tpunhoe="ngModel" [(ngModel)]="newEvaluation.tpunhoe"
                                        type="number" step="1">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="action">
                        <button type="button" *ngIf="!addEval" [disabled]="pointer<=1" mat-mini-fab color="default"
                            (click)="pointer=pointer-1">
                            <mat-icon class="mat-14">chevron_left</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addEval" mat-fab (click)="addEvaluation()">
                            <mat-icon class="mat-18">add</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addEval" [disabled]="pointer == maxPointer-1 || pointer == -1"
                            mat-mini-fab color="default" (click)="pointer=pointer+1">
                            <mat-icon class="mat-14">chevron_right</mat-icon>
                        </button>
                        <button type="button" *ngIf="addEval" mat-fab color="default" (click)="closeInput()">
                            <mat-icon class="mat-18">close</mat-icon>
                        </button>
                        <button *ngIf="addEval" mat-fab>
                            <mat-icon class="mat-18">check</mat-icon>
                        </button>
                    </div>
                </form>


            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title i18n="Title">
                        Cotovelo
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <form #f="ngForm" (submit)="save(f.value)">
                    <table>
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th class="th-top" *ngIf="pointer>=1">{{evaluation[pointer-1].data | date:'dd-LL-yyyy'}}</th>
                                <th class="th-top" *ngIf="pointer>=0">{{evaluation[pointer].data | date:'dd-LL-yyyy'}}</th>
                                <th class="th-top" *ngIf="addEval">
                                    <input name="data" #data="ngModel" [(ngModel)]="newEvaluation.data" type="date"
                                        style="width: 110px;">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="sub-line">
                                <th [attr.colspan]="pointer+2"><span>Flexão</span></th>
                            </tr>
                            <tr>
                                <th>Direito</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].cotovelof}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].cotovelof}}</td>
                                <td *ngIf="addEval">
                                    <input name="cotovelof" #cotovelof="ngModel" [(ngModel)]="newEvaluation.cotovelof"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Esquerdo</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].cotovelofe}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].cotovelofe}}</td>
                                <td *ngIf="addEval">
                                    <input name="cotovelofe" #cotovelofe="ngModel" [(ngModel)]="newEvaluation.cotovelofe"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].tcotovelof}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].tcotovelof}}</td>
                                <td *ngIf="addEval">
                                    <input name="tcotovelof" #tcotovelof="ngModel" [(ngModel)]="newEvaluation.tcotovelof"
                                        type="number" step="1">
                                </td>
                            </tr>

                            <tr class="sub-line">
                                <th [attr.colspan]="pointer+2"><span>Extensão</span></th>
                            </tr>
                            <tr>
                                <th>Direito</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].cotoveloe}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].cotoveloe}}</td>
                                <td *ngIf="addEval">
                                    <input name="cotoveloe" #cotoveloe="ngModel" [(ngModel)]="newEvaluation.cotoveloe"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Esquerdo</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].cotoveloee}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].cotoveloee}}</td>
                                <td *ngIf="addEval">
                                    <input name="cotoveloee" #cotoveloee="ngModel" [(ngModel)]="newEvaluation.cotoveloee"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].tcotoveloe}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].tcotoveloe}}</td>
                                <td *ngIf="addEval">
                                    <input name="tcotoveloe" #tcotoveloe="ngModel" [(ngModel)]="newEvaluation.tcotoveloe"
                                        type="number" step="1">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="action">
                        <button type="button" *ngIf="!addEval" [disabled]="pointer<=1" mat-mini-fab color="default"
                            (click)="pointer=pointer-1">
                            <mat-icon class="mat-14">chevron_left</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addEval" mat-fab (click)="addEvaluation()">
                            <mat-icon class="mat-18">add</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addEval" [disabled]="pointer == maxPointer-1 || pointer == -1"
                            mat-mini-fab color="default" (click)="pointer=pointer+1">
                            <mat-icon class="mat-14">chevron_right</mat-icon>
                        </button>
                        <button type="button" *ngIf="addEval" mat-fab color="default" (click)="closeInput()">
                            <mat-icon class="mat-18">close</mat-icon>
                        </button>
                        <button *ngIf="addEval" mat-fab>
                            <mat-icon class="mat-18">check</mat-icon>
                        </button>
                    </div>
                </form>


            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title i18n="Title">
                        Ombro
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <form #f="ngForm" (submit)="save(f.value)">
                    <table>
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th class="th-top" *ngIf="pointer>=1">{{evaluation[pointer-1].data | date:'dd-LL-yyyy'}}</th>
                                <th class="th-top" *ngIf="pointer>=0">{{evaluation[pointer].data | date:'dd-LL-yyyy'}}</th>
                                <th class="th-top" *ngIf="addEval">
                                    <input name="data" #data="ngModel" [(ngModel)]="newEvaluation.data" type="date"
                                        style="width: 110px;">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="sub-line">
                                <th [attr.colspan]="pointer+2"><span>Abdução</span></th>
                            </tr>
                            <tr>
                                <th>Direito</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].ombroab}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].ombroab}}</td>
                                <td *ngIf="addEval">
                                    <input name="ombroab" #ombroab="ngModel" [(ngModel)]="newEvaluation.ombroab"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Esquerdo</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].ombroad}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].ombroad}}</td>
                                <td *ngIf="addEval">
                                    <input name="ombroad" #ombroad="ngModel" [(ngModel)]="newEvaluation.ombroad"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].tombro}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].tombro}}</td>
                                <td *ngIf="addEval">
                                    <input name="tombro" #tombro="ngModel" [(ngModel)]="newEvaluation.tombro"
                                        type="number" step="0.1">
                                </td>
                            </tr>

                            <tr class="sub-line">
                                <th [attr.colspan]="pointer+2"><span>Extensão Horizontal</span></th>
                            </tr>
                            <tr>
                                <th>Direito</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].ombroe}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].ombroe}}</td>
                                <td *ngIf="addEval">
                                    <input name="ombroe" #ombroe="ngModel" [(ngModel)]="newEvaluation.ombroe"
                                        type="number" step="1">
                                </td>
                            </tr>
<!--                             <tr>
                                <th>Esquerdo</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].cervicall}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].cervicall}}</td>
                                <td *ngIf="addEval">
                                    <input name="cervicall" #cervicall="ngModel" [(ngModel)]="newEvaluation.cervicall"
                                        type="number" step="0.1">
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].cervicall}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].cervicall}}</td>
                                <td *ngIf="addEval">
                                    <input name="cervicall" #cervicall="ngModel" [(ngModel)]="newEvaluation.cervicall"
                                        type="number" step="0.1">
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                    <div class="action">
                        <button type="button" *ngIf="!addEval" [disabled]="pointer<=1" mat-mini-fab color="default"
                            (click)="pointer=pointer-1">
                            <mat-icon class="mat-14">chevron_left</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addEval" mat-fab (click)="addEvaluation()">
                            <mat-icon class="mat-18">add</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addEval" [disabled]="pointer == maxPointer-1 || pointer == -1"
                            mat-mini-fab color="default" (click)="pointer=pointer+1">
                            <mat-icon class="mat-14">chevron_right</mat-icon>
                        </button>
                        <button type="button" *ngIf="addEval" mat-fab color="default" (click)="closeInput()">
                            <mat-icon class="mat-18">close</mat-icon>
                        </button>
                        <button *ngIf="addEval" mat-fab>
                            <mat-icon class="mat-18">check</mat-icon>
                        </button>
                    </div>
                </form>


            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title i18n="Title">
                        Tronco
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <form #f="ngForm" (submit)="save(f.value)">
                    <table>
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th class="th-top" *ngIf="pointer>=1">{{evaluation[pointer-1].data | date:'dd-LL-yyyy'}}</th>
                                <th class="th-top" *ngIf="pointer>=0">{{evaluation[pointer].data | date:'dd-LL-yyyy'}}</th>
                                <th class="th-top" *ngIf="addEval">
                                    <input name="data" #data="ngModel" [(ngModel)]="newEvaluation.data" type="date"
                                        style="width: 110px;">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="sub-line">
                                <th [attr.colspan]="pointer+2"><span>Flexão</span></th>
                            </tr>
                            <tr>
                                <th>Direito</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].lombarf}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].lombarf}}</td>
                                <td *ngIf="addEval">
                                    <input name="lombarf" #lombarf="ngModel" [(ngModel)]="newEvaluation.lombarf"
                                        type="number" step="1">
                                </td>
                            </tr>

                            <tr class="sub-line">
                                <th [attr.colspan]="pointer+2"><span>Extensão</span></th>
                            </tr>
                            <tr>
                                <th>Direito</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].lombare}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].lombare}}</td>
                                <td *ngIf="addEval">
                                    <input name="lombare" #lombare="ngModel" [(ngModel)]="newEvaluation.lombare"
                                        type="number" step="1">
                                </td>
                            </tr>

                            <tr class="sub-line">
                                <th [attr.colspan]="pointer+2"><span>Flexão Lateral</span></th>
                            </tr>
                            <tr>
                                <th>Direito</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].lombarl}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].lombarl}}</td>
                                <td *ngIf="addEval">
                                    <input name="lombarl" #lombarl="ngModel" [(ngModel)]="newEvaluation.lombarl"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Esquerdo</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].lombarr}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].lombarr}}</td>
                                <td *ngIf="addEval">
                                    <input name="lombarr" #lombarr="ngModel" [(ngModel)]="newEvaluation.lombarr"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].ttronco}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].ttronco}}</td>
                                <td *ngIf="addEval">
                                    <input name="ttronco" #ttronco="ngModel" [(ngModel)]="newEvaluation.ttronco"
                                        type="number" step="1">
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                    <div class="action">
                        <button type="button" *ngIf="!addEval" [disabled]="pointer<=1" mat-mini-fab color="default"
                            (click)="pointer=pointer-1">
                            <mat-icon class="mat-14">chevron_left</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addEval" mat-fab (click)="addEvaluation()">
                            <mat-icon class="mat-18">add</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addEval" [disabled]="pointer == maxPointer-1 || pointer == -1"
                            mat-mini-fab color="default" (click)="pointer=pointer+1">
                            <mat-icon class="mat-14">chevron_right</mat-icon>
                        </button>
                        <button type="button" *ngIf="addEval" mat-fab color="default" (click)="closeInput()">
                            <mat-icon class="mat-18">close</mat-icon>
                        </button>
                        <button *ngIf="addEval" mat-fab>
                            <mat-icon class="mat-18">check</mat-icon>
                        </button>
                    </div>
                </form>


            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title i18n="Title">
                        Quadril
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <form #f="ngForm" (submit)="save(f.value)">
                    <table>
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th class="th-top" *ngIf="pointer>=1">{{evaluation[pointer-1].data | date:'dd-LL-yyyy'}}</th>
                                <th class="th-top" *ngIf="pointer>=0">{{evaluation[pointer].data | date:'dd-LL-yyyy'}}</th>
                                <th class="th-top" *ngIf="addEval">
                                    <input name="data" #data="ngModel" [(ngModel)]="newEvaluation.data" type="date"
                                        style="width: 110px;">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="sub-line">
                                <th [attr.colspan]="pointer+2"><span>Flexão</span></th>
                            </tr>
                            <tr>
                                <th>Direito</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].quadrilf}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].quadrilf}}</td>
                                <td *ngIf="addEval">
                                    <input name="quadrilf" #quadrilf="ngModel" [(ngModel)]="newEvaluation.quadrilf"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Esquerdo</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].quadrilfe}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].quadrilfe}}</td>
                                <td *ngIf="addEval">
                                    <input name="quadrilfe" #quadrilfe="ngModel" [(ngModel)]="newEvaluation.quadrilfe"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].tquadrilf}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].tquadrilf}}</td>
                                <td *ngIf="addEval">
                                    <input name="tquadrilf" #tquadrilf="ngModel" [(ngModel)]="newEvaluation.tquadrilf"
                                        type="number" step="1">
                                </td>
                            </tr>

                            <tr class="sub-line">
                                <th [attr.colspan]="pointer+2"><span>Extensão</span></th>
                            </tr>
                            <tr>
                                <th>Direito</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].quadrile}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].quadrile}}</td>
                                <td *ngIf="addEval">
                                    <input name="quadrile" #quadrile="ngModel" [(ngModel)]="newEvaluation.quadrile"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Esquerdo</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].quadrilee}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].quadrilee}}</td>
                                <td *ngIf="addEval">
                                    <input name="quadrilee" #quadrilee="ngModel" [(ngModel)]="newEvaluation.quadrilee"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].tquadrile}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].tquadrile}}</td>
                                <td *ngIf="addEval">
                                    <input name="tquadrile" #tquadrile="ngModel" [(ngModel)]="newEvaluation.tquadrile"
                                        type="number" step="1">
                                </td>
                            </tr>

                            <tr class="sub-line">
                                <th [attr.colspan]="pointer+2"><span>Abdução</span></th>
                            </tr>
                            <tr>
                                <th>Direito</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].quadrilab}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].quadrilab}}</td>
                                <td *ngIf="addEval">
                                    <input name="quadrilab" #quadrilab="ngModel" [(ngModel)]="newEvaluation.quadrilab"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Esquerdo</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].quadrilabe}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].quadrilabe}}</td>
                                <td *ngIf="addEval">
                                    <input name="quadrilabe" #quadrilabe="ngModel" [(ngModel)]="newEvaluation.quadrilabe"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].tquadrilab}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].tquadrilab}}</td>
                                <td *ngIf="addEval">
                                    <input name="tquadrilab" #tquadrilab="ngModel" [(ngModel)]="newEvaluation.tquadrilab"
                                        type="number" step="1">
                                </td>
                            </tr>

                            <tr class="sub-line">
                                <th [attr.colspan]="pointer+2"><span>Adução</span></th>
                            </tr>
                            <tr>
                                <th>Direito</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].quadrilad}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].quadrilad}}</td>
                                <td *ngIf="addEval">
                                    <input name="quadrilad" #quadrilad="ngModel" [(ngModel)]="newEvaluation.quadrilad"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Esquerdo</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].quadrilade}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].quadrilade}}</td>
                                <td *ngIf="addEval">
                                    <input name="quadrilade" #quadrilade="ngModel" [(ngModel)]="newEvaluation.quadrilade"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].quadrilad}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].quadrilad}}</td>
                                <td *ngIf="addEval">
                                    <input name="quadrilad" #quadrilad="ngModel" [(ngModel)]="newEvaluation.quadrilad"
                                        type="number" step="1">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="action">
                        <button type="button" *ngIf="!addEval" [disabled]="pointer<=1" mat-mini-fab color="default"
                            (click)="pointer=pointer-1">
                            <mat-icon class="mat-14">chevron_left</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addEval" mat-fab (click)="addEvaluation()">
                            <mat-icon class="mat-18">add</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addEval" [disabled]="pointer == maxPointer-1 || pointer == -1"
                            mat-mini-fab color="default" (click)="pointer=pointer+1">
                            <mat-icon class="mat-14">chevron_right</mat-icon>
                        </button>
                        <button type="button" *ngIf="addEval" mat-fab color="default" (click)="closeInput()">
                            <mat-icon class="mat-18">close</mat-icon>
                        </button>
                        <button *ngIf="addEval" mat-fab>
                            <mat-icon class="mat-18">check</mat-icon>
                        </button>
                    </div>
                </form>


            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title i18n="Title">
                        Joelho
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <form #f="ngForm" (submit)="save(f.value)">
                    <table>
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th class="th-top" *ngIf="pointer>=1">{{evaluation[pointer-1].data | date:'dd-LL-yyyy'}}</th>
                                <th class="th-top" *ngIf="pointer>=0">{{evaluation[pointer].data | date:'dd-LL-yyyy'}}</th>
                                <th class="th-top" *ngIf="addEval">
                                    <input name="data" #data="ngModel" [(ngModel)]="newEvaluation.data" type="date"
                                        style="width: 110px;">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="sub-line">
                                <th [attr.colspan]="pointer+2"><span>Flexão</span></th>
                            </tr>
                            <tr>
                                <th>Direito</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].joelhof}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].joelhof}}</td>
                                <td *ngIf="addEval">
                                    <input name="joelhof" #joelhof="ngModel" [(ngModel)]="newEvaluation.joelhof"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Esquerdo</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].joelhofe}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].joelhofe}}</td>
                                <td *ngIf="addEval">
                                    <input name="joelhofe" #joelhofe="ngModel" [(ngModel)]="newEvaluation.joelhofe"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].tjoelhof}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].tjoelhof}}</td>
                                <td *ngIf="addEval">
                                    <input name="tjoelhof" #tjoelhof="ngModel" [(ngModel)]="newEvaluation.tjoelhof"
                                        type="number" step="1">
                                </td>
                            </tr>

                            <tr class="sub-line">
                                <th [attr.colspan]="pointer+2"><span>Extensão</span></th>
                            </tr>
                            <tr>
                                <th>Direito</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].joelhoe}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].joelhoe}}</td>
                                <td *ngIf="addEval">
                                    <input name="joelhoe" #joelhoe="ngModel" [(ngModel)]="newEvaluation.joelhoe"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Esquerdo</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].joelhoee}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].joelhoee}}</td>
                                <td *ngIf="addEval">
                                    <input name="joelhoee" #joelhoee="ngModel" [(ngModel)]="newEvaluation.joelhoee"
                                        type="number" step="0.1">
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].tjoelhoe}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].tjoelhoe}}</td>
                                <td *ngIf="addEval">
                                    <input name="tjoelhoe" #tjoelhoe="ngModel" [(ngModel)]="newEvaluation.tjoelhoe"
                                        type="number" step="0.1">
                                </td>
                            </tr>


                        </tbody>
                    </table>
                    <div class="action">
                        <button type="button" *ngIf="!addEval" [disabled]="pointer<=1" mat-mini-fab color="default"
                            (click)="pointer=pointer-1">
                            <mat-icon class="mat-14">chevron_left</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addEval" mat-fab (click)="addEvaluation()">
                            <mat-icon class="mat-18">add</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addEval" [disabled]="pointer == maxPointer-1 || pointer == -1"
                            mat-mini-fab color="default" (click)="pointer=pointer+1">
                            <mat-icon class="mat-14">chevron_right</mat-icon>
                        </button>
                        <button type="button" *ngIf="addEval" mat-fab color="default" (click)="closeInput()">
                            <mat-icon class="mat-18">close</mat-icon>
                        </button>
                        <button *ngIf="addEval" mat-fab>
                            <mat-icon class="mat-18">check</mat-icon>
                        </button>
                    </div>
                </form>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title i18n="Title">
                        Pés
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <form #f="ngForm" (submit)="save(f.value)">
                    <table>
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th class="th-top" *ngIf="pointer>=1">{{evaluation[pointer-1].data | date:'dd-LL-yyyy'}}</th>
                                <th class="th-top" *ngIf="pointer>=0">{{evaluation[pointer].data | date:'dd-LL-yyyy'}}</th>
                                <th class="th-top" *ngIf="addEval">
                                    <input name="data" #data="ngModel" [(ngModel)]="newEvaluation.data" type="date"
                                        style="width: 110px;">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="sub-line">
                                <th [attr.colspan]="pointer+2"><span>Flexão dorsal</span></th>
                            </tr>
                            <tr>
                                <th>Direito</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].tornozelod}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].tornozelod}}</td>
                                <td *ngIf="addEval">
                                    <input name="tornozelod" #tornozelod="ngModel" [(ngModel)]="newEvaluation.tornozelod"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Esquerdo</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].tornozeolp}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].tornozeolp}}</td>
                                <td *ngIf="addEval">
                                    <input name="tornozeolp" #tornozeolp="ngModel" [(ngModel)]="newEvaluation.tornozeolp"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].ttornozelod}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].ttornozelod}}</td>
                                <td *ngIf="addEval">
                                    <input name="ttornozelod" #ttornozelod="ngModel" [(ngModel)]="newEvaluation.ttornozelod"
                                        type="number" step="1">
                                </td>
                            </tr>

                            <tr class="sub-line">
                                <th [attr.colspan]="pointer+2"><span>Flexão planar</span></th>
                            </tr>
                            <tr>
                                <th>Direito</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].tornozeloab}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].tornozeloab}}</td>
                                <td *ngIf="addEval">
                                    <input name="tornozeloab" #tornozeloab="ngModel" [(ngModel)]="newEvaluation.tornozeloab"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Esquerdo</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].tornozeload}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].tornozeload}}</td>
                                <td *ngIf="addEval">
                                    <input name="tornozeload" #tornozeload="ngModel" [(ngModel)]="newEvaluation.tornozeload"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].ttornozeloab}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].ttornozeloab}}</td>
                                <td *ngIf="addEval">
                                    <input name="ttornozeloab" #ttornozeloab="ngModel" [(ngModel)]="newEvaluation.ttornozeloab"
                                        type="number" step="1">
                                </td>
                            </tr>

                            
                        </tbody>
                    </table>
                    <div class="action">
                        <button type="button" *ngIf="!addEval" [disabled]="pointer<=1" mat-mini-fab color="default"
                            (click)="pointer=pointer-1">
                            <mat-icon class="mat-14">chevron_left</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addEval" mat-fab (click)="addEvaluation()">
                            <mat-icon class="mat-18">add</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addEval" [disabled]="pointer == maxPointer-1 || pointer == -1"
                            mat-mini-fab color="default" (click)="pointer=pointer+1">
                            <mat-icon class="mat-14">chevron_right</mat-icon>
                        </button>
                        <button type="button" *ngIf="addEval" mat-fab color="default" (click)="closeInput()">
                            <mat-icon class="mat-18">close</mat-icon>
                        </button>
                        <button *ngIf="addEval" mat-fab>
                            <mat-icon class="mat-18">check</mat-icon>
                        </button>
                    </div>
                </form>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title i18n="Title">
                        Totais
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <form #f="ngForm" (submit)="save(f.value)">
                    <table>
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th class="th-top" *ngIf="pointer>=1">{{evaluation[pointer-1].data | date:'dd-LL-yyyy'}}</th>
                                <th class="th-top" *ngIf="pointer>=0">{{evaluation[pointer].data | date:'dd-LL-yyyy'}}</th>
                                <th class="th-top" *ngIf="addEval">
                                    <input name="data" #data="ngModel" [(ngModel)]="newEvaluation.data" type="date"
                                        style="width: 110px;">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="sub-line">
                                <th [attr.colspan]="pointer+2"><span>Membros Superiores</span></th>
                            </tr>
                            <tr>
                                <th>Direito</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].totalmsupdr}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].totalmsupdr}}</td>
                                <td *ngIf="addEval">
                                    <input name="totalmsupdr" #totalmsupdr="ngModel" [(ngModel)]="newEvaluation.totalmsupdr"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Esquerdo</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].totalmsupesq}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].totalmsupesq}}</td>
                                <td *ngIf="addEval">
                                    <input name="totalmsupesq" #totalmsupesq="ngModel" [(ngModel)]="newEvaluation.totalmsupesq"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].totalmsup}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].totalmsup}}</td>
                                <td *ngIf="addEval">
                                    <input name="totalmsup" #totalmsup="ngModel" [(ngModel)]="newEvaluation.totalmsup"
                                        type="number" step="1">
                                </td>
                            </tr>

                            <tr class="sub-line">
                                <th [attr.colspan]="pointer+2"><span>Membros Inferiores</span></th>
                            </tr>
                            <tr>
                                <th>Direito</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].totalminfd}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].totalminfd}}</td>
                                <td *ngIf="addEval">
                                    <input name="totalminfd" #totalminfd="ngModel" [(ngModel)]="newEvaluation.totalminfd"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Esquerdo</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].totalminfe}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].totalminfe}}</td>
                                <td *ngIf="addEval">
                                    <input name="totalminfe" #totalminfe="ngModel" [(ngModel)]="newEvaluation.totalminfe"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].totalminf}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].totalminf}}</td>
                                <td *ngIf="addEval">
                                    <input name="totalminf" #totalminf="ngModel" [(ngModel)]="newEvaluation.totalminf"
                                        type="number" step="1">
                                </td>
                            </tr>

                            <tr class="sub-line">
                                <th [attr.colspan]="pointer+2"><span>Total Geral</span></th>
                            </tr>
                            <tr>
                                <th>Direito</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].punhof}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].punhof}}</td>
                                <td *ngIf="addEval">
                                    <input name="punhof" #punhof="ngModel" [(ngModel)]="newEvaluation.punhof"
                                        type="number" step="0.1">
                                </td>
                            </tr>
                            <tr>
                                <th>Esquerdo</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].punhofe}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].punhofe}}</td>
                                <td *ngIf="addEval">
                                    <input name="punhofe" #punhofe="ngModel" [(ngModel)]="newEvaluation.punhofe"
                                        type="number" step="0.1">
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].punhof}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].punhof}}</td>
                                <td *ngIf="addEval">
                                    <input name="punhof" #punhof="ngModel" [(ngModel)]="newEvaluation.punhof"
                                        type="number" step="0.1">
                                </td>
                            </tr>

                            
                        </tbody>
                    </table>
                    <div class="action">
                        <button type="button" *ngIf="!addEval" [disabled]="pointer<=1" mat-mini-fab color="default"
                            (click)="pointer=pointer-1">
                            <mat-icon class="mat-14">chevron_left</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addEval" mat-fab (click)="addEvaluation()">
                            <mat-icon class="mat-18">add</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addEval" [disabled]="pointer == maxPointer-1 || pointer == -1"
                            mat-mini-fab color="default" (click)="pointer=pointer+1">
                            <mat-icon class="mat-14">chevron_right</mat-icon>
                        </button>
                        <button type="button" *ngIf="addEval" mat-fab color="default" (click)="closeInput()">
                            <mat-icon class="mat-18">close</mat-icon>
                        </button>
                        <button *ngIf="addEval" mat-fab>
                            <mat-icon class="mat-18">check</mat-icon>
                        </button>
                    </div>
                </form>
            </mat-expansion-panel>

        </mat-accordion>

    </div>
    <div class="footer">
        <button mat-mini-fab color="primary" (click)="goBack()">
            <mat-icon>undo</mat-icon>
        </button>
    </div>
</div>