<div class="container">
    <div class="header">
        <h3 i18n="Title">Flexiteste</h3>
    </div>


    <div class="section">
        <mat-tab-group [disableRipple]="false" [(selectedIndex)]="selectedTab">

            <mat-tab i18n label="Punho">

                <form #f="ngForm" (submit)="save(f.value)">
                    <table (swiperight)="swipeRight($event)" (swipeleft)="swipeLeft($event)">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th class="th-top" *ngIf="pointer>=1">{{evaluation[pointer-1].data | date:'dd-LL-yyyy'}}
                                </th>
                                <th class="th-top" *ngIf="pointer>=0">{{evaluation[pointer].data | date:'dd-LL-yyyy'}}
                                </th>
                                <th class="th-top" *ngIf="addEval">
                                    <input name="data" #data="ngModel" [(ngModel)]="newEvaluation.data" type="date"
                                        style="width: 110px;">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="sub-line"><span>Flexão</span></th>
                            </tr>
                            <tr>
                                <th>Direito</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].punhof}}
                                    <!-- <app-flex-class [inFlexClass]="evaluation[pointer-1].punhof"></app-flex-class> -->
                                </td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].punhof}}</td>
                                <td *ngIf="addEval">
                                    <mat-form-field class="flex-select">
                                        <mat-select name="punhof" #punhof="ngModel" (ngModel)="newEvaluation.punhof" placeholder="Selecionar">
                                            <mat-option value="0"></mat-option>
                                            <mat-option value="1">1 - Fraca</mat-option>
                                            <mat-option value="2">2 - Média</mat-option>
                                            <mat-option value="3">3 - Boa</mat-option>
                                            <mat-option value="4">4 - Excelente</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                              <!--       <input name="punhof" #punhof="ngModel" [(ngModel)]="newEvaluation.punhof" type="number" step="1"> -->
                                </td>
                            </tr>
                            <tr>
                                <th>Esquerdo</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].punhofe}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].punhofe}}</td>
                                <td *ngIf="addEval">
                                    <input name="punhofe" #punhofe="ngModel" [(ngModel)]="newEvaluation.punhofe"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td *ngIf="pointer>=1">
                                    {{+evaluation[pointer-1].punhof + +evaluation[pointer-1].punhofe}}</td>
                                <td *ngIf="pointer>=0">{{+evaluation[pointer].tpunhof + +evaluation[pointer].tpunhofe}}
                                </td>
                                <td *ngIf="addEval">&nbsp;</td>
                            </tr>
                            <tr>
                                <th class="sub-line"><span>Extensão</span></th>
                            </tr>
                            <tr>
                                <th>Direito</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].punhoe}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].punhoe}}</td>
                                <td *ngIf="addEval">
                                    <input name="punhoe" #punhoe="ngModel" [(ngModel)]="newEvaluation.punhoe"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Esquerdo</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].punhoee}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].punhoee}}</td>
                                <td *ngIf="addEval">
                                    <input name="punhoee" #punhoee="ngModel" [(ngModel)]="newEvaluation.punhoee"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td *ngIf="pointer>=1">
                                    {{+evaluation[pointer-1].punhoe + +evaluation[pointer-1].punhoee}}</td>
                                <td *ngIf="pointer>=0">{{+evaluation[pointer].punhoe + +evaluation[pointer].punhoee}}
                                </td>
                                <td *ngIf="addEval">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="action">
                        <button type="button" *ngIf="!addEval" [disabled]="pointer<=1" mat-mini-fab color="default"
                            (click)="pointer=pointer-1">
                            <mat-icon class="mat-14">chevron_left</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addEval" mat-fab (click)="addEvaluation()">
                            <mat-icon class="mat-18">add</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addEval" [disabled]="pointer == maxPointer-1" mat-mini-fab
                            color="default" (click)="pointer=pointer+1">
                            <mat-icon class="mat-14">chevron_right</mat-icon>
                        </button>
                        <button type="button" *ngIf="addEval" mat-fab color="default" (click)="closeInput()">
                            <mat-icon class="mat-18">close</mat-icon>
                        </button>
                        <button *ngIf="addEval" mat-fab>
                            <mat-icon class="mat-18">check</mat-icon>
                        </button>
                    </div>
                </form>
                <div class="images"  (swiperight)="swipeRight($event)" (swipeleft)="swipeLeft($event)">
                    <br/><br/>
                    <img src="./assets/img/flex-punho-lg.gif" alt="classificação">
                </div>
            </mat-tab>

            <mat-tab i18n label="Cotovelo">
                <form #fd="ngForm" (submit)="save(fd.value)">
                    <table (swiperight)="swipeRight($event)" (swipeleft)="swipeLeft($event)">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th class="th-top" *ngIf="pointer>=1">{{evaluation[pointer-1].data | date:'dd-LL-yyyy'}}
                                </th>
                                <th class="th-top" *ngIf="pointer>=0">{{evaluation[pointer].data | date:'dd-LL-yyyy'}}
                                </th>
                                <th class="th-top" *ngIf="addEval">
                                    <input name="data" #data="ngModel" [(ngModel)]="newEvaluation.data" type="date"
                                        style="width: 110px;">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="sub-line">
                                <th><span>Flexão</span></th>
                            </tr>
                            <tr>
                                <th>Direito</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].cotovelof}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].cotovelof}}</td>
                                <td *ngIf="addEval">
                                    <input name="cotovelof" #cotovelof="ngModel" [(ngModel)]="newEvaluation.cotovelof"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Esquerdo</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].cotovelofe}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].cotovelofe}}</td>
                                <td *ngIf="addEval">
                                    <input name="cotovelofe" #cotovelofe="ngModel"
                                        [(ngModel)]="newEvaluation.cotovelofe" type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td *ngIf="pointer>=1">
                                    {{+evaluation[pointer-1].cotovelof + +evaluation[pointer-1].cotovelofe}}</td>
                                <td *ngIf="pointer>=0">
                                    {{+evaluation[pointer].cotovelof + +evaluation[pointer].cotovelofe}}</td>
                                <td *ngIf="addEval">&nbsp;</td>
                            </tr>

                            <tr class="sub-line">
                                <th><span>Extensão</span></th>
                            </tr>
                            <tr>
                                <th>Direito</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].cotoveloe}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].cotoveloe}}</td>
                                <td *ngIf="addEval">
                                    <input name="cotoveloe" #cotoveloe="ngModel" [(ngModel)]="newEvaluation.cotoveloe"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Esquerdo</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].cotoveloee}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].cotoveloee}}</td>
                                <td *ngIf="addEval">
                                    <input name="cotoveloee" #cotoveloee="ngModel"
                                        [(ngModel)]="newEvaluation.cotoveloee" type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td *ngIf="pointer>=1">
                                    {{+evaluation[pointer-1].cotoveloe + +evaluation[pointer-1].cotoveloee}}</td>
                                <td *ngIf="pointer>=0">
                                    {{+evaluation[pointer].cotoveloe + +evaluation[pointer].cotoveloee}}</td>
                                <td *ngIf="addEval">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="action">
                        <button type="button" *ngIf="!addEval" [disabled]="pointer<=1" mat-mini-fab color="default"
                            (click)="pointer=pointer-1">
                            <mat-icon class="mat-14">chevron_left</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addEval" mat-fab (click)="addEvaluation()">
                            <mat-icon class="mat-18">add</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addEval" [disabled]="pointer == maxPointer-1 || pointer == -1"
                            mat-mini-fab color="default" (click)="pointer=pointer+1">
                            <mat-icon class="mat-14">chevron_right</mat-icon>
                        </button>
                        <button type="button" *ngIf="addEval" mat-fab color="default" (click)="closeInput()">
                            <mat-icon class="mat-18">close</mat-icon>
                        </button>
                        <button *ngIf="addEval" mat-fab>
                            <mat-icon class="mat-18">check</mat-icon>
                        </button>
                    </div>
                </form>
                <div class="images"  (swiperight)="swipeRight($event)" (swipeleft)="swipeLeft($event)">
                    <br/><br/>
                    <img src="./assets/img/flex-cotovelo-lg.gif" alt="classificação">
                </div>
            </mat-tab>

            <mat-tab i18n label="Ombro">
                <form #fom="ngForm" (submit)="save(fom.value)">
                    <table (swiperight)="swipeRight($event)" (swipeleft)="swipeLeft($event)">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th class="th-top" *ngIf="pointer>=1">{{evaluation[pointer-1].data | date:'dd-LL-yyyy'}}
                                </th>
                                <th class="th-top" *ngIf="pointer>=0">{{evaluation[pointer].data | date:'dd-LL-yyyy'}}
                                </th>
                                <th class="th-top" *ngIf="addEval">
                                    <input name="data" #data="ngModel" [(ngModel)]="newEvaluation.data" type="date"
                                        style="width: 110px;">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="sub-line">
                                <th><span>Abdução</span></th>
                            </tr>
                            <tr>
                                <th>Direito</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].ombroab}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].ombroab}}</td>
                                <td *ngIf="addEval">
                                    <input name="ombroab" #ombroab="ngModel" [(ngModel)]="newEvaluation.ombroab"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Esquerdo</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].ombroabe}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].ombroabe}}</td>
                                <td *ngIf="addEval">
                                    <input name="ombroabe" #ombroabe="ngModel" [(ngModel)]="newEvaluation.ombroabe"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td *ngIf="pointer>=1">
                                    {{+evaluation[pointer-1].ombroab + +evaluation[pointer-1].ombroabe}}</td>
                                <td *ngIf="pointer>=0">{{+evaluation[pointer].ombroab + +evaluation[pointer].ombroabe}}
                                </td>
                                <td *ngIf="addEval">&nbsp;</td>
                            </tr>

                            <tr class="sub-line">
                                <th><span>Extensão</span></th>
                            </tr>
                            <tr>
                                <th>Horizontal</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].cotoveloe}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].cotoveloe}}</td>
                                <td *ngIf="addEval">
                                    <input name="cotoveloe" #cotoveloe="ngModel" [(ngModel)]="newEvaluation.cotoveloe"
                                        type="number" step="1">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="action">
                        <button type="button" *ngIf="!addEval" [disabled]="pointer<=1" mat-mini-fab color="default"
                            (click)="pointer=pointer-1">
                            <mat-icon class="mat-14">chevron_left</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addEval" mat-fab (click)="addEvaluation()">
                            <mat-icon class="mat-18">add</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addEval" [disabled]="pointer == maxPointer-1 || pointer == -1"
                            mat-mini-fab color="default" (click)="pointer=pointer+1">
                            <mat-icon class="mat-14">chevron_right</mat-icon>
                        </button>
                        <button type="button" *ngIf="addEval" mat-fab color="default" (click)="closeInput()">
                            <mat-icon class="mat-18">close</mat-icon>
                        </button>
                        <button *ngIf="addEval" mat-fab>
                            <mat-icon class="mat-18">check</mat-icon>
                        </button>
                    </div>
                </form>
                <div class="images"  (swiperight)="swipeRight($event)" (swipeleft)="swipeLeft($event)">
                    <br/><br/>
                    <img src="./assets/img/flex-ombro-lg.gif" alt="classificação">
                </div>
            </mat-tab>

            <mat-tab i18n label="Tronco">
                <form #ft="ngForm" (submit)="save(ft.value)">
                    <table (swiperight)="swipeRight($event)" (swipeleft)="swipeLeft($event)">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th class="th-top" *ngIf="pointer>=1">{{evaluation[pointer-1].data | date:'dd-LL-yyyy'}}
                                </th>
                                <th class="th-top" *ngIf="pointer>=0">{{evaluation[pointer].data | date:'dd-LL-yyyy'}}
                                </th>
                                <th class="th-top" *ngIf="addEval">
                                    <input name="data" #data="ngModel" [(ngModel)]="newEvaluation.data" type="date"
                                        style="width: 110px;">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Flexão</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].troncof}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].troncof}}</td>
                                <td *ngIf="addEval">
                                    <input name="troncof" #troncof="ngModel" [(ngModel)]="newEvaluation.troncof"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Extensão</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].troncoe}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].troncoe}}</td>
                                <td *ngIf="addEval">
                                    <input name="troncoe" #troncoe="ngModel" [(ngModel)]="newEvaluation.troncoe"
                                        type="number" step="1">
                                </td>
                            </tr>

                            <tr class="sub-line">
                                <th><span>Flexão Lateral</span></th>
                            </tr>
                            <tr>
                                <th>Direito</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].troncold}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].troncold}}</td>
                                <td *ngIf="addEval">
                                    <input name="troncold" #troncold="ngModel" [(ngModel)]="newEvaluation.troncold"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Esquerdo</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].troncole}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].troncole}}</td>
                                <td *ngIf="addEval">
                                    <input name="troncole" #troncole="ngModel" [(ngModel)]="newEvaluation.troncole"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td *ngIf="pointer>=1">
                                    {{+evaluation[pointer-1].troncold + +evaluation[pointer-1].troncole}}</td>
                                <td *ngIf="pointer>=0">{{+evaluation[pointer].troncold + +evaluation[pointer].troncole}}
                                </td>
                                <td *ngIf="addEval">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="action">
                        <button type="button" *ngIf="!addEval" [disabled]="pointer<=1" mat-mini-fab color="default"
                            (click)="pointer=pointer-1">
                            <mat-icon class="mat-14">chevron_left</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addEval" mat-fab (click)="addEvaluation()">
                            <mat-icon class="mat-18">add</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addEval" [disabled]="pointer == maxPointer-1 || pointer == -1"
                            mat-mini-fab color="default" (click)="pointer=pointer+1">
                            <mat-icon class="mat-14">chevron_right</mat-icon>
                        </button>
                        <button type="button" *ngIf="addEval" mat-fab color="default" (click)="closeInput()">
                            <mat-icon class="mat-18">close</mat-icon>
                        </button>
                        <button *ngIf="addEval" mat-fab>
                            <mat-icon class="mat-18">check</mat-icon>
                        </button>
                    </div>
                </form>
                <div class="images"  (swiperight)="swipeRight($event)" (swipeleft)="swipeLeft($event)">
                    <br/><br/>
                    <img src="./assets/img/flex-tronco-lg.gif" alt="classificação">
                </div>
            </mat-tab>

            <mat-tab i18n label="Quadril">
                <form #fq="ngForm" (submit)="save(fq.value)">
                    <table (swiperight)="swipeRight($event)" (swipeleft)="swipeLeft($event)">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th class="th-top" *ngIf="pointer>=1">{{evaluation[pointer-1].data | date:'dd-LL-yyyy'}}
                                </th>
                                <th class="th-top" *ngIf="pointer>=0">{{evaluation[pointer].data | date:'dd-LL-yyyy'}}
                                </th>
                                <th class="th-top" *ngIf="addEval">
                                    <input name="data" #data="ngModel" [(ngModel)]="newEvaluation.data" type="date"
                                        style="width: 110px;">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="sub-line">
                                <th><span>Flexão</span></th>
                            </tr>
                            <tr>
                                <th>Direito</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].quadrilf}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].quadrilf}}</td>
                                <td *ngIf="addEval">
                                    <input name="quadrilf" #quadrilf="ngModel" [(ngModel)]="newEvaluation.quadrilf"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Esquerdo</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].quadrilfe}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].quadrilfe}}</td>
                                <td *ngIf="addEval">
                                    <input name="quadrilfe" #quadrilfe="ngModel" [(ngModel)]="newEvaluation.quadrilfe"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td *ngIf="pointer>=1">
                                    {{+evaluation[pointer-1].quadrilf + +evaluation[pointer-1].quadrilfe}}</td>
                                <td *ngIf="pointer>=0">
                                    {{+evaluation[pointer].quadrilf + +evaluation[pointer].quadrilfe}}</td>
                                <td *ngIf="addEval">&nbsp;</td>
                            </tr>

                            <tr class="sub-line">
                                <th><span>Extensão</span></th>
                            </tr>
                            <tr>
                                <th>Direito</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].quadrile}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].quadrile}}</td>
                                <td *ngIf="addEval">
                                    <input name="quadrile" #quadrile="ngModel" [(ngModel)]="newEvaluation.quadrile"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Esquerdo</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].quadrilee}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].quadrilee}}</td>
                                <td *ngIf="addEval">
                                    <input name="quadrilee" #quadrilee="ngModel" [(ngModel)]="newEvaluation.quadrilee"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td *ngIf="pointer>=1">
                                    {{+evaluation[pointer-1].quadrile + +evaluation[pointer-1].quadrilee}}</td>
                                <td *ngIf="pointer>=0">
                                    {{+evaluation[pointer].quadrile + +evaluation[pointer].quadrilee}}</td>
                                <td *ngIf="addEval">&nbsp;</td>
                            </tr>
                            <tr class="sub-line">
                                <th><span>Abdução</span></th>
                            </tr>
                            <tr>
                                <th>Direito</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].quadrilab}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].quadrilab}}</td>
                                <td *ngIf="addEval">
                                    <input name="quadrilab" #quadrilab="ngModel" [(ngModel)]="newEvaluation.quadrilab"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Esquerdo</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].quadrilabe}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].quadrilabe}}</td>
                                <td *ngIf="addEval">
                                    <input name="quadrilabe" #quadrilabe="ngModel"
                                        [(ngModel)]="newEvaluation.quadrilabe" type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td *ngIf="pointer>=1">
                                    {{+evaluation[pointer-1].quadrilab + +evaluation[pointer-1].quadrilabe}}</td>
                                <td *ngIf="pointer>=0">
                                    {{+evaluation[pointer].quadrilab + +evaluation[pointer].quadrilabe}}</td>
                                <td *ngIf="addEval">&nbsp;</td>
                            </tr>

                            <tr class="sub-line">
                                <th><span>Adução</span></th>
                            </tr>
                            <tr>
                                <th>Direito</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].quadrilad}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].quadrilad}}</td>
                                <td *ngIf="addEval">
                                    <input name="quadrilad" #quadrilad="ngModel" [(ngModel)]="newEvaluation.quadrilad"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Esquerdo</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].quadrilade}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].quadrilade}}</td>
                                <td *ngIf="addEval">
                                    <input name="quadrilade" #quadrilade="ngModel"
                                        [(ngModel)]="newEvaluation.quadrilade" type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td *ngIf="pointer>=1">
                                    {{+evaluation[pointer-1].quadrilad + +evaluation[pointer-1].quadrilade}}</td>
                                <td *ngIf="pointer>=0">
                                    {{+evaluation[pointer].quadrilad + +evaluation[pointer].quadrilade}}</td>
                                <td *ngIf="addEval">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="action">
                        <button type="button" *ngIf="!addEval" [disabled]="pointer<=1" mat-mini-fab color="default"
                            (click)="pointer=pointer-1">
                            <mat-icon class="mat-14">chevron_left</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addEval" mat-fab (click)="addEvaluation()">
                            <mat-icon class="mat-18">add</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addEval" [disabled]="pointer == maxPointer-1 || pointer == -1"
                            mat-mini-fab color="default" (click)="pointer=pointer+1">
                            <mat-icon class="mat-14">chevron_right</mat-icon>
                        </button>
                        <button type="button" *ngIf="addEval" mat-fab color="default" (click)="closeInput()">
                            <mat-icon class="mat-18">close</mat-icon>
                        </button>
                        <button *ngIf="addEval" mat-fab>
                            <mat-icon class="mat-18">check</mat-icon>
                        </button>
                    </div>
                </form>
                <div class="images"  (swiperight)="swipeRight($event)" (swipeleft)="swipeLeft($event)">
                    <br/><br/>
                    <img src="./assets/img/flex-quadril-lg.gif" alt="classificação">
                </div>
            </mat-tab>

            <mat-tab i18n label="Joelho">
                <form #fj="ngForm" (submit)="save(fj.value)">
                    <table (swiperight)="swipeRight($event)" (swipeleft)="swipeLeft($event)">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th class="th-top" *ngIf="pointer>=1">{{evaluation[pointer-1].data | date:'dd-LL-yyyy'}}
                                </th>
                                <th class="th-top" *ngIf="pointer>=0">{{evaluation[pointer].data | date:'dd-LL-yyyy'}}
                                </th>
                                <th class="th-top" *ngIf="addEval">
                                    <input name="data" #data="ngModel" [(ngModel)]="newEvaluation.data" type="date"
                                        style="width: 110px;">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="sub-line">
                                <th><span>Flexão</span></th>
                            </tr>
                            <tr>
                                <th>Direito</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].joelhof}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].joelhof}}</td>
                                <td *ngIf="addEval">
                                    <input name="joelhof" #joelhof="ngModel" [(ngModel)]="newEvaluation.joelhof"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Esquerdo</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].joelhofe}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].joelhofe}}</td>
                                <td *ngIf="addEval">
                                    <input name="joelhofe" #joelhofe="ngModel" [(ngModel)]="newEvaluation.joelhofe"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td *ngIf="pointer>=1">
                                    {{+evaluation[pointer-1].joelhof + +evaluation[pointer-1].joelhofe}}</td>
                                <td *ngIf="pointer>=0">{{+evaluation[pointer].joelhof + +evaluation[pointer].joelhofe}}
                                </td>
                                <td *ngIf="addEval">&nbsp;</td>
                            </tr>

                            <tr class="sub-line">
                                <th><span>Extensão</span></th>
                            </tr>
                            <tr>
                                <th>Direito</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].joelhoe}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].joelhoe}}</td>
                                <td *ngIf="addEval">
                                    <input name="joelhoe" #joelhoe="ngModel" [(ngModel)]="newEvaluation.joelhoe"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Esquerdo</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].joelhoee}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].joelhoee}}</td>
                                <td *ngIf="addEval">
                                    <input name="joelhoee" #joelhoee="ngModel" [(ngModel)]="newEvaluation.joelhoee"
                                        type="number" step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td *ngIf="pointer>=1">
                                    {{+evaluation[pointer-1].joelhoe + +evaluation[pointer-1].joelhoee}}</td>
                                <td *ngIf="pointer>=0">{{+evaluation[pointer].joelhoe + +evaluation[pointer].joelhoee}}
                                </td>
                                <td *ngIf="addEval">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="action">
                        <button type="button" *ngIf="!addEval" [disabled]="pointer<=1" mat-mini-fab color="default"
                            (click)="pointer=pointer-1">
                            <mat-icon class="mat-14">chevron_left</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addEval" mat-fab (click)="addEvaluation()">
                            <mat-icon class="mat-18">add</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addEval" [disabled]="pointer == maxPointer-1 || pointer == -1"
                            mat-mini-fab color="default" (click)="pointer=pointer+1">
                            <mat-icon class="mat-14">chevron_right</mat-icon>
                        </button>
                        <button type="button" *ngIf="addEval" mat-fab color="default" (click)="closeInput()">
                            <mat-icon class="mat-18">close</mat-icon>
                        </button>
                        <button *ngIf="addEval" mat-fab>
                            <mat-icon class="mat-18">check</mat-icon>
                        </button>
                    </div>
                </form>
                <div class="images"  (swiperight)="swipeRight($event)" (swipeleft)="swipeLeft($event)">
                    <br/><br/>
                    <img src="./assets/img/flex-joelho-lg.gif" alt="classificação">
                </div>
            </mat-tab>

            <mat-tab i18n label="Pés">
                <form #fpe="ngForm" (submit)="save(fpe.value)">
                    <table (swiperight)="swipeRight($event)" (swipeleft)="swipeLeft($event)">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th class="th-top" *ngIf="pointer>=1">{{evaluation[pointer-1].data | date:'dd-LL-yyyy'}}
                                </th>
                                <th class="th-top" *ngIf="pointer>=0">{{evaluation[pointer].data | date:'dd-LL-yyyy'}}
                                </th>
                                <th class="th-top" *ngIf="addEval">
                                    <input name="data" #data="ngModel" [(ngModel)]="newEvaluation.data" type="date"
                                        style="width: 110px;">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="sub-line">
                                <th><span>Flexão</span></th>
                            </tr>
                            <tr>
                                <th>Direito</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].pesf}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].pesf}}</td>
                                <td *ngIf="addEval">
                                    <input name="pesf" #pesf="ngModel" [(ngModel)]="newEvaluation.pesf" type="number"
                                        step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Esquerdo</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].pesfe}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].pesfe}}</td>
                                <td *ngIf="addEval">
                                    <input name="pesfe" #pesfe="ngModel" [(ngModel)]="newEvaluation.pesfe" type="number"
                                        step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td *ngIf="pointer>=1">{{+evaluation[pointer-1].pesf + +evaluation[pointer-1].pesfe}}
                                </td>
                                <td *ngIf="pointer>=0">{{+evaluation[pointer].pesf + +evaluation[pointer].pesfe}}</td>
                                <td *ngIf="addEval">&nbsp;</td>
                            </tr>

                            <tr class="sub-line">
                                <th><span>Extensão</span></th>
                            </tr>
                            <tr>
                                <th>Direito</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].pese}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].pese}}</td>
                                <td *ngIf="addEval">
                                    <input name="pese" #pese="ngModel" [(ngModel)]="newEvaluation.pese" type="number"
                                        step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Esquerdo</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].pesee}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].pesee}}</td>
                                <td *ngIf="addEval">
                                    <input name="pesee" #pesee="ngModel" [(ngModel)]="newEvaluation.pesee" type="number"
                                        step="1">
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td *ngIf="pointer>=1">{{+evaluation[pointer-1].pese + +evaluation[pointer-1].pesee}}
                                </td>
                                <td *ngIf="pointer>=0">{{+evaluation[pointer].pese + +evaluation[pointer].pesee}}</td>
                                <td *ngIf="addEval">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="action">
                        <button type="button" *ngIf="!addEval" [disabled]="pointer<=1" mat-mini-fab color="default"
                            (click)="pointer=pointer-1">
                            <mat-icon class="mat-14">chevron_left</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addEval" mat-fab (click)="addEvaluation()">
                            <mat-icon class="mat-18">add</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addEval" [disabled]="pointer == maxPointer-1 || pointer == -1"
                            mat-mini-fab color="default" (click)="pointer=pointer+1">
                            <mat-icon class="mat-14">chevron_right</mat-icon>
                        </button>
                        <button type="button" *ngIf="addEval" mat-fab color="default" (click)="closeInput()">
                            <mat-icon class="mat-18">close</mat-icon>
                        </button>
                        <button *ngIf="addEval" mat-fab>
                            <mat-icon class="mat-18">check</mat-icon>
                        </button>
                    </div>
                </form>
                <div class="images"  (swiperight)="swipeRight($event)" (swipeleft)="swipeLeft($event)">
                    <br/><br/>
                    <img src="./assets/img/flex-pes-lg.gif" alt="classificação">
                </div>
            </mat-tab>

            <mat-tab i18n label="Totais">
                <table (swiperight)="swipeRight($event)" (swipeleft)="swipeLeft($event)">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th class="th-top" *ngIf="pointer>=1">{{evaluation[pointer-1].data | date:'dd-LL-yyyy'}}
                            </th>
                            <th class="th-top" *ngIf="pointer>=0">{{evaluation[pointer].data | date:'dd-LL-yyyy'}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="sub-line">
                            <th><span>Membros Superiores</span></th>
                        </tr>
                        <tr>
                            <th>Direito</th>
                            <td *ngIf="pointer>=1">{{evaluation[pointer-1].membsuperior}}</td>
                            <td *ngIf="pointer>=0">{{evaluation[pointer].membsuperior}}</td>
                        </tr>
                        <tr>
                            <th>Esquerdo</th>
                            <td *ngIf="pointer>=1">{{evaluation[pointer-1].membsuperiore}}</td>
                            <td *ngIf="pointer>=0">{{evaluation[pointer].membsuperiore}}</td>
                            <td *ngIf="addEval">
                                <input name="membsuperiore" #membsuperiore="ngModel"
                                    [(ngModel)]="newEvaluation.membsuperiore" type="number" step="1">
                            </td>
                        </tr>
                        <tr>
                            <th>Total</th>
                            <td *ngIf="pointer>=1">
                                {{+evaluation[pointer-1].membsuperior + +evaluation[pointer-1].membsuperiore}}</td>
                            <td *ngIf="pointer>=0">
                                {{+evaluation[pointer].membsuperior + +evaluation[pointer].membsuperiore}}</td>
                            <td *ngIf="addEval">&nbsp;</td>
                        </tr>

                        <tr class="sub-line">
                            <th><span>Membros Inferiores</span></th>
                        </tr>
                        <tr>
                            <th>Direito</th>
                            <td *ngIf="pointer>=1">{{evaluation[pointer-1].membinferiores}}</td>
                            <td *ngIf="pointer>=0">{{evaluation[pointer].membinferiores}}</td>
                            <td *ngIf="addEval">
                                <input name="membinferiores" #membinferiores="ngModel"
                                    [(ngModel)]="newEvaluation.membinferiores" type="number" step="1">
                            </td>
                        </tr>
                        <tr>
                            <th>Esquerdo</th>
                            <td *ngIf="pointer>=1">{{evaluation[pointer-1].membinferiorese}}</td>
                            <td *ngIf="pointer>=0">{{evaluation[pointer].membinferiorese}}</td>
                            <td *ngIf="addEval">
                                <input name="membinferiorese" #membinferiorese="ngModel"
                                    [(ngModel)]="newEvaluation.membinferiorese" type="number" step="1">
                            </td>
                        </tr>
                        <tr>
                            <th>Total</th>
                            <td *ngIf="pointer>=1">
                                {{+evaluation[pointer-1].membinferiores + +evaluation[pointer-1].membinferiorese}}</td>
                            <td *ngIf="pointer>=0">
                                {{+evaluation[pointer].membinferiores + +evaluation[pointer].membinferiorese}}</td>
                            <td *ngIf="addEval">&nbsp;</td>
                        </tr>
                        <tr class="sub-line">
                            <th><span>Total Geral</span></th>
                        </tr>
                        <tr>
                            <th>Direito</th>
                            <td *ngIf="pointer>=1">{{evaluation[pointer-1].totalgeral}}</td>
                            <td *ngIf="pointer>=0">{{evaluation[pointer].totalgeral}}</td>
                            <td *ngIf="addEval">
                                <input name="totalgeral" #totalgeral="ngModel" [(ngModel)]="newEvaluation.totalgeral"
                                    type="number" step="1">
                            </td>
                        </tr>
                        <tr>
                            <th>Esquerdo</th>
                            <td *ngIf="pointer>=1">{{evaluation[pointer-1].totalgerale}}</td>
                            <td *ngIf="pointer>=0">{{evaluation[pointer].totalgerale}}</td>
                            <td *ngIf="addEval">
                                <input name="totalgerale" #totalgerale="ngModel" [(ngModel)]="newEvaluation.totalgerale"
                                    type="number" step="1">
                            </td>
                        </tr>
                        <tr>
                            <th>Total</th>
                            <td *ngIf="pointer>=1">
                                {{+evaluation[pointer-1].totalgeral + +evaluation[pointer-1].totalgerale}}</td>
                            <td *ngIf="pointer>=0">
                                {{+evaluation[pointer].totalgeral + +evaluation[pointer].totalgerale}}</td>
                            <td *ngIf="addEval">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
                <div class="action">
                    <button type="button" *ngIf="!addEval" [disabled]="pointer<=1" mat-mini-fab color="default"
                        (click)="pointer=pointer-1">
                        <mat-icon class="mat-14">chevron_left</mat-icon>
                    </button>
                    <button type="button" *ngIf="!addEval" mat-fab (click)="addEvaluation()">
                        <mat-icon class="mat-18">add</mat-icon>
                    </button>
                    <button type="button" *ngIf="!addEval" [disabled]="pointer == maxPointer-1 || pointer == -1"
                        mat-mini-fab color="default" (click)="pointer=pointer+1">
                        <mat-icon class="mat-14">chevron_right</mat-icon>
                    </button>
                    <button type="button" *ngIf="addEval" mat-fab color="default" (click)="closeInput()">
                        <mat-icon class="mat-18">close</mat-icon>
                    </button>
                    <button *ngIf="addEval" mat-fab>
                        <mat-icon class="mat-18">check</mat-icon>
                    </button>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div class="footer">
        <button mat-mini-fab color="primary" (click)="goBack()">
            <mat-icon>undo</mat-icon>
        </button>
    </div>
</div>