.section{
  flex-direction: column;
  justify-content: start;
}

.form-select-sm {
  width: 100px;
}
.form-select-sm{
  width: 75px;
}
.mat-form-field{
  font-size: small;
}


table.front-view{
    background-image: url("../../../assets/img/front_view.jpg");
  }
table.side-view{
    background-image: url("../../../assets/img/side_view.jpg");
  }
table.back-view{
    background-image: url("../../../assets/img/back_view.jpg");
  }
table{
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  background-size: contain;
  background-position: center;
  background-color: rgba(255, 254, 254, 0.861);

}

.photos {
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;

  .photo {
    width: 27%;
    max-height: 100%;
    margin: auto;
    img {
      width: 100%;
    }
  }
}
