<div class="container">
    <div class="header">
        <h1 i18n>Avaliação Postural</h1>
    </div>

    <div class="section">
        <mat-tab-group [disableRipple]="false" [(selectedIndex)]="selectedTab">

            <!-- TAB - Vista anterior -->
            <mat-tab i18n label="Vista Anterior">
                <form #fa="ngForm" (submit)="saveDataForm(fa)">
                    <table id="VP" (swiperight)="swipeRight($event)" (swipeleft)="swipeLeft($event)">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th class="th-top" *ngIf="pointer>=0">{{oldData[pointer].data | date:'dd-LL-yyyy'}}</th>
                                <th class="th-top" *ngIf="addForm">
                                    <input name="data" #data="ngModel" [(ngModel)]="newData.data" type="date"
                                        style="width: 110px;">
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <th><span (click)="openDialog('Inclinação da Cabeça')">Inclinação da Cabeça</span></th>
                                <td *ngIf="pointer>=0">{{oldData[pointer].vacabi}}</td>
                                <td *ngIf="addForm">
                                    <mat-form-field class="form-select-sm">
                                        <mat-select #vacabi="ngModel" name="vacabi" [(ngModel)]="newData.vacabi"
                                            placeholder="selecionar">
                                            <mat-option value="Esquerda">Esquerda</mat-option>
                                            <mat-option value="Direita">Direita</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <th><span (click)="openDialog('Rotação da Cabeça')">Rotação da Cabeça</span></th>
                                <td *ngIf="pointer>=0">{{oldData[pointer].vacabr}}</td>
                                <td *ngIf="addForm">
                                    <mat-form-field class="form-select-sm">
                                        <mat-select #vacabr="ngModel" name="vacabr" [(ngModel)]="newData.vacabr"
                                            placeholder="selecionar">
                                            <mat-option value="Esquerda">Esquerda</mat-option>
                                            <mat-option value="Direita">Direita</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <th><span (click)="openDialog('Desnivel de Ombros')">Desnivel de Ombros</span></th>
                                <td *ngIf="pointer>=0">{{oldData[pointer].vaombrodesn}}</td>
                                <td *ngIf="addForm">
                                    <mat-form-field class="form-select-sm">
                                        <mat-select #vaombrodesn="ngModel" name="vaombrodesn"
                                            [(ngModel)]="newData.vaombrodesn" placeholder="selecionar">
                                            <mat-option value="Esquerda">Esquerda</mat-option>
                                            <mat-option value="Direita">Direita</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>

                            <tr>
                                <th><span (click)="openDialog('Rotação do Tronco')">Rotação do Tronco</span></th>
                                <td *ngIf="pointer>=0">{{oldData[pointer].vaquadril}}</td>
                                <td *ngIf="addForm">
                                    <mat-form-field class="form-select-sm">
                                        <mat-select #vaquadril="ngModel" name="vaquadril"
                                            [(ngModel)]="newData.vaquadril" placeholder="selecionar">
                                            <mat-option value="Esquerda">Esquerda</mat-option>
                                            <mat-option value="Normal">Normal</mat-option>
                                            <mat-option value="Direita">Direita</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <th><span (click)="openDialog('Triangulo de Thales')">Triangulo de Thales</span></th>
                                <td *ngIf="pointer>=0">{{oldData[pointer].vpthalesd}}</td>
                                <td *ngIf="addForm">
                                    <mat-form-field class="form-select-sm">
                                        <mat-select #vpthalesd="ngModel" name="vpthalesd"
                                            [(ngModel)]="newData.vpthalesd" placeholder="selecionar">
                                            <mat-option value="Esquerda">Esquerda</mat-option>
                                            <mat-option value="Simétrico">Simétrico</mat-option>
                                            <mat-option value="Direita">Direita</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <th><span (click)="openDialog('Altura das Cristas Iliacas')">Altura das<br />Cristas
                                        Iliacas</span></th>
                                <td *ngIf="pointer>=0">{{oldData[pointer].aci_va}}</td>
                                <td *ngIf="addForm">
                                    <mat-form-field class="form-select-sm">
                                        <mat-select #aci_va="ngModel" name="aci_va" [(ngModel)]="newData.aci_va"
                                            placeholder="selecionar">
                                            <mat-option value="Esquerda">Esquerda</mat-option>
                                            <mat-option value="Simétrico">Simétrico</mat-option>
                                            <mat-option value="Direita">Direita</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>

                            <tr>
                                <th><span (click)="openDialog('Desnivel da Pelve')">Desnivel da Pelve</span></th>
                                <td *ngIf="pointer>=0">{{oldData[pointer].vaquadril}}</td>
                                <td *ngIf="addForm">
                                    <mat-form-field class="form-select-sm">
                                        <mat-select #vaquadril="ngModel" name="vaquadril"
                                            [(ngModel)]="newData.vaquadril" placeholder="selecionar">
                                            <mat-option value="Esquerda">Esquerda</mat-option>
                                            <mat-option value="Direita">Direita</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <th><span (click)="openDialog('Joelhos')">Joelhos</span></th>
                                <td *ngIf="pointer>=0">{{oldData[pointer].vajoelho}}</td>
                                <td *ngIf="addForm">
                                    <mat-form-field class="form-select-sm">
                                        <mat-select #vajoelho="ngModel" name="vajoelho" [(ngModel)]="newData.vajoelho"
                                            placeholder="selecionar">
                                            <mat-option value="Valgo">Valgo</mat-option>
                                            <mat-option value="Varo">Varo</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <th><span (click)="openDialog('Pés')">Pés</span></th>
                                <td *ngIf="pointer>=0">{{oldData[pointer].vape}}</td>
                                <td *ngIf="addForm">
                                    <mat-form-field class="form-select-sm">
                                        <mat-select #vape="ngModel" name="vape" [(ngModel)]="newData.vape"
                                            placeholder="selecionar">
                                            <mat-option value="Abduzidos">Abduzidos</mat-option>
                                            <mat-option value="Aduzidos">Aduzidos</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="action">
                        <button type="button" *ngIf="!addForm" [disabled]="pointer<=0" mat-mini-fab color="default"
                            (click)="pointer=pointer-1">
                            <mat-icon class="mat-14">chevron_left</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addForm" mat-fab (click)="addDataForm()">
                            <mat-icon class="mat-18">add</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addForm" [disabled]="pointer == maxPointer-1" mat-mini-fab
                            color="default" (click)="pointer=pointer+1">
                            <mat-icon class="mat-14">chevron_right</mat-icon>
                        </button>
                        <button type="button" *ngIf="addForm" mat-fab color="default" (click)="closeInputs()">
                            <mat-icon class="mat-18">close</mat-icon>
                        </button>
                        <button *ngIf="addForm" mat-fab>
                            <mat-icon class="mat-18">check</mat-icon>
                        </button>
                    </div>
                </form>
            </mat-tab>
            <!-- Vista Lateral -->
            <mat-tab i18n label="Vista Lateral">
                <form #fl="ngForm" (submit)="saveDataForm(fl)">
                    <table id="VL" (swiperight)="swipeRight($event)" (swipeleft)="swipeLeft($event)">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th class="th-top" *ngIf="pointer>=0">{{oldData[pointer].data | date:'dd-LL-yyyy'}}</th>
                                <th class="th-top" *ngIf="addForm">
                                    <input name="data" #data="ngModel" [(ngModel)]="newData.data" type="date"
                                        style="width: 110px;">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th><span (click)="openDialog('Cabeça')">Cabeça</span></th>
                                <td *ngIf="pointer>=0">{{oldData[pointer].vlcab}}</td>
                                <td *ngIf="addForm">
                                    <mat-form-field class="form-select-sm">
                                        <mat-select #vlcab="ngModel" name="vlcab" [(ngModel)]="newData.vlcab"
                                            placeholder="selecionar">
                                            <mat-option value="Protraido">Protraido</mat-option>
                                            <mat-option value="Retraido">Retraido</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <th><span (click)="openDialog('Cervical')">Cervical</span></th>
                                <td *ngIf="pointer>=0">{{oldData[pointer].vlcervical}}</td>
                                <td *ngIf="addForm">
                                    <mat-form-field class="form-select-sm">
                                        <mat-select #vlcervical="ngModel" name="vlcervical"
                                            [(ngModel)]="newData.vlcervical" placeholder="selecionar">
                                            <mat-option value="Hiperlordótica">Hiperlordótica</mat-option>
                                            <mat-option value="Retificada">Retificada</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <th><span (click)="openDialog('Ombros')">Ombros</span></th>
                                <td *ngIf="pointer>=0">{{oldData[pointer].vlombro}}</td>
                                <td *ngIf="addForm">
                                    <mat-form-field class="form-select-sm">
                                        <mat-select #vlombro="ngModel" name="vlombro" [(ngModel)]="newData.vlombro"
                                            placeholder="selecionar">
                                            <mat-option value="Protraidos">Protraidos</mat-option>
                                            <mat-option value="Retraidos">Retraidos</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <th><span (click)="openDialog('Membro Superior Direito')">Membro
                                        Superior<br />Direito</span></th>
                                <td *ngIf="pointer>=0">{{oldData[pointer].msd}}</td>
                                <td *ngIf="addForm">
                                    <mat-form-field class="form-select-sm">
                                        <mat-select #msd="ngModel" name="msd" [(ngModel)]="newData.msd"
                                            placeholder="selecionar">
                                            <mat-option value="Anteriorizado">Anteriorizado</mat-option>
                                            <mat-option value="Normal">Normal</mat-option>
                                            <mat-option value="Posteriorizado">Posteriorizado</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <th><span (click)="openDialog('Membro Superior Esquerdo')">Membro
                                        Superior<br />Esquerdo</span></th>
                                <td *ngIf="pointer>=0">{{oldData[pointer].mse}}</td>
                                <td *ngIf="addForm">
                                    <mat-form-field class="form-select-sm">
                                        <mat-select #mse="ngModel" name="mse" [(ngModel)]="newData.mse"
                                            placeholder="selecionar">
                                            <mat-option value="Anteriorizado">Anteriorizado</mat-option>
                                            <mat-option value="Normal">Normal</mat-option>
                                            <mat-option value="Posteriorizado">Posteriorizado</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <th><span (click)="openDialog('Dorsal')">Dorsal</span></th>
                                <td *ngIf="pointer>=0">{{oldData[pointer].vldorsal}}</td>
                                <td *ngIf="addForm">
                                    <mat-form-field class="form-select-sm">
                                        <mat-select #vldorsal="ngModel" name="vldorsal" [(ngModel)]="newData.vldorsal"
                                            placeholder="selecionar">
                                            <mat-option value="Hipercifótica">Hipercifótica</mat-option>
                                            <mat-option value="Retificada">Retificada</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <th><span (click)="openDialog('Rotação do Tronco')">Rotação do Tronco</span></th>
                                <td *ngIf="pointer>=0">{{oldData[pointer].pescoco}}</td>
                                <td *ngIf="addForm">
                                    <mat-form-field class="form-select-sm">
                                        <mat-select #carga_peso="ngModel" name="carga_peso"
                                            [(ngModel)]="newData.carga_peso" placeholder="selecionar">
                                            <mat-option value="Esquerda">Esquerda</mat-option>
                                            <mat-option value="Normal">Normal</mat-option>
                                            <mat-option value="Direita">Direita</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <th><span (click)="openDialog('Abdómen')">Abdómen</span></th>
                                <td *ngIf="pointer>=0"><span *ngIf="oldData[pointer].vlprotusao">Protusão</span></td>
                                <td *ngIf="addForm">

                                    <input name="vlprotusao" #vlprotusao="ngModel" [(ngModel)]="newData.vlprotusao"
                                        type="checkbox">
                                    <mat-label>Protusão&nbsp;</mat-label>
                                </td>
                            </tr>
                            <tr>
                                <th><span (click)="openDialog('Lombar')">Lombar</span></th>
                                <td *ngIf="pointer>=0">{{oldData[pointer].vllombar}}</td>
                                <td *ngIf="addForm">
                                    <mat-form-field class="form-select-sm">
                                        <mat-select #vllombar="ngModel" name="vllombar" [(ngModel)]="newData.vllombar"
                                            placeholder="selecionar">
                                            <mat-option value="Hiperlordótica">Hiperlordótica</mat-option>
                                            <mat-option value="Retificada">Retificada</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <th><span (click)="openDialog('Quadril')">Quadril</span></th>
                                <td *ngIf="pointer>=0">{{oldData[pointer].quadril}}</td>
                                <td *ngIf="addForm">
                                    <mat-form-field class="form-select-sm">
                                        <mat-select #quadril="ngModel" name="quadril" [(ngModel)]="newData.quadril"
                                            placeholder="selecionar">
                                            <mat-option value="Antepulsão">Antepulsão</mat-option>
                                            <mat-option value="Retropulsão">Retropulsão</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <th><span (click)="openDialog('Pelve')">Pelve</span></th>
                                <td *ngIf="pointer>=0">{{oldData[pointer].vlquadril}}</td>
                                <td *ngIf="addForm">
                                    <mat-form-field class="form-select-sm">
                                        <mat-select #vlquadril="ngModel" name="vlquadril"
                                            [(ngModel)]="newData.vlquadril" placeholder="selecionar">
                                            <mat-option value="Anteversão">Anteversão</mat-option>
                                            <mat-option value="Retroversão">Retroversão</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <th><span (click)="openDialog('Joelhos')">Joelhos</span></th>
                                <td *ngIf="pointer>=0">{{oldData[pointer].vljoelho}}</td>
                                <td *ngIf="addForm">
                                    <mat-form-field class="form-select-sm">
                                        <mat-select #vljoelho="ngModel" name="vljoelho" [(ngModel)]="newData.vljoelho"
                                            placeholder="selecionar">
                                            <mat-option value="Flexos">Flexos</mat-option>
                                            <mat-option value="Recurvatos">Recurvatos</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <th><span (click)="openDialog('Pés')">Pés</span></th>
                                <td *ngIf="pointer>=0">{{oldData[pointer].vlpe}}</td>
                                <td *ngIf="addForm">
                                    <mat-form-field class="form-select-sm">
                                        <mat-select #vlpe="ngModel" name="vlpe" [(ngModel)]="newData.vlpe"
                                            placeholder="selecionar">
                                            <mat-option value="Cavos">Cavos</mat-option>
                                            <mat-option value="Planos">Planos</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <div class="action">
                        <button type="button" *ngIf="!addForm" [disabled]="pointer<=0" mat-mini-fab color="default"
                            (click)="pointer=pointer-1">
                            <mat-icon class="mat-14">chevron_left</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addForm" mat-fab (click)="addDataForm()">
                            <mat-icon class="mat-18">add</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addForm" [disabled]="pointer == maxPointer-1" mat-mini-fab
                            color="default" (click)="pointer=pointer+1">
                            <mat-icon class="mat-14">chevron_right</mat-icon>
                        </button>
                        <button type="button" *ngIf="addForm" mat-fab color="default" (click)="closeInputs()">
                            <mat-icon class="mat-18">close</mat-icon>
                        </button>
                        <button *ngIf="addForm" mat-fab>
                            <mat-icon class="mat-18">check</mat-icon>
                        </button>
                    </div>
                </form>
            </mat-tab>

            <!-- Vista Posterior -->
            <mat-tab i18n label="Vista Posterior">
                <form #fp="ngForm" (submit)="saveDataForm(fp)">
                    <table (swiperight)="swipeRight($event)" (swipeleft)="swipeLeft($event)">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th class="th-top" *ngIf="pointer>=0">{{oldData[pointer].data | date:'dd-LL-yyyy'}}</th>
                                <th class="th-top" *ngIf="addForm">
                                    <input name="data" #data="ngModel" [(ngModel)]="newData.data" type="date"
                                        style="width: 110px;">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th><span (click)="openDialog('Ombros')">Ombros</span></th>
                                <td *ngIf="pointer>=0">{{oldData[pointer].vpombro}}</td>
                                <td *ngIf="addForm">
                                    <mat-form-field class="form-select-sm">
                                        <mat-select #vpombro="ngModel" name="vpombro" [(ngModel)]="newData.vpombro"
                                            placeholder="selecionar">
                                            <mat-option value="Deprimidos">Deprimidos</mat-option>
                                            <mat-option value="Elevados">Elevados</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <th><span (click)="openDialog('Desnível')">Desnível</span></th>
                                <td *ngIf="pointer>=0">{{oldData[pointer].vpombrodesn}}</td>
                                <td *ngIf="addForm">
                                    <mat-form-field class="form-select-sm">
                                        <mat-select #vpombrodesn="ngModel" name="vpombrodesn"
                                            [(ngModel)]="newData.vpombrodesn" placeholder="selecionar">
                                            <mat-option value="Esquerda">Esquerda</mat-option>
                                            <mat-option value="Direita">Direita</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <th><span (click)="openDialog('Escápulas')">Escápulas</span></th>
                                <td *ngIf="pointer>=0">
                                    <span *ngIf="oldData[pointer].esc_simetrica_vp">Simétricas<br /></span>
                                    <span *ngIf="oldData[pointer].esc_assimetricas_vp">Assimétricas<br /></span>
                                    <span *ngIf="oldData[pointer].vpescad">Aduzidas<br /></span>
                                    <span *ngIf="oldData[pointer].vpesc">Abduzidas<br /></span>
                                    <span *ngIf="oldData[pointer].vpescal">Aladas<br /></span>
                                </td>
                                <td *ngIf="addForm" style="text-align: left;">
                                    <mat-checkbox name="esc_simetrica_vp" #esc_simetrica_vp="ngModel"
                                        [(ngModel)]="newData.esc_simetrica_vp" type="number">Simétricas</mat-checkbox>
                                    <br />
                                    <mat-checkbox name="esc_assimetricas_vp" #esc_assimetricas_vp="ngModel"
                                        [(ngModel)]="newData.esc_assimetricas_vp" type="number">Assimétricas
                                    </mat-checkbox><br />
                                    <mat-checkbox name="vpescad" #vpescad="ngModel" [(ngModel)]="newData.vpescad"
                                        type="number">Aduzidas</mat-checkbox><br />
                                    <mat-checkbox name="vpesc" #vpesc="ngModel" [(ngModel)]="newData.vpesc"
                                        type="number">Abduzidas</mat-checkbox><br />
                                    <mat-checkbox name="vpescal" #vpescal="ngModel" [(ngModel)]="newData.vpescal"
                                        type="number">Aladas</mat-checkbox>
                                </td>
                            </tr>
                            <tr>
                                <th><span (click)="openDialog('Escápulas Aladas')">Escápulas Aladas</span></th>
                                <td *ngIf="pointer>=0">{{oldData[pointer].esc_alada_l}}</td>
                                <td *ngIf="addForm">
                                    <mat-form-field class="form-select-sm">
                                        <mat-select #esc_alada_l="ngModel" name="esc_alada_l"
                                            [(ngModel)]="newData.esc_alada_l" placeholder="selecionar">
                                            <mat-option value="Esquerda">Esquerda</mat-option>
                                            <mat-option value="Direita">Direita</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <th><span (click)="openDialog('Gibosidade Torácica')">Gibosidade Torácica</span></th>
                                <td *ngIf="pointer>=0">{{oldData[pointer].gibosidade}}</td>
                                <td *ngIf="addForm">
                                    <mat-form-field class="form-select-sm">
                                        <mat-select #gibosidade="ngModel" name="gibosidade"
                                            [(ngModel)]="newData.gibosidade" placeholder="selecionar">
                                            <mat-option value="Esquerda">Esquerda</mat-option>
                                            <mat-option value="Ausente">Ausente</mat-option>
                                            <mat-option value="Direita">Direita</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <th><span (click)="openDialog('Escoliose Dorsal')">Escoliose Dorsal</span></th>
                                <td *ngIf="pointer>=0">{{oldData[pointer].vpdorsal}}</td>
                                <td *ngIf="addForm">
                                    <mat-form-field class="form-select-sm">
                                        <mat-select #vpdorsal="ngModel" name="vpdorsal" [(ngModel)]="newData.vpdorsal"
                                            placeholder="selecionar">
                                            <mat-option value="Esquerda">Esquerda</mat-option>
                                            <mat-option value="Direita">Direita</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <th><span (click)="openDialog('Escoliose Lombar')">Escoliose Lombar</span></th>
                                <td *ngIf="pointer>=0">{{oldData[pointer].vplombar}}</td>
                                <td *ngIf="addForm">
                                    <mat-form-field class="form-select-sm">
                                        <mat-select #vplombar="ngModel" name="vplombar" [(ngModel)]="newData.vplombar"
                                            placeholder="selecionar">
                                            <mat-option value="Esquerda">Esquerda</mat-option>
                                            <mat-option value="Direita">Direita</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <th><span (click)="openDialog('Desnivel da Pelve')">Desnivel da Pelve</span></th>
                                <td *ngIf="pointer>=0">{{oldData[pointer].vpquadril}}</td>
                                <td *ngIf="addForm">
                                    <mat-form-field class="form-select-sm">
                                        <mat-select #vpquadril="ngModel" name="vpquadril"
                                            [(ngModel)]="newData.vpquadril" placeholder="selecionar">
                                            <mat-option value="Esquerda">Esquerda</mat-option>
                                            <mat-option value="Direita">Direita</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <th><span (click)="openDialog('Joelhos')">Joelhos</span></th>
                                <td *ngIf="pointer>=0">{{oldData[pointer].vpjoelho}}</td>
                                <td *ngIf="addForm">
                                    <mat-form-field class="form-select-sm">
                                        <mat-select #vpjoelho="ngModel" name="vpjoelho" [(ngModel)]="newData.vpjoelho"
                                            placeholder="selecionar">
                                            <mat-option value="Valgo">Valgo</mat-option>
                                            <mat-option value="Varo">Varo</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <th><span (click)="openDialog('Tornozelos')">Tornozelos</span></th>
                                <td *ngIf="pointer>=0">{{oldData[pointer].vppe}}</td>
                                <td *ngIf="addForm">
                                    <mat-form-field class="form-select-sm">
                                        <mat-select #vppe="ngModel" name="vppe" [(ngModel)]="newData.vppe"
                                            placeholder="selecionar">
                                            <mat-option value="Valgo">Valgo</mat-option>
                                            <mat-option value="Varo">Varo</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <div class="action">
                        <button type="button" *ngIf="!addForm" [disabled]="pointer<=0" mat-mini-fab color="default"
                            (click)="pointer=pointer-1">
                            <mat-icon class="mat-14">chevron_left</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addForm" mat-fab (click)="addDataForm()">
                            <mat-icon class="mat-18">add</mat-icon>
                        </button>
                        <button type="button" *ngIf="!addForm" [disabled]="pointer == maxPointer-1" mat-mini-fab
                            color="default" (click)="pointer=pointer+1">
                            <mat-icon class="mat-14">chevron_right</mat-icon>
                        </button>
                        <button type="button" *ngIf="addForm" mat-fab color="default" (click)="closeInputs()">
                            <mat-icon class="mat-18">close</mat-icon>
                        </button>
                        <button *ngIf="addForm" mat-fab>
                            <mat-icon class="mat-18">check</mat-icon>
                        </button>
                    </div>
                </form>
            </mat-tab>
            <!--   FOTOS -->
            <mat-tab i18n label="Fotos"  (swiperight)="swipeRight($event)" (swipeleft)="swipeLeft($event)">

                <table >
                    <thead>
                        <tr>
                            <th class="th-top" *ngIf="pointer>=0">
                                <button type="button" *ngIf="!addForm" [disabled]="pointer<=0" mat-mini-fab color="default"
                                (click)="pointer=pointer-1">
                                <mat-icon class="mat-14">chevron_left</mat-icon>
                            </button>
                                {{oldData[pointer].data | date:'dd-LL-yyyy'}}
                                <button type="button" *ngIf="!addForm" [disabled]="pointer == maxPointer-1" mat-mini-fab
                                color="default" (click)="pointer=pointer+1">
                                <mat-icon class="mat-14">chevron_right</mat-icon>
                            </button>
                            </th>
                            <th class="th-top" *ngIf="addForm">
                                <input name="data" #data="ngModel" [(ngModel)]="newData.data" type="date"
                                    style="width: 110px;">
                            </th>
                        </tr>

                    </thead>
                </table>

                                <div class="photos">
                                    <div class="photo">
                                        <div *ngIf="oldData[pointer] && oldData[pointer].fotoa">
                                            <img [src]="oldData[pointer].fotoa" alt="Vista Anterior">
                                        </div>
                                        <div *ngIf="!oldData[pointer] || !oldData[pointer].fotoa">
                                            <img src="./assets/img/front_view.jpg" alt="Vista Anterior">
                                        </div>                                        
                                        <button *ngIf="pointer+1 == maxPointer" mat-mini-fab (click)="openTakePhoto('a')">
                                            <mat-icon>camera_alt</mat-icon>
                                        </button>
                                    </div>
                                    <div class="photo">
                                        <div *ngIf="oldData[pointer] && oldData[pointer].fotol">
                                            <img [src]="oldData[pointer].fotol" alt="Vista Lateral">
                                        </div>
                                        <div *ngIf="!oldData[pointer] || !oldData[pointer].fotol">
                                            <img src="./assets/img/side_view.jpg" alt="Vista Lateral">
                                        </div>  
                                        <button *ngIf="pointer+1 == maxPointer" mat-mini-fab (click)="openTakePhoto('l')">
                                            <mat-icon>camera_alt</mat-icon>
                                        </button>
                                    </div>
                                    <div class="photo">
                                        <div *ngIf="oldData[pointer] && oldData[pointer].fotop">
                                            <img [src]="oldData[pointer].fotop" alt="Vista Posterior">
                                        </div>
                                        <div *ngIf="!oldData[pointer] || !oldData[pointer].fotop">
                                            <img src="./assets/img/back_view.jpg" alt="Vista Posterior">
                                        </div>  
                                        <button *ngIf="pointer+1 == maxPointer" mat-mini-fab (click)="openTakePhoto('p')">
                                            <mat-icon>camera_alt</mat-icon>
                                        </button>

                                    </div>
                                </div>
                                <div *ngIf="view && pointer+1 == maxPointer" class="photoArea" style="text-align:center">
                                    <h4>{{viewTitle}}</h4>
                                    <div *ngIf="!webcamImage">
                                        <webcam [width]="200" [trigger]="triggerObservable"
                                            (imageCapture)="handleImage($event)" *ngIf="showWebcam"
                                            [allowCameraSwitch]="allowCameraSwitch"
                                            [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions"
                                            [imageQuality]="0.6" (cameraSwitched)="cameraWasSwitched($event)"
                                            (initError)="handleInitError($event)">
                                        </webcam>
                                        <br />
                                        <button mat-mini-fab color="default" (click)="view=''">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                        <button mat-mini-fab class="actionBtn" (click)="triggerSnapshot();">
                                            <mat-icon>camera</mat-icon>
                                        </button>
                                        <br />
                                    </div>
                                    <!-- Visualizador de foto -->
                                    <div class="snapshot" *ngIf="webcamImage">
                                        <img [src]="webcamImage.imageAsDataUrl" width="200" />
                                        <br />
                                        <button mat-mini-fab color="default" (click)="webcamImage=null">
                                            <mat-icon>undo</mat-icon>
                                        </button>
                                        <button mat-mini-fab class="actionBtn" (click)="savePhoto();">
                                            <mat-icon>save</mat-icon>
                                        </button>
                                    </div>
                                </div>

            </mat-tab>
        </mat-tab-group>
    </div>

    <div class="footer">
        <a mat-mini-fab color="primary" (click)="goBack()">
            <mat-icon>undo</mat-icon>
        </a>
    </div>
</div>