.section{
  flex-direction: column;
  justify-content: start;
}

.form-subtitle{
  text-align: start;
  font-size: small;
  color: blue;
}

.form-select-sm {
  width: 90px;
}

.mat-form-field{
  font-size: small;
}
/* altera o label do input */
.mat-form-field-appearance-legacy .mat-form-field-label {
  color: rgba(94, 91, 91, 0.94) !important;
  font-size: small !important; 
}


table.front-view{
    background-image: url("./../../../assets/img/front_view.jpg");
  }
table.side-view{
    background-image: url("./../../../assets/img/side_view.jpg");
  }
table.back-view{
    background-image: url("./../../../assets/img/back_view.jpg");
  }
table{
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  background-size: contain;
  background-position: center;
  background-color: rgba(255, 254, 254, 0.961);

}

.photos {
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;

  .photo {
    width: 27%;
    max-height: 100%;
    margin: auto;
    img {
      width: 100%;
    }
  }
}
