.container{
  background-color: white;
  background-image: unset;
}

.section{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .h1-title {
    width: 100%;
    height: 30px;
    font-size: 20px;
    margin-top: 10px !important;
  }
}

.form-subtitle{
  text-align: start;
  font-size: small;
  color: blue;
}

.mat-tab-group{
  width: 100%;
}
::ng-deep{
    .mat-stroked-button {
    outline: rgba(59, 58, 58, 0.94) !important;
  }
  .mat-stroked-button:not([disabled]) {
    border-color: rgba(59, 58, 58, 0.94);
    color: rgba(59, 58, 58, 0.94);
}
  .mat-stroked-button:not([disabled]):hover {
    border-color: rgba(59, 58, 58, 0.94);
    background-color: rgba(245, 245, 245, 0.555);
}
}


.form-select-sm {
  width: 90px;
}

.mat-form-field{
  font-size: small;
}
/* altera o label do input */
.mat-form-field-appearance-legacy .mat-form-field-label {
  color: rgba(94, 91, 91, 0.94) !important;
  font-size: small !important; 
}


table.front-view{
    background-image: url("./../../../assets/img/front_view.jpg");
  }
table.side-view{
    background-image: url("./../../../assets/img/side_view.jpg");
  }
table.back-view{
    background-image: url("./../../../assets/img/back_view.jpg");
  }
table{
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  background-size: contain;
  background-position: center;
  background-color: rgba(255, 254, 254, 0.961);

}

.photos {
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;

  img {
    width: 100%;
  }

  .photo {
    width: 27%;
    max-height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }
}


@media only screen and (min-width: 768px) {
  .mat-tab-group {
    width: 90% !important;
  }
}