<div class="container">
    <app-header-name></app-header-name>
    <div class="section">
        <div class="section-content">
            <h1 class="h1-title" i18n>Tran & Weltman (1989)</h1>
            <form #f="ngForm" (keydown.enter)="$event.preventDefault()" (submit)="save(f.value)" autocomplete="off">
                <input type="hidden" name="altura" #altura="ngModel" [(ngModel)]="newEvaluation.altura">
                <input type="hidden" name="peso" #peso="ngModel" [(ngModel)]="newEvaluation.peso">
                <input type="hidden" name="idade" #idade="ngModel" [(ngModel)]="newEvaluation.idade">
                <input type="hidden" name="punho" #punho="ngModel" [(ngModel)]="newEvaluation.punho">
                <input type="hidden" name="joelho" #joelho="ngModel" [(ngModel)]="newEvaluation.joelho">
                <table class="section-table">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th class="th-top" *ngIf="pointer>=1 && !addEval">
                                <button type="button"
                                    (click)="chartSelected='pie'; setEvaluation(evaluation[pointer-1])">
                                    {{evaluation[pointer-1].data | date:'dd/LL/yyyy'}}
                                </button>
                            </th>
                            <th class="th-top" *ngIf="pointer>=0">
                                <button type="button" (click)="chartSelected='pie'; setEvaluation(evaluation[pointer])">
                                    {{evaluation[pointer].data | date:'dd/LL/yyyy'}}
                                </button>
                            </th>
                            <th class="th-top" *ngIf="addEval">
                                <input name="data" #data="ngModel" [(ngModel)]="newEvaluation.data" type="date"
                                    class="data-input">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th i18n><span (click)="openHelpDialog('Abdominal (umbigo)')">Abdominal (umbigo)</span></th>
                            <td *ngIf="pointer>=1 && !addEval && editPointer!=1">
                                {{evaluation[pointer-1].abdomen2 | number: '': locale}}</td>
                            <td *ngIf="editPointer==1 && editAv">
                                <input name="abdomen2" #abdomen2="ngModel" [(ngModel)]="newEvaluation.abdomen2"
                                    type="number" (focus)="$event.target.select()">
                            </td>
                            <td *ngIf="pointer>=0 && editPointer!=0">
                                {{evaluation[pointer].abdomen2 | number: '': locale}}</td>
                            <td *ngIf="editPointer==0 && editAv">
                                <input name="abdomen2" #abdomen2="ngModel" [(ngModel)]="newEvaluation.abdomen2"
                                    type="number" (focus)="$event.target.select()">
                            </td>
                            <td *ngIf="addEval">
                                <input name="abdomen2" #abdomen2="ngModel" [(ngModel)]="newEvaluation.abdomen2"
                                    type="number">
                            </td>
                        </tr>
                        <tr>
                            <th i18n><span (click)="openHelpDialog('Abdominal (cintura)')">Abdominal (cintura)</span>
                            </th>
                            <td *ngIf="pointer>=1 && !addEval && editPointer!=1">
                                {{evaluation[pointer-1].abdomen | number: '': locale}}</td>
                            <td *ngIf="editPointer==1 && editAv">
                                <input name="abdomen" #abdomen="ngModel" [(ngModel)]="newEvaluation.abdomen"
                                    type="number" (focus)="$event.target.select()">
                            </td>
                            <td *ngIf="pointer>=0 && editPointer!=0">
                                {{evaluation[pointer].abdomen | number: '': locale}}</td>
                            <td *ngIf="editPointer==0 && editAv">
                                <input name="abdomen" #abdomen="ngModel" [(ngModel)]="newEvaluation.abdomen"
                                    type="number" (focus)="$event.target.select()">
                            </td>
                            <td *ngIf="addEval">
                                <input name="abdomen" #abdomen="ngModel" [(ngModel)]="newEvaluation.abdomen"
                                    type="number">
                            </td>
                        </tr>
                        <tr>
                            <th i18n><span (click)="openHelpDialog('Cintura')">Cintura</span></th>
                            <td *ngIf="pointer>=1 && !addEval && editPointer!=1">
                                {{evaluation[pointer-1].cintura | number: '': locale}}</td>
                            <td *ngIf="editPointer==1 && editAv">
                                <input name="cintura" #cintura="ngModel" [(ngModel)]="newEvaluation.cintura"
                                    type="number" (focus)="$event.target.select()">
                            </td>
                            <td *ngIf="pointer>=0 && editPointer!=0">
                                {{evaluation[pointer].cintura | number: '': locale}}</td>
                            <td *ngIf="editPointer==0 && editAv">
                                <input name="cintura" #cintura="ngModel" [(ngModel)]="newEvaluation.cintura"
                                    type="number" (focus)="$event.target.select()">
                            </td>
                            <td *ngIf="addEval">
                                <input name="cintura" #cintura="ngModel" [(ngModel)]="newEvaluation.cintura"
                                    type="number">
                            </td>
                        </tr>
                        <tr>
                            <th i18n><span (click)="openHelpDialog('Quadril')">Quadril</span></th>
                            <td *ngIf="pointer>=1 && !addEval && editPointer!=1">
                                {{evaluation[pointer-1].quadril | number: '': locale}}</td>
                            <td *ngIf="editPointer==1 && editAv">
                                <input name="quadril" #quadril="ngModel" [(ngModel)]="newEvaluation.quadril"
                                    type="number" (focus)="$event.target.select()">
                            </td>
                            <td *ngIf="pointer>=0 && editPointer!=0">
                                {{evaluation[pointer].quadril | number: '': locale}}</td>
                            <td *ngIf="editPointer==0 && editAv">
                                <input name="quadril" #quadril="ngModel" [(ngModel)]="newEvaluation.quadril"
                                    type="number" (focus)="$event.target.select()">
                            </td>
                            <td *ngIf="addEval">
                                <input name="quadril" #quadril="ngModel" [(ngModel)]="newEvaluation.quadril"
                                    type="number">
                            </td>
                        </tr>
                        <tr>
                            <th><span (click)="openHelpDialog('Altura')">Altura <small>(m)</small></span></th>
                            <td *ngIf="pointer>=1 && !addEval">{{evaluation[pointer-1].altura | number: '': locale}}
                            </td>
                            <td *ngIf="pointer>=0">{{evaluation[pointer].altura | number: '': locale}}</td>
                            <td *ngIf="addEval">{{newEvaluation.altura | number: '': locale}}</td>
                        </tr>
                        <tr>
                            <th><span (click)="openHelpDialog('Peso corporal')">Peso corporal <small>(m)</small></span></th>
                            <td *ngIf="pointer>=1 && !addEval">{{evaluation[pointer-1].peso | number: '': locale}}
                            </td>
                            <td *ngIf="pointer>=0">{{evaluation[pointer].peso | number: '': locale}}</td>
                            <td *ngIf="addEval">{{newEvaluation.peso | number: '': locale}}</td>
                        </tr>
                        <tr>
                            <th>Idade</th>
                            <td *ngIf="pointer>=1 && !addEval">{{evaluation[pointer-1].idade | number: '': locale}}</td>
                            <td *ngIf="pointer>=0">{{evaluation[pointer].idade | number: '': locale}}</td>
                            <td *ngIf="addEval">{{ age | number: '': locale}}</td>
                        </tr>
                        <tr>
                            <th>Ações</th>
                            <td *ngIf="pointer>=1 && !addEval">
                                <app-edit-del-form *ngIf="(editPointer==1 && editAv) || !editAv"
                                    [dataAv]="evaluation[pointer-1].data"
                                    (action)="executeAction($event, evaluation[pointer-1], 1)"></app-edit-del-form>
                            </td>
                            <td *ngIf="pointer>=0 && !addEval">
                                <app-edit-del-form *ngIf="(editPointer==0 && editAv) || !editAv"
                                    [dataAv]="evaluation[pointer].data"
                                    (action)="executeAction($event, evaluation[pointer], 0)"></app-edit-del-form>
                            </td>
                            <td *ngIf="addEval">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <small class="advise-sm" i18n>* Todas as medidas são em centimetros</small>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>

                <div class="action">
                    <button type="button" *ngIf="!addEval" [disabled]="pointer<=1 || editAv" mat-mini-fab
                        color="default" (click)="pointer=pointer-1">
                        <mat-icon class="mat-14">chevron_left</mat-icon>
                    </button>
                    <button type="button" *ngIf="!addEval" mat-stroked-button [disabled]="editAv"
                        (click)="addEvaluation()">
                        <mat-icon class="mat-18" color="accent">add</mat-icon>
                    </button>
                    <button type="button" *ngIf="!addEval"
                        [disabled]="pointer == maxPointer-1 || pointer == -1 || editAv" mat-mini-fab color="default"
                        (click)="pointer=pointer+1">
                        <mat-icon class="mat-14">chevron_right</mat-icon>
                    </button>
                    <button type="button" *ngIf="addEval" mat-stroked-button color="default" (click)="closeInput()">
                        <mat-icon class="mat-18" color="warn">close</mat-icon>
                    </button>
                    <button *ngIf="addEval" mat-stroked-button>
                        <mat-icon class="mat-18" color="accent">check</mat-icon>
                    </button>
                </div>
            </form>
            <br />
            <div *ngIf="selectedEvaluation">
                <div *ngIf="showChart && maxPointer>0">
                    <hr />
                    <div style="text-align: center; color: white;">
                        <div>
                            <mat-button-toggle-group name="chartSelected" [(ngModel)]="chartSelected">
                                <mat-button-toggle value="pie">{{selectedEvaluation.data | date:'dd/LL/yyyy'}}
                                </mat-button-toggle>
                                <mat-button-toggle value="compare">Comparativo</mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                        <div *ngIf="chartSelected=='pie'">
                            <mat-label i18n>% Gordura Desejada <small>[{{gorduraDesejada}}]</small> : </mat-label>
                            <mat-slider min="10" max="30" step="1" thumbLabel="true" [(ngModel)]="gorduraDesejada"
                                [disabled]="!fatChanged" (change)="getNewEvaluation()">
                            </mat-slider>
                            <button mat-mini-fab color="default" (click)="fatChanged = !fatChanged" *ngIf="!fatChanged">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-mini-fab color="default" (click)="saveFatChange()" *ngIf="fatChanged">
                                <mat-icon>save</mat-icon>
                            </button>
                        </div>
                    </div>
                    <!-- charts -->
                    <div class="chart-pie" *ngIf="chartSelected=='pie'">
                        <app-chart-pie [values]="single"></app-chart-pie>
                        <app-chart-pie [values]="single2"></app-chart-pie>
                    </div>
                    <div *ngIf="chartSelected=='compare'">
                        <app-chart-compare [id]="student.id" [protocolo]="protocolo" [percgd]="gorduraDesejada"
                            [evaluations]="evaluation">
                        </app-chart-compare>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>