<div class="container">
    <app-header-name></app-header-name>
    <div class="section">
        <div class="section-content">
            <h1 class="h1-title" i18n>Cooper (1968) - <small>12min</small></h1>
            <form #f="ngForm" (keydown.enter)="$event.preventDefault()" (submit)="save(f.value)" autocomplete="off">
                <input type="hidden" name="nafs" #nafs="ngModel" [ngModel]="newEvaluation.nafs">
                <input type="hidden" name="altura" #altura="ngModel" [ngModel]="newEvaluation.altura">
                <input type="hidden" name="peso" #peso="ngModel" [ngModel]="newEvaluation.peso">
                <input type="hidden" name="idade" #idade="ngModel" [ngModel]="newEvaluation.idade">
                <input type="hidden" name="sexo" #sexo="ngModel" [ngModel]="newEvaluation.sexo">
                <input type="hidden" name="fc2" #fc2="ngModel" [ngModel]="newEvaluation.fc2">
                <table class="section-table">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th class="th-top" *ngIf="pointer>=1 && !addEval">
                                <button type="button">{{evaluation[pointer-1].data | date:'dd/LL/yyyy'}}</button>
                            </th>
                            <th class="th-top" *ngIf="pointer>=0">
                                <button type="button">{{evaluation[pointer].data | date:'dd/LL/yyyy'}}</button>
                            </th>
                            <th class="th-top" *ngIf="addEval">
                                <input name="data" #data="ngModel" [ngModel]="newEvaluation.data" type="date" class="data-input">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th i18n>FC ao minuto 0'</th>
                            <td *ngIf="pointer>=1 && !addEval && editPointer!=1">
                                {{evaluation[pointer-1].min0 | number: '': locale}}</td>
                            <td *ngIf="editPointer==1 && editAv">
                                <input name="min0" #min0="ngModel" [(ngModel)]="newEvaluation.min0" type="number"
                                    (focus)="$event.target.select()" cdkTrapFocus cdkTrapFocusAutoCapture>
                            </td>
                            <td *ngIf="pointer>=0 && editPointer!=0">{{evaluation[pointer].min0 | number: '': locale}}
                            </td>
                            <td *ngIf="editPointer==0 && editAv">
                                <input name="min0" #min0="ngModel" [(ngModel)]="newEvaluation.min0" type="number"
                                    (focus)="$event.target.select()" cdkTrapFocus cdkTrapFocusAutoCapture>
                            </td>
                            <td *ngIf="addEval">
                                <input name="min0" #min0="ngModel" [(ngModel)]="newEvaluation.min0" type="number"
                                cdkTrapFocus cdkTrapFocusAutoCapture>
                            </td>
                        </tr>
                        <tr>
                            <th i18n>FC ao minuto 2'</th>
                            <td *ngIf="pointer>=1 && !addEval && editPointer!=1">
                                {{evaluation[pointer-1].min2 | number: '': locale}}</td>
                            <td *ngIf="editPointer==1 && editAv">
                                <input name="min2" #min2="ngModel" [(ngModel)]="newEvaluation.min2" type="number"
                                    (focus)="$event.target.select()">
                            </td>
                            <td *ngIf="pointer>=0 && editPointer!=0">{{evaluation[pointer].min2 | number: '': locale}}
                            </td>
                            <td *ngIf="editPointer==0 && editAv">
                                <input name="min2" #min2="ngModel" [(ngModel)]="newEvaluation.min2" type="number"
                                    (focus)="$event.target.select()">
                            </td>
                            <td *ngIf="addEval">
                                <input name="min2" #min2="ngModel" [(ngModel)]="newEvaluation.min2" type="number">
                            </td>
                        </tr>
                        <tr>
                            <th i18n>FC ao minuto 4'</th>
                            <td *ngIf="pointer>=1 && !addEval && editPointer!=1">
                                {{evaluation[pointer-1].min4 | number: '': locale}}</td>
                            <td *ngIf="editPointer==1 && editAv">
                                <input name="min4" #min4="ngModel" [(ngModel)]="newEvaluation.min4" type="number"
                                    (focus)="$event.target.select()">
                            </td>
                            <td *ngIf="pointer>=0 && editPointer!=0">{{evaluation[pointer].min4 | number: '': locale}}
                            </td>
                            <td *ngIf="editPointer==0 && editAv">
                                <input name="min4" #min4="ngModel" [(ngModel)]="newEvaluation.min4" type="number"
                                    (focus)="$event.target.select()">
                            </td>
                            <td *ngIf="addEval">
                                <input name="min4" #min4="ngModel" [(ngModel)]="newEvaluation.min4" type="number">
                            </td>
                        </tr>
                        <tr>
                            <th i18n>FC ao minuto 6'</th>
                            <td *ngIf="pointer>=1 && !addEval && editPointer!=1">
                                {{evaluation[pointer-1].min6 | number: '': locale}}</td>
                            <td *ngIf="editPointer==1 && editAv">
                                <input name="min6" #min6="ngModel" [(ngModel)]="newEvaluation.min6" type="number"
                                    (focus)="$event.target.select()">
                            </td>
                            <td *ngIf="pointer>=0 && editPointer!=0">{{evaluation[pointer].min6 | number: '': locale}}
                            </td>
                            <td *ngIf="editPointer==0 && editAv">
                                <input name="min6" #min6="ngModel" [(ngModel)]="newEvaluation.min6" type="number"
                                    (focus)="$event.target.select()">
                            </td>
                            <td *ngIf="addEval">
                                <input name="min6" #min6="ngModel" [(ngModel)]="newEvaluation.min6" type="number">
                            </td>
                        </tr>
                        <tr>
                            <th i18n>FC ao minuto 8'</th>
                            <td *ngIf="pointer>=1 && !addEval && editPointer!=1">
                                {{evaluation[pointer-1].min8 | number: '': locale}}</td>
                            <td *ngIf="editPointer==1 && editAv">
                                <input name="min8" #min8="ngModel" [(ngModel)]="newEvaluation.min8" type="number"
                                    (focus)="$event.target.select()">
                            </td>
                            <td *ngIf="pointer>=0 && editPointer!=0">{{evaluation[pointer].min8 | number: '': locale}}
                            </td>
                            <td *ngIf="editPointer==0 && editAv">
                                <input name="min8" #min8="ngModel" [(ngModel)]="newEvaluation.min8" type="number"
                                    (focus)="$event.target.select()">
                            </td>
                            <td *ngIf="addEval">
                                <input name="min8" #min8="ngModel" [(ngModel)]="newEvaluation.min8" type="number">
                            </td>
                        </tr>
                        <tr>
                            <th i18n>FC ao minuto 10'</th>
                            <td *ngIf="pointer>=1 && !addEval && editPointer!=1">
                                {{evaluation[pointer-1].min10 | number: '': locale}}</td>
                            <td *ngIf="editPointer==1 && editAv">
                                <input name="min10" #min10="ngModel" [(ngModel)]="newEvaluation.min10" type="number"
                                    (focus)="$event.target.select()">
                            </td>
                            <td *ngIf="pointer>=0 && editPointer!=0">{{evaluation[pointer].min10 | number: '': locale}}
                            </td>
                            <td *ngIf="editPointer==0 && editAv">
                                <input name="min10" #min10="ngModel" [(ngModel)]="newEvaluation.min10" type="number"
                                    (focus)="$event.target.select()">
                            </td>
                            <td *ngIf="addEval">
                                <input name="min10" #min10="ngModel" [(ngModel)]="newEvaluation.min10" type="number">
                            </td>
                        </tr>
                        <tr>
                            <th i18n>FC ao minuto 12' <small>(final)</small></th>
                            <td *ngIf="pointer>=1 && !addEval && editPointer!=1">
                                {{evaluation[pointer-1].fc | number: '': locale}}</td>
                            <td *ngIf="editPointer==1 && editAv">
                                <input name="fc" #fc="ngModel" [(ngModel)]="newEvaluation.fc" type="number"
                                    (focus)="$event.target.select()">
                            </td>
                            <td *ngIf="pointer>=0 && editPointer!=0">{{evaluation[pointer].fc | number: '': locale}}
                            </td>
                            <td *ngIf="editPointer==0 && editAv">
                                <input name="fc" #fc="ngModel" [(ngModel)]="newEvaluation.fc" type="number"
                                    (focus)="$event.target.select()">
                            </td>
                            <td *ngIf="addEval">
                                <input name="fc" #fc="ngModel" [(ngModel)]="newEvaluation.fc" type="number">
                            </td>
                        </tr>
                        <tr>
                            <th i18n>Distância <small>(m)</small></th>
                            <td *ngIf="pointer>=1 && !addEval && editPointer!=1">
                                {{evaluation[pointer-1].distancia | number: '': locale}}</td>
                            <td *ngIf="editPointer==1 && editAv">
                                <input name="distancia" #distancia="ngModel" [(ngModel)]="newEvaluation.distancia"
                                    type="number" (focus)="$event.target.select()">
                            </td>
                            <td *ngIf="pointer>=0 && editPointer!=0">
                                {{evaluation[pointer].distancia | number: '': locale}}</td>
                            <td *ngIf="editPointer==0 && editAv">
                                <input name="distancia" #distancia="ngModel" [(ngModel)]="newEvaluation.distancia"
                                    type="number" (focus)="$event.target.select()">
                            </td>
                            <td *ngIf="addEval">
                                <input name="distancia" #distancia="ngModel" [(ngModel)]="newEvaluation.distancia"
                                    type="number">
                            </td>
                        </tr>
                        <!--  resultados -->
                        <tr>
                            <th i18n><span (click)="openDialog('FC Estimada')">FC Estimada</span></th>
                            <td *ngIf="pointer>=1 && !addEval">
                                {{evaluation[pointer-1].c_fcestimada | number: '': locale}}</td>
                            <td *ngIf="pointer>=0">{{evaluation[pointer].c_fcestimada | number: '': locale}}</td>
                            <td *ngIf="addEval">&nbsp;</td>
                        </tr>
                        <tr>
                            <th i18n><span (click)="openDialog('FC Reserva')">FC Reserva</span></th>
                            <td *ngIf="pointer>=1 && !addEval">
                                {{evaluation[pointer-1].c_fcreserva | number: '': locale}}</td>
                            <td *ngIf="pointer>=0">{{evaluation[pointer].c_fcreserva | number: '': locale}}</td>
                            <td *ngIf="addEval">&nbsp;</td>
                        </tr>
                        <tr>
                            <th i18n><span (click)="openDialog('% FC Máxima Alcançada')">% FC Máx. Alcançada</span></th>
                            <td *ngIf="pointer>=1 && !addEval">{{evaluation[pointer-1].c_percfcm | number: '': locale}}
                            </td>
                            <td *ngIf="pointer>=0">{{evaluation[pointer].c_percfcm | number: '': locale}}</td>
                            <td *ngIf="addEval">&nbsp;</td>
                        </tr>
                        <tr>
                            <th i18n><span (click)="openDialog('Índice Aeróbico Funcional')">Índice Aeróbico Funcional
                                    (FAI)</span></th>
                            <td *ngIf="pointer>=1 && !addEval">{{evaluation[pointer-1].c_fai | number: '': locale}}</td>
                            <td *ngIf="pointer>=0">{{evaluation[pointer].c_fai | number: '': locale}}</td>
                            <td *ngIf="addEval">&nbsp;</td>
                        </tr>
                        <tr>
                            <th i18n><span (click)="openDialog('VO2 Máximo Obtido')">VO2 Máx Obtido</span></th>
                            <td *ngIf="pointer>=1 && !addEval">{{evaluation[pointer-1].c_vo2m | number: '': locale}}
                            </td>
                            <td *ngIf="pointer>=0">{{evaluation[pointer].c_vo2m | number: '': locale}}</td>
                            <td *ngIf="addEval">&nbsp;</td>
                        </tr>
                        <tr>
                            <th i18n><span (click)="openDialog('VO2 Máximo Estimado')">VO2 Máx. Estimado</span></th>
                            <td *ngIf="pointer>=1 && !addEval">{{evaluation[pointer-1].c_vo2e | number: '': locale}}
                            </td>
                            <td *ngIf="pointer>=0">{{evaluation[pointer].c_vo2e | number: '': locale}}</td>
                            <td *ngIf="addEval">&nbsp;</td>
                        </tr>
                        <tr>
                            <th>Ações</th>
                            <td *ngIf="pointer>=1 && !addEval">
                                <app-edit-del-form *ngIf="(editPointer==1 && editAv) || !editAv"
                                    [dataAv]="evaluation[pointer-1].data"
                                    (action)="executeAction($event, evaluation[pointer-1], 1)"></app-edit-del-form>
                            </td>
                            <td *ngIf="pointer>=0 && !addEval">
                                <app-edit-del-form *ngIf="(editPointer==0 && editAv) || !editAv"
                                    [dataAv]="evaluation[pointer].data"
                                    (action)="executeAction($event, evaluation[pointer], 0)"></app-edit-del-form>
                            </td>
                            <td *ngIf="addEval">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
                <em>*Frequência Cardiaca (FC) em batimentos por minuto (bpm)</em>

                <div class="action">
                    <button type="button" *ngIf="!addEval" [disabled]="pointer<=1 || editAv" mat-mini-fab
                        color="default" (click)="pointer=pointer-1">
                        <mat-icon class="mat-14">chevron_left</mat-icon>
                    </button>
                    <button type="button" *ngIf="!addEval" mat-stroked-button [disabled]="editAv"
                        (click)="addEvaluation()">
                        <mat-icon class="mat-18" color="accent">add</mat-icon>
                    </button>
                    <button type="button" *ngIf="!addEval"
                        [disabled]="pointer == maxPointer-1 || pointer == -1 || editAv" mat-mini-fab color="default"
                        (click)="pointer=pointer+1">
                        <mat-icon class="mat-14">chevron_right</mat-icon>
                    </button>
                    <button type="button" *ngIf="addEval" mat-stroked-button color="default" (click)="closeInput()">
                        <mat-icon class="mat-18" color="warn">close</mat-icon>
                    </button>
                    <button *ngIf="addEval" mat-stroked-button>
                        <mat-icon class="mat-18" color="accent">check</mat-icon>
                    </button>
                </div>
            </form>
            <div class="charts" *ngIf="refresh">
                <app-chart-cardio [evaluation]="evaluation" [protocolo]="protocolo"></app-chart-cardio>
            </div>
        </div>
    </div>
    <app-overlay *ngIf="spinner"></app-overlay>
</div>