<div class="container">
    <div class="header">
        <h2 i18n>IMC - Índice de Massa Corporal</h2>
    </div>

    <div class="section">
                <form #f="ngForm" >
                    <table>
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th class="th-top" *ngIf="pointer>=1">{{evaluation[pointer-1].data | date:'dd-LL-yyyy'}}</th>
                                <th class="th-top" *ngIf="pointer>=0">{{evaluation[pointer].data | date:'dd-LL-yyyy'}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th i18n>Altura <small>(m)</small></th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].altura}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].altura}}</td>
                            </tr>
                            <tr>
                                <th i18n>Peso <small>(Kg)</small></th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].peso}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].peso}}</td>
                            </tr>
                            <tr>
                                <th i18n>IMC</th>
                                <td *ngIf="pointer>=1">{{evaluation[pointer-1].imc}}</td>
                                <td *ngIf="pointer>=0">{{evaluation[pointer].imc}}</td>
                            </tr>
                            <tr>
                                <th i18n>Classificação</th>
                                <td *ngIf="pointer>=1">
                                    <span *ngIf="evaluation[pointer-1].imc < 18.5"><img src="./assets/img/peso_blue.gif" width="30px" alt="peso"></span>
                                    <span *ngIf="evaluation[pointer-1].imc >= 18.5 && evaluation[pointer-1].imc < 25"><img src="./assets/img/peso_green.gif" width="30px" alt="peso"></span>
                                    <span *ngIf="evaluation[pointer-1].imc >= 25 && evaluation[pointer-1].imc < 30"><img src="./assets/img/peso_orange.gif" width="30px" alt="peso"></span>
                                    <span *ngIf="evaluation[pointer-1].imc >= 30 && evaluation[pointer-1].imc < 35"><img src="./assets/img/peso_orange2.gif" width="30px" alt="peso"></span>
                                    <span *ngIf="evaluation[pointer-1].imc >= 35 && evaluation[pointer-1].imc < 40"><img src="./assets/img/peso_red.gif" width="30px" alt="peso"></span>
                                    <span *ngIf="evaluation[pointer-1].imc >= 40"><img src="./assets/img/peso_black.gif" width="30px" alt="peso"></span>
                                </td>
                                <td *ngIf="pointer>=0">
                                        <span *ngIf="evaluation[pointer].imc < 18.5"><img src="./assets/img/peso_blue.gif" width="30px" alt="peso"></span>
                                        <span *ngIf="evaluation[pointer].imc >= 18.5 && evaluation[pointer].imc < 25"><img src="./assets/img/peso_green.gif" width="30px" alt="peso"></span>
                                        <span *ngIf="evaluation[pointer].imc >= 25 && evaluation[pointer].imc < 30"><img src="./assets/img/peso_orange.gif" width="30px" alt="peso"></span>
                                        <span *ngIf="evaluation[pointer].imc >= 30 && evaluation[pointer].imc < 35"><img src="./assets/img/peso_orange2.gif" width="30px" alt="peso"></span>
                                        <span *ngIf="evaluation[pointer].imc >= 35 && evaluation[pointer].imc < 40"><img src="./assets/img/peso_red.gif" width="30px" alt="peso"></span>
                                        <span *ngIf="evaluation[pointer].imc >= 40"><img src="./assets/img/peso_black.gif" width="30px" alt="peso"></span>
                                </td>
                            </tr>
                            <tr>
                                <th i18n>Risco</th>
                                <td *ngIf="pointer>=1">
                                    <div *ngIf="student.sexo=='M'">
                                        <span *ngIf="evaluation[pointer-1].imc < 19">Baixo</span>
                                        <span *ngIf="evaluation[pointer-1].imc >= 19 && evaluation[pointer-1].imc < 25">Ideal</span>
                                        <span *ngIf="evaluation[pointer-1].imc >= 25 && evaluation[pointer-1].imc < 27.7">Moderado</span>
                                        <span *ngIf="evaluation[pointer-1].imc >= 27.7">Elevado</span>
                                    </div>
                                    <div *ngIf="student.sexo=='F'">
                                        <span *ngIf="evaluation[pointer-1].imc < 18">Baixo</span>
                                        <span *ngIf="evaluation[pointer-1].imc >= 18 && evaluation[pointer-1].imc < 24.5">Ideal</span>
                                        <span *ngIf="evaluation[pointer-1].imc >= 24.5 && evaluation[pointer-1].imc < 27.2">Moderado</span>
                                        <span *ngIf="evaluation[pointer-1].imc >= 27.2">Elevado</span>
                                    </div>    
                                </td>
                                <td *ngIf="pointer>=0">
                                    <div *ngIf="student.sexo=='M'">
                                        <span *ngIf="evaluation[pointer].imc < 19">Baixo</span>
                                        <span *ngIf="evaluation[pointer].imc >= 19 && evaluation[pointer].imc < 25">Ideal</span>
                                        <span *ngIf="evaluation[pointer].imc >= 25 && evaluation[pointer].imc < 27.7">Moderado</span>
                                        <span *ngIf="evaluation[pointer].imc >= 27.7">Elevado</span>
                                    </div>
                                    <div *ngIf="student.sexo=='F'">
                                        <span *ngIf="evaluation[pointer].imc < 18">Baixo</span>
                                        <span *ngIf="evaluation[pointer].imc >= 18 && evaluation[pointer].imc < 24.5">Ideal</span>
                                        <span *ngIf="evaluation[pointer].imc >= 24.5 && evaluation[pointer].imc < 27.2">Moderado</span>
                                        <span *ngIf="evaluation[pointer].imc >= 27.2">Elevado</span>
                                    </div> 
                                </td>
                            </tr>                            
                        </tbody>
                    </table>

                    <div class="action">
                        <button type="button"  [disabled]="pointer<=1" mat-mini-fab color="default"
                            (click)="pointer=pointer-1">
                            <mat-icon class="mat-14">chevron_left</mat-icon>
                        </button>
                        <button type="button" [disabled]="pointer == maxPointer-1 || pointer == -1" mat-mini-fab
                            color="default" (click)="pointer=pointer+1">
                            <mat-icon class="mat-14">chevron_right</mat-icon>
                        </button>
                    </div>
                </form>
    </div>

    <div class="footer">
        <a mat-mini-fab color="primary" (click)="goBack()">
            <mat-icon>undo</mat-icon>
        </a>
    </div>
</div>


