<div class="container">
    <div class="header">
        <h3 i18n>Bicicleta - Balke e Ware, (1954)</h3>
    </div>
    <div class="section">
        <form #f="ngForm" (submit)="save(f.value)">
            <input type="hidden" name="nafs" #nafs="ngModel" [ngModel]="newEvaluation.nafs">
            <input type="hidden" name="altura" #altura="ngModel" [ngModel]="newEvaluation.altura">
            <input type="hidden" name="peso" #peso="ngModel" [ngModel]="newEvaluation.peso">
            <input type="hidden" name="idade" #idade="ngModel" [ngModel]="newEvaluation.idade">
            <input type="hidden" name="sexo" #sexo="ngModel" [ngModel]="newEvaluation.sexo">
            <input type="hidden" name="fc2" #fc2="ngModel" [ngModel]="newEvaluation.fc2">
            <table class="section-table">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th class="th-top" *ngIf="pointer>=1">{{evaluation[pointer-1].data | date:'dd/LL/yyyy'}}</th>
                        <th class="th-top" *ngIf="pointer>=0">{{evaluation[pointer].data | date:'dd/LL/yyyy'}}</th>
                        <th class="th-top" *ngIf="addEval">
                            <input name="data" #data="ngModel" [(ngModel)]="newEvaluation.data" type="date"
                                style="width: 110px;">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th i18n>Carga teste</th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].carga | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].carga | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="carga" #carga="ngModel" [(ngModel)]="newEvaluation.carga" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th i18n>FC ao minuto 0</th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].min0 | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].min0 | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="min0" #min0="ngModel" [(ngModel)]="newEvaluation.min0" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th i18n>FC ao minuto 2</th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].min2 | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].min2 | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="min2" #min2="ngModel" [(ngModel)]="newEvaluation.min2" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th i18n>FC ao minuto 4</th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].min4 | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].min4 | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="min4" #min4="ngModel" [(ngModel)]="newEvaluation.min4" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th i18n>FC ao minuto 6</th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].min6 | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].min6 | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="min6" #min6="ngModel" [(ngModel)]="newEvaluation.min6" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th i18n>FC ao minuto 8</th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].min8 | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].min8 | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="min8" #min8="ngModel" [(ngModel)]="newEvaluation.min8" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th i18n>FC ao minuto 10</th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].min10 | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].min10 | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="min10" #min10="ngModel" [(ngModel)]="newEvaluation.min10" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th i18n>FC ao minuto 12</th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].min12 | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].min12 | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="min12" #min12="ngModel" [(ngModel)]="newEvaluation.min12" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th i18n>FC ao minuto 14</th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].min14 | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].min14 | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="min14" #min14="ngModel" [(ngModel)]="newEvaluation.min14" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th i18n>FC ao minuto 16</th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].min16 | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].min16 | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="min16" #min16="ngModel" [(ngModel)]="newEvaluation.min16" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th i18n>FC ao minuto 18</th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].min18 | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].min18 | number: '': locale}}</td>
                        <td *ngIf="addEval">
                            <input class="hidde-arrows" name="min18" #min18="ngModel" [(ngModel)]="newEvaluation.min18" type="number">
                        </td>
                    </tr>
                    <!--  resultados -->
                    <tr>
                        <th i18n>FC Estimada</th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].c_fcestimada | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].c_fcestimada | number: '': locale}}</td>
                        <td *ngIf="addEval">&nbsp;</td>
                    </tr>
                    <tr>
                        <th i18n>FC Reserva</th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].c_fcreserva | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].c_fcreserva | number: '': locale}}</td>
                        <td *ngIf="addEval">&nbsp;</td>
                    </tr>
                    <tr>
                        <th i18n>% FC Máx. Alcançada</th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].c_percfcm | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].c_percfcm | number: '': locale}}</td>
                        <td *ngIf="addEval">&nbsp;</td>
                    </tr>
                    <tr>
                        <th i18n>Indice Aeróbico Funcional (FAI)</th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].c_fai | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].c_fai | number: '': locale}}</td>
                        <td *ngIf="addEval">&nbsp;</td>
                    </tr>
                    <tr>
                        <th i18n>VO2 Máx Obtido</th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].c_vo2m | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].c_vo2m | number: '': locale}}</td>
                        <td *ngIf="addEval">&nbsp;</td>
                    </tr>
                    <tr>
                        <th i18n>VO2 Máx. Estimado</th>
                        <td *ngIf="pointer>=1">{{evaluation[pointer-1].c_vo2e | number: '': locale}}</td>
                        <td *ngIf="pointer>=0">{{evaluation[pointer].c_vo2e | number: '': locale}}</td>
                        <td *ngIf="addEval">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <em>*Frequência Cardiaca (FC) em batimentos por minuto (bpm)</em>
            
            <div class="action">
                <button type="button" *ngIf="!addEval" [disabled]="pointer<=1" mat-mini-fab color="default"
                    (click)="pointer=pointer-1">
                    <mat-icon class="mat-14">chevron_left</mat-icon>
                </button>
                <button type="button" *ngIf="!addEval" mat-fab (click)="addEvaluation()">
                    <mat-icon class="mat-18">add</mat-icon>
                </button>
                <button type="button" *ngIf="!addEval" [disabled]="pointer == maxPointer-1 || pointer == -1"
                    mat-mini-fab color="default" (click)="pointer=pointer+1">
                    <mat-icon class="mat-14">chevron_right</mat-icon>
                </button>
                <button type="button" *ngIf="addEval" mat-fab color="default" (click)="closeInput()">
                    <mat-icon class="mat-18">close</mat-icon>
                </button>
                <button *ngIf="addEval" mat-fab>
                    <mat-icon class="mat-18">check</mat-icon>
                </button>
            </div>
        </form>
        <div class="charts" *ngIf="refresh">
            <app-chart-cardio [evaluation]="evaluation" [protocolo]="protocolo"></app-chart-cardio>
        </div>
    </div>

    <div class="footer">
        <a mat-mini-fab color="primary" (click)="goBack()">
            <mat-icon>undo</mat-icon>
        </a>
    </div>
</div>