<div class="container">
    <app-header-name></app-header-name>
    <div class="section">
        <h1 class="h1-title" i18n>Fleximetro</h1>
        <form #f="ngForm" (submit)="save(f.value)">
            <table class="section-table">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th class="th-top" *ngIf="pointer>=1 && !addEval">
                            <button type="button">{{evaluation[pointer-1].data | date:'dd/LL/yyyy'}}</button>
                        </th>
                        <th class="th-top" *ngIf="pointer>=0">
                            <button type="button">{{evaluation[pointer].data | date:'dd/LL/yyyy'}}</button>
                        </th>
                        <th class="th-top" *ngIf="addEval">
                            <input name="data" #data="ngModel" [(ngModel)]="newEvaluation.data" type="date" class="data-input">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-row-subtitle">
                        <th [attr.colspan]="pointer>=1 ? 3 : 2" class="sub-line" i18n><span (click)="openDialog('Cervical')">Cervical</span></th>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('Cervical - Flexão/Extensão')">Flexão/Extensão</span></th>
                        <td *ngIf="pointer>=1 && !addEval && editPointer!=1">{{evaluation[pointer-1].cervicale}}</td>
                        <td *ngIf="editPointer==1 && editAv">
                            <input name="cervicale" #cervicale="ngModel" [(ngModel)]="newEvaluation.cervicale" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="pointer>=0 && editPointer!=0">{{evaluation[pointer].cervicale}}</td>
                        <td *ngIf="editPointer==0 && editAv">
                            <input name="cervicale" #cervicale="ngModel" [(ngModel)]="newEvaluation.cervicale" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="addEval">
                            <input name="cervicale" #cervicale="ngModel" [(ngModel)]="newEvaluation.cervicale" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('Cervical - Flexão Lateral')">Flexão Lateral</span></th>
                        <td *ngIf="pointer>=1 && !addEval && editPointer!=1">{{evaluation[pointer-1].cervicall}}</td>
                        <td *ngIf="editPointer==1 && editAv">
                            <input name="cervicall" #cervicall="ngModel" [(ngModel)]="newEvaluation.cervicall" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="pointer>=0 && editPointer!=0">{{evaluation[pointer].cervicall}}</td>
                        <td *ngIf="editPointer==0 && editAv">
                            <input name="cervicall" #cervicall="ngModel" [(ngModel)]="newEvaluation.cervicall" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="addEval">
                            <input name="cervicall" #cervicall="ngModel" [(ngModel)]="newEvaluation.cervicall" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('Cervical - Rotação')">Rotação</span></th>
                        <td *ngIf="pointer>=1 && !addEval && editPointer!=1">{{evaluation[pointer-1].cervicalr}}</td>
                        <td *ngIf="editPointer==1 && editAv">
                            <input name="cervicalr" #cervicalr="ngModel" [(ngModel)]="newEvaluation.cervicalr" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="pointer>=0 && editPointer!=0">{{evaluation[pointer].cervicalr}}</td>
                        <td *ngIf="editPointer==0 && editAv">
                            <input name="cervicalr" #cervicalr="ngModel" [(ngModel)]="newEvaluation.cervicalr" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="addEval">
                            <input name="cervicalr" #cervicalr="ngModel" [(ngModel)]="newEvaluation.cervicalr" type="number">
                        </td>
                    </tr>

                    <tr  class="table-row-subtitle">
                        <th [attr.colspan]="pointer>=1 ? 3 : 2" class="sub-line" i18n><span (click)="openDialog('Ombro')">Ombro</span></th>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('Ombro - Flexão/Extensão')">Flexão/Extensão</span></th>
                        <td *ngIf="pointer>=1 && !addEval && editPointer!=1">{{evaluation[pointer-1].ombrof}}</td>
                        <td *ngIf="editPointer==1 && editAv">
                            <input name="ombrof" #ombrof="ngModel" [(ngModel)]="newEvaluation.ombrof" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="pointer>=0 && editPointer!=0">{{evaluation[pointer].ombrof}}</td>
                        <td *ngIf="editPointer==0 && editAv">
                            <input name="ombrof" #ombrof="ngModel" [(ngModel)]="newEvaluation.ombrof" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="addEval">
                            <input name="ombrof" #ombrof="ngModel" [(ngModel)]="newEvaluation.ombrof" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('Ombro - Adução/Abdução')">Adução/Abdução</span></th>
                        <td *ngIf="pointer>=1 && !addEval && editPointer!=1">{{evaluation[pointer-1].ombroad}}</td>
                        <td *ngIf="editPointer==1 && editAv">
                            <input name="ombroad" #ombroad="ngModel" [(ngModel)]="newEvaluation.ombroad" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="pointer>=0 && editPointer!=0">{{evaluation[pointer].ombroad}}</td>
                        <td *ngIf="editPointer==0 && editAv">
                            <input name="ombroad" #ombroad="ngModel" [(ngModel)]="newEvaluation.ombroad" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="addEval">
                            <input name="ombroad" #ombroad="ngModel" [(ngModel)]="newEvaluation.ombroad" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('Ombro - Rotação')">Rotação</span></th>
                        <td *ngIf="pointer>=1 && !addEval && editPointer!=1">{{evaluation[pointer-1].ombromedial}}</td>
                        <td *ngIf="editPointer==1 && editAv">
                            <input name="ombromedial" #ombromedial="ngModel" [(ngModel)]="newEvaluation.ombromedial" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="pointer>=0 && editPointer!=0">{{evaluation[pointer].ombromedial}}</td>
                        <td *ngIf="editPointer==0 && editAv">
                            <input name="ombromedial" #ombromedial="ngModel" [(ngModel)]="newEvaluation.ombromedial" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="addEval">
                            <input name="ombromedial" #ombromedial="ngModel" [(ngModel)]="newEvaluation.ombromedial" type="number">
                        </td>
                    </tr>

                    <tr  class="table-row-subtitle">
                        <th [attr.colspan]="pointer>=1 ? 3 : 2" class="sub-line" i18n><span (click)="openDialog('Cotovelo')">Cotovelo</span></th>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('Cotovelo - Flexão/Extensão')">Flexão/Extensão</span></th>
                        <td *ngIf="pointer>=1 && !addEval && editPointer!=1">{{evaluation[pointer-1].cotovelof}}</td>
                        <td *ngIf="editPointer==1 && editAv">
                            <input name="cotovelof" #cotovelof="ngModel" [(ngModel)]="newEvaluation.cotovelof" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="pointer>=0 && editPointer!=0">{{evaluation[pointer].cotovelof}}</td>
                        <td *ngIf="editPointer==0 && editAv">
                            <input name="cotovelof" #cotovelof="ngModel" [(ngModel)]="newEvaluation.cotovelof" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="addEval">
                            <input name="cotovelof" #cotovelof="ngModel" [(ngModel)]="newEvaluation.cotovelof" type="number">
                        </td>
                    </tr>
 
                    <tr  class="table-row-subtitle">
                        <th [attr.colspan]="pointer>=1 ? 3 : 2" class="sub-line" i18n><span (click)="openDialog('Antebraço')">Antebraço</span></th>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('Antebraço - Supinação/Pronação')">Supinação/Pronação</span></th>
                        <td *ngIf="pointer>=1 && !addEval && editPointer!=1">{{evaluation[pointer-1].antbsp}}</td>
                        <td *ngIf="editPointer==1 && editAv">
                            <input name="antbsp" #antbsp="ngModel" [(ngModel)]="newEvaluation.antbsp" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="pointer>=0 && editPointer!=0">{{evaluation[pointer].antbsp}}</td>
                        <td *ngIf="editPointer==0 && editAv">
                            <input name="antbsp" #antbsp="ngModel" [(ngModel)]="newEvaluation.antbsp" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="addEval">
                            <input name="antbsp" #antbsp="ngModel" [(ngModel)]="newEvaluation.antbsp" type="number">
                        </td>
                    </tr>

                    <tr  class="table-row-subtitle">
                        <th [attr.colspan]="pointer>=1 ? 3 : 2" class="sub-line" i18n><span (click)="openDialog('Punho')">Punho</span></th>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('Punho - Flexão/Extensão')">Flexão/Extensão</span></th>
                        <td *ngIf="pointer>=1 && !addEval && editPointer!=1">{{evaluation[pointer-1].punhof}}</td>
                        <td *ngIf="editPointer==1 && editAv">
                            <input name="punhof" #punhof="ngModel" [(ngModel)]="newEvaluation.punhof" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="pointer>=0 && editPointer!=0">{{evaluation[pointer].punhof}}</td>
                        <td *ngIf="editPointer==0 && editAv">
                            <input name="punhof" #punhof="ngModel" [(ngModel)]="newEvaluation.punhof" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="addEval">
                            <input name="punhof" #punhof="ngModel" [(ngModel)]="newEvaluation.punhof" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('Punho - Desvio Ulnar/Radial')">Desvio Ulnar/Radial</span></th>
                        <td *ngIf="pointer>=1 && !addEval && editPointer!=1">{{evaluation[pointer-1].punhoe}}</td>
                        <td *ngIf="editPointer==1 && editAv">
                            <input name="punhoe" #punhoe="ngModel" [(ngModel)]="newEvaluation.punhoe" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="pointer>=0 && editPointer!=0">{{evaluation[pointer].punhoe}}</td>
                        <td *ngIf="editPointer==0 && editAv">
                            <input name="punhoe" #punhoe="ngModel" [(ngModel)]="newEvaluation.punhoe" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="addEval">
                            <input name="punhoe" #punhoe="ngModel" [(ngModel)]="newEvaluation.punhoe" type="number">
                        </td>
                    </tr>

                    <tr  class="table-row-subtitle">
                        <th [attr.colspan]="pointer>=1 ? 3 : 2" class="sub-line" i18n><span (click)="openDialog('Quadril')">Quadril</span></th>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('Quadril - Flexão/Extensão')">Flexão/Extensão</span></th>
                        <td *ngIf="pointer>=1 && !addEval && editPointer!=1">{{evaluation[pointer-1].quadrilf}}</td>
                        <td *ngIf="editPointer==1 && editAv">
                            <input name="quadrilf" #quadrilf="ngModel" [(ngModel)]="newEvaluation.quadrilf" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="pointer>=0 && editPointer!=0">{{evaluation[pointer].quadrilf}}</td>
                        <td *ngIf="editPointer==0 && editAv">
                            <input name="quadrilf" #quadrilf="ngModel" [(ngModel)]="newEvaluation.quadrilf" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="addEval">
                            <input name="quadrilf" #quadrilf="ngModel" [(ngModel)]="newEvaluation.quadrilf" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('Quadril - Adução/Abdução')">Adução/Abdução</span></th>
                        <td *ngIf="pointer>=1 && !addEval && editPointer!=1">{{evaluation[pointer-1].quadrilad}}</td>
                        <td *ngIf="editPointer==1 && editAv">
                            <input name="quadrilad" #quadrilad="ngModel" [(ngModel)]="newEvaluation.quadrilad" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="pointer>=0 && editPointer!=0">{{evaluation[pointer].quadrilad}}</td>
                        <td *ngIf="editPointer==0 && editAv">
                            <input name="quadrilad" #quadrilad="ngModel" [(ngModel)]="newEvaluation.quadrilad" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="addEval">
                            <input name="quadrilad" #quadrilad="ngModel" [(ngModel)]="newEvaluation.quadrilad" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('Quadril - Rotação')">Rotação</span></th>
                        <td *ngIf="pointer>=1 && !addEval && editPointer!=1">{{evaluation[pointer-1].quadrilmedial}}</td>
                        <td *ngIf="editPointer==1 && editAv">
                            <input name="quadrilmedial" #quadrilmedial="ngModel" [(ngModel)]="newEvaluation.quadrilmedial" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="pointer>=0 && editPointer!=0">{{evaluation[pointer].quadrilmedial}}</td>
                        <td *ngIf="editPointer==0 && editAv">
                            <input name="quadrilmedial" #quadrilmedial="ngModel" [(ngModel)]="newEvaluation.quadrilmedial" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="addEval">
                            <input name="quadrilmedial" #quadrilmedial="ngModel" [(ngModel)]="newEvaluation.quadrilmedial" type="number">
                        </td>
                    </tr>

                    <tr  class="table-row-subtitle">
                        <th [attr.colspan]="pointer>=1 ? 3 : 2" class="sub-line" i18n><span (click)="openDialog('Joelho')">Joelho</span></th>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('Joelho - Flexão/Extensão')">Flexão/Extensão</span></th>
                        <td *ngIf="pointer>=1 && !addEval && editPointer!=1">{{evaluation[pointer-1].joelhof}}</td>
                        <td *ngIf="editPointer==1 && editAv">
                            <input name="joelhof" #joelhof="ngModel" [(ngModel)]="newEvaluation.joelhof" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="pointer>=0 && editPointer!=0">{{evaluation[pointer].joelhof}}</td>
                        <td *ngIf="editPointer==0 && editAv">
                            <input name="joelhof" #joelhof="ngModel" [(ngModel)]="newEvaluation.joelhof" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="addEval">
                            <input name="joelhof" #joelhof="ngModel" [(ngModel)]="newEvaluation.joelhof" type="number">
                        </td>
                    </tr>

                    <tr  class="table-row-subtitle">
                        <th [attr.colspan]="pointer>=1 ? 3 : 2" class="sub-line" i18n><span (click)="openDialog('Tormnozelo')">Tornozelo</span></th>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('Tornozelo - Flexão Dorsal/Planar')">Flexão Dorsal/Plantar</span></th>
                        <td *ngIf="pointer>=1 && !addEval && editPointer!=1">{{evaluation[pointer-1].tornozelod}}</td>
                        <td *ngIf="editPointer==1 && editAv">
                            <input name="tornozelod" #tornozelod="ngModel" [(ngModel)]="newEvaluation.tornozelod" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="pointer>=0 && editPointer!=0">{{evaluation[pointer].tornozelod}}</td>
                        <td *ngIf="editPointer==0 && editAv">
                            <input name="tornozelod" #tornozelod="ngModel" [(ngModel)]="newEvaluation.tornozelod" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="addEval">
                            <input name="tornozelod" #tornozelod="ngModel" [(ngModel)]="newEvaluation.tornozelod" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('Tornozelo - Inversão/Eversão')">Inversão/Eversão</span></th>
                        <td *ngIf="pointer>=1 && !addEval && editPointer!=1">{{evaluation[pointer-1].tornozelop}}</td>
                        <td *ngIf="editPointer==1 && editAv">
                            <input name="tornozelop" #tornozelop="ngModel" [(ngModel)]="newEvaluation.tornozelop" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="pointer>=0 && editPointer!=0">{{evaluation[pointer].tornozelop}}</td>
                        <td *ngIf="editPointer==0 && editAv">
                            <input name="tornozelop" #tornozelop="ngModel" [(ngModel)]="newEvaluation.tornozelop" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="addEval">
                            <input name="tornozelop" #tornozelop="ngModel" [(ngModel)]="newEvaluation.tornozelop" type="number">
                        </td>
                    </tr>

                    <tr  class="table-row-subtitle">
                        <th [attr.colspan]="pointer>=1 ? 3 : 2" class="sub-line" i18n><span (click)="openDialog('Tronco')">Tronco</span></th>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('Tronco - Flexão/Extensão')">Flexão/Extensão</span></th>
                        <td *ngIf="pointer>=1 && !addEval && editPointer!=1">{{evaluation[pointer-1].lombarf}}</td>
                        <td *ngIf="editPointer==1 && editAv">
                            <input name="lombarf" #lombarf="ngModel" [(ngModel)]="newEvaluation.lombarf" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="pointer>=0 && editPointer!=0">{{evaluation[pointer].lombarf}}</td>
                        <td *ngIf="editPointer==0 && editAv">
                            <input name="lombarf" #lombarf="ngModel" [(ngModel)]="newEvaluation.lombarf" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="addEval">
                            <input name="lombarf" #lombarf="ngModel" [(ngModel)]="newEvaluation.lombarf" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('Tronco - Flexão Lateral')">Flexão Lateral</span></th>
                        <td *ngIf="pointer>=1 && !addEval && editPointer!=1">{{evaluation[pointer-1].lombarl}}</td>
                        <td *ngIf="editPointer==1 && editAv">
                            <input name="lombarl" #lombarl="ngModel" [(ngModel)]="newEvaluation.lombarl" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="pointer>=0 && editPointer!=0">{{evaluation[pointer].lombarl}}</td>
                        <td *ngIf="editPointer==0 && editAv">
                            <input name="lombarl" #lombarl="ngModel" [(ngModel)]="newEvaluation.lombarl" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="addEval">
                            <input name="lombarl" #lombarl="ngModel" [(ngModel)]="newEvaluation.lombarl" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th i18n><span (click)="openDialog('Tronco - Rotação')">Rotação</span></th>
                        <td *ngIf="pointer>=1 && !addEval && editPointer!=1">{{evaluation[pointer-1].lombarr}}</td>
                        <td *ngIf="editPointer==1 && editAv">
                            <input name="lombarr" #lombarr="ngModel" [(ngModel)]="newEvaluation.lombarr" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="pointer>=0 && editPointer!=0">{{evaluation[pointer].lombarr}}</td>
                        <td *ngIf="editPointer==0 && editAv">
                            <input name="lombarr" #lombarr="ngModel" [(ngModel)]="newEvaluation.lombarr" type="number" (focus)="$event.target.select()">
                        </td>
                        <td *ngIf="addEval">
                            <input name="lombarr" #lombarr="ngModel" [(ngModel)]="newEvaluation.lombarr" type="number">
                        </td>
                    </tr>
                    <tr>
                        <th>Ações</th>
                        <td *ngIf="pointer>=1 && !addEval">
                            <app-edit-del-form *ngIf="(editPointer==1 && editAv) || !editAv"
                                [dataAv]="evaluation[pointer-1].data"
                                (action)="executeAction($event, evaluation[pointer-1], 1)"></app-edit-del-form>
                        </td>
                        <td *ngIf="pointer>=0 && !addEval">
                            <app-edit-del-form *ngIf="(editPointer==0 && editAv) || !editAv"
                                [dataAv]="evaluation[pointer].data"
                                (action)="executeAction($event, evaluation[pointer], 0)"></app-edit-del-form>
                        </td>
                        <td *ngIf="addEval">&nbsp;</td>
                    </tr>
                </tbody>
            </table>

            <div class="action">
                <button type="button" *ngIf="!addEval" [disabled]="pointer<=1 || editAv" mat-mini-fab color="default"
                    (click)="pointer=pointer-1">
                    <mat-icon class="mat-14">chevron_left</mat-icon>
                </button>
                <button type="button" *ngIf="!addEval" mat-stroked-button [disabled]="editAv" (click)="addEvaluation()">
                    <mat-icon class="mat-18">add</mat-icon>
                </button>
                <button type="button" *ngIf="!addEval" [disabled]="pointer == maxPointer-1 || pointer == -1 || editAv"
                    mat-mini-fab color="default" (click)="pointer=pointer+1">
                    <mat-icon class="mat-14">chevron_right</mat-icon>
                </button>
                <button type="button" *ngIf="addEval" mat-stroked-button color="default" (click)="closeInput()">
                    <mat-icon class="mat-18">close</mat-icon>
                </button>
                <button *ngIf="addEval" mat-stroked-button>
                    <mat-icon class="mat-18">check</mat-icon>
                </button>
            </div>
        </form>

    </div>
</div>