.container {
  background-image: url("../../../../assets/img/aval_caminhada.jpg");
  background-repeat: no-repeat;
  background-blend-mode: normal;
  background-size: cover;
  background-position: center;
}
.section{
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.mat-card{
  height: 30px;
  width: 280px;
  background-color: rgba(247, 238, 238, 0.704);
  margin-bottom: 1px;
}

  