<div class="container">
    <app-header-name></app-header-name>
    <div class="section">
        <div class="section-content">
        <h1 class="h1-title" i18n>Testes de Caminhada</h1>
        <div class="section-cards">
            <mat-card [routerLink]="['/rock']">
                <mat-card-header>
                    <mat-card-subtitle i18n="Subtitle">Rockport - 1609m</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <mat-card [routerLink]="['/ukk']">
                <mat-card-header>
                    <mat-card-subtitle i18n="Subtitle"
                    [style.color]="(age >= 20 && age <= 64) ? 'white' : '#AAAAAA'">
                    Instituto UKK Finlândia<br />Kukkonen-Harjula et Al - 2000m
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p><strong>Destinado a: </strong> individuos com baixa condição física, obesos e idosos.</p>
                    <p><strong>Faixa etária:</strong> 20 a 64 anos, homens e mulheres.</p>
                    <p><strong>Objetivo:</strong> caminhar o mais rápido possivél o percurso proposto.</p>
                </mat-card-content>
            </mat-card>
            <mat-card [routerLink]="['/cureton']">
                <mat-card-header>
                    <mat-card-subtitle i18n="Subtitle" 
                    [style.color]="(age >= 8 && age <= 17) ? 'white' : '#AAAAAA'">
                    Cureton et Al - 1609m
                </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p><strong>Destinado a: </strong> crianças e jovens.</p>
                    <p><strong>Faixa etária:</strong> 8 a 17 anos.</p>
                    <p><strong>Objetivo:</strong> completar o percurso de 1609 metros (1 milha),
                        correndo e/ou caminhado o mais rápido possivél. </p>
                </mat-card-content>
            </mat-card>
        </div>

        </div>
    </div>

</div>