.container {
  background-image: url("./../../../../assets/img/flexibilidade.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.section-cards{
  width: 100%;
}

.mat-card{
  height: 30px;
  background-color: rgba(119, 107, 107, 0.788);
  margin-bottom: 3px;
  
}
.mat-card-subtitle{
  color: white;
  font-size: 16px;
  font-weight: unset;
}

.h1-title{
  font-size: 22px;
}

@media only screen and (min-width: 768px){
  .section{
    width: 425px !important;
  }
}

  