<div class="container">
    <div class="header">
        <h3>Flexibilidade - Técnicas utilizadas</h3>
    </div>

    <div class="main">
        <mat-card>
            <mat-card-header [routerLink]="['/goniometro/', studentId]">
                <mat-card-subtitle i18n="Subtitle">Goniómetro
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <mat-card>
            <mat-card-header [routerLink]="['/fleximetro/', studentId]">
                <mat-card-subtitle i18n="Subtitle">Flexímetro
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <mat-card>
            <mat-card-header [routerLink]="['/flexiteste/', studentId]">
                <mat-card-subtitle i18n="Subtitle">Flexiteste
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <mat-card>
            <mat-card-header [routerLink]="['/bwd/', studentId]">
                <mat-card-subtitle i18n="Subtitle">Banco de Wells & Dillon (adaptado)
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>

    <div class="footer">
        <button mat-mini-fab color="primary" type="button" (click)="goBack()">
            <mat-icon>undo</mat-icon>
        </button>
    </div>
</div>