<div class="container">
    <app-header-name></app-header-name>

    <div class="section">
        <h1 class="h1-title">Flexibilidade - Técnicas Utilizadas</h1>
        <div class="section-cards">
            <mat-card>
                <mat-card-header [routerLink]="['/goniometro/']">
                    <mat-card-subtitle i18n="Subtitle">Goniômetro
                    </mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <mat-card>
                <mat-card-header [routerLink]="['/fleximetro/']">
                    <mat-card-subtitle i18n="Subtitle">Flexímetro
                    </mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <mat-card>
                <mat-card-header [routerLink]="['/flexiteste/']">
                    <mat-card-subtitle i18n="Subtitle">Flexiteste
                    </mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <mat-card>
                <mat-card-header [routerLink]="['/bwd/']">
                    <mat-card-subtitle i18n="Subtitle">Banco de Wells & Dillon (adaptado)
                    </mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </div>

    </div>

</div>