<div class="container">
    <div class="header">
        <h1>Flexibilidade - Técnicas Utilizadas</h1>
    </div>

    <div class="section">
        <mat-card>
            <mat-card-header [routerLink]="['/goniometro/']">
                <mat-card-subtitle i18n="Subtitle">Goniômetro
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <mat-card>
            <mat-card-header [routerLink]="['/fleximetro/']">
                <mat-card-subtitle i18n="Subtitle">Flexímetro
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <mat-card>
            <mat-card-header [routerLink]="['/flexiteste/']">
                <mat-card-subtitle i18n="Subtitle">Flexiteste
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <mat-card>
            <mat-card-header [routerLink]="['/bwd/']">
                <mat-card-subtitle i18n="Subtitle">Banco de Wells & Dillon (adaptado)
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>

    <div class="footer">
        <button mat-mini-fab color="primary" type="button" (click)="goBack()">
            <mat-icon>undo</mat-icon>
        </button>
    </div>
</div>