.mat-card {
    width: 90%;
    margin-bottom: 12px;
    display: inline-flex;
}

.result {
    width: 80%;
    margin: auto;
}

.action {
    width: 200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
