.container {
  background-image: url("./../../../assets/img/tyler-nix-Y1drF0Y3Oe0-unsplash.jpg");
  background-repeat: no-repeat;
  background-blend-mode: normal;
  background-size: cover;
  background-position: center;
}



.mat-accordion{
  width: 360px;
  margin: auto;
}


.mat-expansion-panel {
  background-color: rgba(247, 238, 238, 0.704);
}

.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-card {
  width: 300px;
  margin: auto;
}

.check-box {
  margin-bottom: 20px;
}

.mat-checkbox {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  width: 240px;
  margin: auto;
  font-size: small;
}

.mat-label {
  display: block;
}

.mat-tab-group {
  width: 100%;
}

.escalas{
  display: flex;
  flex-direction: column;
}

.mat-radio-button {
  display: inline;
  margin: 5px;
}
.mat-checkbox-layout {
  white-space: normal !important;
}

.mat-radio-label {
    white-space: normal !important;
    padding-bottom: 10px !important; 
    padding-right: 5px !important;
  }

.wrap-label {
    white-space: break-spaces;
    font-size: small;
}



.patologico {
  .mat-radio-button {
    display: inline-block;
    margin-left: 20px;
    font-size: unset;
  }

  .mat-input {
    width: 96%;
  }
}

.input-lg {
  width: 100%;
  margin: auto;
}

.input-sm {
  width: 60px;
  margin-left: 20px;
}

@media only screen and (min-width: 768px) {

  .mat-accordion{
    width: 520px !important;
  }
  .mat-card {
    width: 440px !important;
    margin: auto;
  }
  ::ng-deep .mat-tab-header-pagination {
    display: none !important;
}

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }
}

