
.container{
  position: relative;
  background-image: url("../../../assets/img/tyler-nix-Y1drF0Y3Oe0-unsplash.jpg");
  background-repeat: no-repeat;
  background-blend-mode: normal;
  background-size: cover;
  background-position: center;
 // background-color: rgba(75, 73, 73, 0.404);
  height: 94vh;
  width: 98vw;
  margin: auto;
  overflow: auto;
  
}

.header{
    margin-top: 30px;;
    width: 100%;
    text-align: center;
    color: white;
}

.section{
  position: absolute;
  top: 40%;
  left:50%;
  transform: translateX(-50%);
  width: 96%;
  margin: auto;
  overflow: auto;
  z-index: 1000;
 }

 .mat-expansion-panel{
   background-color: rgba(247, 238, 238, 0.704);
 }

.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}


.check-box{
 // background-color: rgba(241, 235, 235, 0.767);
  margin-bottom: 20px;
}

.mat-checkbox {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  width: 240px;
  margin: auto;
  font-size: small;
}


mat-label{
  display: block;
}

.mat-tab-group{
  width: 100%;
}

.mat-card{
  width: 90%;
  margin: auto;
}

.mat-radio-button{
  display: block;
  margin-top: 5px;
  font-size: x-small;
}


.patologico{
  .mat-radio-button{
    display: inline-block;
    margin-left: 20px;
    font-size: unset;
  }

  .mat-input{
    width: 96%;
  }
}






.input-lg{
  width: 100%;
  margin: auto;
}

.input-sm{
  width: 60px;
  margin-left: 20px;
}



/* .footer{
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
} */