<div class="container">
  <app-header-name></app-header-name>

  <div class="section">
    <div class="section-content">
      <h1 class="h1-title" i18n="Title">Anamnese</h1>
      <mat-accordion class="headers-align">
        <!-- Objectivos -->
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title i18n="Title | objectivos a alcançar">
              Objetivos*
            </mat-panel-title>
            <mat-panel-description>&nbsp;</mat-panel-description>
          </mat-expansion-panel-header>
          <form #fs1="ngForm" (keydown.enter)="$event.preventDefault()" (submit)="saveObjetivos(fs1.value)"
            autocomplete="off">
            <mat-card>
              <mat-card-content>

                <div class="check-box">
                  <mat-checkbox i18n="Label" #Q20="ngModel" name="Q20" [(ngModel)]="student.Q20">Alto Rendimento
                  </mat-checkbox>
                  <mat-checkbox i18n="Label" #Q17="ngModel" name="Q17" [(ngModel)]="student.Q17">Condicionamento Físico
                    Geral</mat-checkbox>
                  <mat-checkbox i18n="Label" #QEST="ngModel" name="QEST" [(ngModel)]="student.QEST">Estético
                  </mat-checkbox>
                  <div *ngIf="QEST.value" style="margin-left: 25px;">
                    <mat-checkbox i18n="Label" #Q13="ngModel" name="Q13" [(ngModel)]="student.Q13">Emagrecimento
                    </mat-checkbox>
                    <mat-checkbox i18n="Label" #Q201="ngModel" name="Q201" [(ngModel)]="student.Q201">Hipertrofia
                      muscular
                    </mat-checkbox>
                  </div>
                  <mat-checkbox i18n="Label" #Q14="ngModel" name="Q14" [(ngModel)]="student.Q14">Lazer</mat-checkbox>
                  <mat-checkbox i18n="Label" #Q16="ngModel" name="Q16" [(ngModel)]="student.Q16">Prevenção
                  </mat-checkbox>
                  <mat-checkbox i18n="Label" #Q11="ngModel" name="Q11" [(ngModel)]="student.Q11">Saúde</mat-checkbox>
                  <mat-checkbox i18n="Label" #Q15="ngModel" name="Q15" [(ngModel)]="student.Q15">Terapêutico
                  </mat-checkbox>

                  <mat-checkbox i18n="Label" #Q19="ngModel" name="Q19" [(ngModel)]="student.Q19">Outros</mat-checkbox>
                </div>
                <mat-form-field *ngIf="Q19.value" class="input-lg">
                  <mat-label i18n>Qual?</mat-label>
                  <textarea matInput i18n placeholder="especificar..."></textarea>
                </mat-form-field>
              </mat-card-content>
            </mat-card>

            <mat-card>

              <mat-card-content>
                <mat-form-field class="input-lg">
                  <mat-label i18n>Objetivos a alcançar</mat-label>
                  <textarea matInput #OBJETIVO="ngModel" name="OBJETIVO" [(ngModel)]="student.OBJETIVO" i18n
                    placeholder="especificar..."></textarea>
                </mat-form-field>

                <mat-form-field style="display: contents;">
                  <mat-label i18n="Label">Expectativa (data) para alcançar o objetivo</mat-label>
                  <input matInput [style]="errorData.year || errorData.month || errorData.day ? 'color:red' : null"
                    type="text" #DT_OBJ="ngModel" name="DT_OBJ" [(ngModel)]="student.DT_OBJ" mask="00/00/0000"
                    [showMaskTyped]="true" autocomplete="off" (focus)="$event.target.select()"
                    (change)="checkData(DT_OBJ)">
                  <mat-hint style="color: red" *ngIf="errorData.year">*Atenção! O ano não pode ser inferior ao atual.
                  </mat-hint>
                  <mat-hint style="color: red" *ngIf="errorData.month && !errorData.year">*Atenção! Verifique o mês
                    introduzido.</mat-hint>
                  <mat-hint style="color: red" *ngIf="errorData.day && !errorData.year && !errorData.month">*Atenção!
                    Verifique o dia introduzido.</mat-hint>
                </mat-form-field>

                <div class="escalas">
                  <mat-label i18n>Interesse pelo objetivo </mat-label>
                  <mat-slider #INTERESSE="ngModel" name="INTERESSE" [(ngModel)]="student.INTERESSE" thumbLabel
                    tickInterval="1" min="0" max="10">
                  </mat-slider>
                </div>
                <div class="escalas">
                  <mat-label i18n>É um objetivo alcançável?</mat-label>
                  <mat-slider #ALCANCA="ngModel" name="ALCANCA" [(ngModel)]="student.ALCANCA" thumbLabel
                    tickInterval="1" min="0" max="10">
                  </mat-slider>
                </div>
                <div class="escalas">
                  <mat-label i18n>Depende de você mesmo alcançar o objetivo?</mat-label>
                  <mat-slider #DEPENDE="ngModel" name="DEPENDE" [(ngModel)]="student.DEPENDE" thumbLabel
                    tickInterval="1" min="0" max="10"></mat-slider>
                </div>

                <mat-radio-group aria-label="Select an option" #ANTES="ngModel" name="ANTES"
                  [(ngModel)]="student.ANTES">
                  <mat-label i18n>Se deve alcançar outros objetivos antes?</mat-label>
                  <mat-radio-button value="1" i18n>Sim</mat-radio-button>
                  <mat-radio-button value="2" i18n>Não</mat-radio-button>
                </mat-radio-group>
                <mat-form-field class="input-lg">
                  <mat-label i18n>Critérios para decidir se alcança o objetivo.</mat-label>
                  <textarea #CRITERIOS="ngModel" name="CRITERIOS" [(ngModel)]="student.CRITERIOS" matInput i18n
                    placeholder="especificar..."></textarea>
                </mat-form-field>
              </mat-card-content>
            </mat-card>
            <mat-action-row>
              <button mat-stroked-button i18n="Botão" (click)="nextStep()" matTooltip="Salvar e avançar."
                matTooltipPosition="above" matTooltipHideDelay="2000">
                Salvar<strong>&#8628;</strong>
              </button>
            </mat-action-row>
          </form>
        </mat-expansion-panel>

        <!-- Estilo de vida-->
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title i18n="Title">
              Estilo de Vida*
            </mat-panel-title>
            <mat-panel-description>&nbsp;</mat-panel-description>
          </mat-expansion-panel-header>
          <form #fev="ngForm" (keydown.enter)="$event.preventDefault()" (submit)="saveEstiloVida(fev.value)"
            autocomplete="off">

            <mat-card>
              <mat-card-header>
                <mat-card-subtitle i18n="Label">Nível de Atividade Física</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <mat-tab-group>
                  
                  <mat-tab label=" A ">
                    <p i18n>Não participa regularmente de atividades esportivas ou recreacionais programadas ou
                      exercícios
                      físicos intensos.</p>

                    <mat-radio-group aria-label="Select an option" #nafs="ngModel" name="nafs"
                      [(ngModel)]="student.nafs">
                      <mat-radio-button value="0" i18n>
                        <span class="wrap-label"> Evita caminhar ou esforçar-se. Prefere usar o elevador,
                          dirige sempre que possível em vez de caminhar.
                        </span></mat-radio-button>

                      <mat-radio-button value="1" i18n>
                        <span class="wrap-label"> Caminha por prazer, usa escadas rotineiramente, exercita-se o
                          suficiente para causar respiração intensa e/ou transpiração.
                        </span>
                      </mat-radio-button>

                    </mat-radio-group>
                  </mat-tab>

                  <mat-tab label=" B ">
                    <p i18n>Participa regularmente de atividades esportivas moderadas ou recreacionais programadas,
                      tais como golfe, andar a cavalo, movimentos calistênicos, tênis de mesa, ...</p>
                    <mat-radio-group aria-label="Select an option" #nafs="ngModel" name="nafs"
                      [(ngModel)]="student.nafs">
                      <mat-radio-button value="2" i18n> 10 a 60 minutos por semana.</mat-radio-button>
                      <mat-radio-button value="3" i18n> Acima de 1 hora por semana.</mat-radio-button>
                    </mat-radio-group>
                  </mat-tab>

                  <mat-tab label=" C">
                    <p i18n>Participa regularmente de exercícios físicos intensos, tais como corrida ao ar livre,
                      corrida em esteira, remo, natação, ciclismo ou participa de atividades aeróbias vigorosas tais
                      como
                      tênis, basquetebol, ...</p>
                    <mat-radio-group aria-label="Select an option" #nafs="ngModel" name="nafs"
                      [(ngModel)]="student.nafs">
                      <mat-radio-button value="4" i18n>
                        <span class="wrap-label"> Corre menos de 1,6Km por semana ou gasta menos de 30 minutos
                          por semana em atividades físicas comparáveis.</span>
                      </mat-radio-button>
                      <mat-radio-button value="5" i18n>
                        <span class="wrap-label"> Corre de 1,6 a 8Km por semana ou gasta 30 a 60 minutos por
                          semana em atividades físicas comparáveis.</span>
                      </mat-radio-button>
                      <mat-radio-button value="6" i18n>
                        <span class="wrap-label"> Corre de 8 a 16Km por semana ou gasta 1 a 3 horas por semana
                          em atividades físicas comparáveis.</span>
                      </mat-radio-button>
                      <mat-radio-button value="7" i18n>
                        <span class="wrap-label"> Corre acima de 16Km por semana ou gasta acima de 3 horas por
                          semana em atividades físicas comparáveis.</span>
                      </mat-radio-button>
                    </mat-radio-group>

                  </mat-tab>
                </mat-tab-group>
                <em style="margin-top: 20px;"><small i18n>Fonte: Ross, R.M. e Jackson, AS (1990)</small></em>
              </mat-card-content>
            </mat-card>
            <mat-card>
              <mat-card-header>
                <mat-card-subtitle i18n>Classificação do Cliente</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <mat-radio-group #classe="ngModel" name="classe" [(ngModel)]="student.classe">
                  <mat-radio-button i18n value="1">
                    Iniciante <span
                      (click)="openDialogHelp('Iniciante', 'Sujeito sedentário, que nunca fez ou que está a mais de 6 meses sem fazer um programa de exercícios físicos regular, pelo menos 2 vezes semanais.', '')">
                      <small style="color: blue; text-decoration: underline; cursor: pointer;">+ info</small>
                    </span>
                  </mat-radio-button>
                  <mat-radio-button i18n value="2">
                    Intermediário <span
                      (click)="openDialogHelp('Intermediário', 'Sujeito ativo, que frequenta um programa de exercício físico irregularmente (não muito assíduo) há mais de 6 meses entre 2 a 3 vezes por semana. Realiza exercícios de baixa/média intensidade (respiração aumentada e capaz de calar) entre 100 a 150 min por semana.', '')">
                      <small style="color: blue; text-decoration: underline; cursor: pointer;">+ info</small>
                    </span>
                  </mat-radio-button>
                  <mat-radio-button i18n value="3">
                    Avançado <span
                      (click)="openDialogHelp('Avançado', 'Atleta ou sujeito que pratica um programa de exercício físico de forma regular há mais de 1 ano, com frequência semanal de 3 ou mais vezes. Realiza exercícios vigorosos (respiração rápida e dificuldade de falar) pelo menos 75 minutos por semana.', '')">
                      <small style="color: blue; text-decoration: underline; cursor: pointer;">+ info</small>
                    </span>
                  </mat-radio-button>
                </mat-radio-group>
              </mat-card-content>
            </mat-card>

            <mat-action-row>
              <button mat-stroked-button (click)="prevStep()" i18n="Label">Anterior</button>
              <button mat-stroked-button color="primary" (click)="nextStep()" i18n="Label"
                matTooltip="Salvar e avançar." matTooltipPosition="above" matTooltipHideDelay="2000">
                Salvar <strong>&#8628;</strong></button>
            </mat-action-row>
          </form>
        </mat-expansion-panel>

        <!-- Histórico Patologico-->
        <mat-expansion-panel class="patologico" [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title i18n="Title">
              Histórico Patológico
            </mat-panel-title>
            <mat-panel-description>&nbsp;</mat-panel-description>
          </mat-expansion-panel-header>
          <form #fhp="ngForm" (keydown.enter)="$event.preventDefault()" (submit)="saveHistoricoPatologico(fhp.value)"
            autocomplete="off">

            <mat-card>
              <mat-card-content>
                <mat-radio-group aria-label="Select an option" #Q2AASN="ngModel" name="Q2AASN"
                  [(ngModel)]="student.Q2AASN">
                  <mat-label i18n="Label">Alergia</mat-label>
                  <mat-radio-button value="1" i18n="Label">Sim</mat-radio-button>
                  <mat-radio-button value="0" i18n="Label">Não</mat-radio-button>
                </mat-radio-group>
                <mat-form-field class="input-lg" *ngIf="Q2AASN.value==1">
                  <mat-label i18n="Label">Qual(is) Alergia(s)</mat-label>
                  <input matInput placeholder="" #Q2AA="ngModel" name="Q2AA" [(ngModel)]="student.Q2AA">
                </mat-form-field>
                <mat-form-field class="input-lg" *ngIf="Q2AASN.value==1">
                  <mat-label i18n="Label">Fator(es) desencadeante(s)</mat-label>
                  <input matInput placeholder="" #Q2AAFATOR="ngModel" name="Q2AAFATOR" [(ngModel)]="student.Q2AAFATOR">
                </mat-form-field>
                <mat-form-field class="input-lg">
                  <mat-label i18n="Label">Observações</mat-label>
                  <textarea matInput placeholder="" #Q22OBS="ngModel" name="Q22OBS"
                    [(ngModel)]="student.Q22OBS"></textarea>
                </mat-form-field>
              </mat-card-content>
            </mat-card>

            <mat-card>

              <mat-card-content>
                <mat-radio-group aria-label="Select an option" #Q2A="ngModel" name="Q2A" [(ngModel)]="student.Q2A">
                  <mat-label i18n="Label">Cirurgia</mat-label>
                  <mat-radio-button value="1" i18n="Label">Sim</mat-radio-button>
                  <mat-radio-button value="0" i18n="Label">Não</mat-radio-button>
                </mat-radio-group>
                <mat-form-field class="input-lg" *ngIf="Q2A.value==1">
                  <mat-label i18n="Label">Qual(is)</mat-label>
                  <input matInput placeholder="" #Q2AQ="ngModel" name="Q2AQ" [(ngModel)]="student.Q2AQ">
                </mat-form-field>
                <mat-form-field class="input-lg">
                  <mat-label i18n="Label">Observações</mat-label>
                  <textarea matInput placeholder="" #Q21OBS="ngModel" name="Q21OBS"
                    [(ngModel)]="student.Q21OBS"></textarea>
                </mat-form-field>
              </mat-card-content>
            </mat-card>


            <!-- Doença -->
            <mat-card>
              <mat-card-content>
                <mat-radio-group aria-label="Select an option" #Q2B="ngModel" name="Q2B" [(ngModel)]="student.Q2B"
                  (change)="clearDoencasInfo(Q2B.value)">
                  <mat-label i18n="Label">Doença<small>(s)</small></mat-label>
                  <mat-radio-button value="1" i18n="Label">Sim</mat-radio-button>
                  <mat-radio-button value="0" i18n="Label">Não</mat-radio-button>
                </mat-radio-group>
                <div class="check-box" [hidden]="Q2B.value!=1">
                  <mat-checkbox i18n="Label" #artrite="ngModel" name="artrite" [(ngModel)]="student.artrite">Artrite
                    Reumatóide</mat-checkbox>
                  <mat-checkbox i18n="Label" #bronquite="ngModel" name="bronquite" [(ngModel)]="student.bronquite">
                    Bronquite Asmática</mat-checkbox>
                  <mat-checkbox i18n="Label" #cancer="ngModel" name="cancer" [(ngModel)]="student.cancer">Câncer
                  </mat-checkbox>
                  <mat-form-field class="input-lg" *ngIf="cancer.value==1">
                    <mat-label i18n="Label">Onde?</mat-label>
                    <input matInput placeholder="" #canceronde="ngModel" name="canceronde"
                      [(ngModel)]="student.canceronde">
                  </mat-form-field>
                  <mat-checkbox i18n="Label" #diabetes1="ngModel" name="diabetes1" [(ngModel)]="student.diabetes1">
                    Diabetes Tipo I</mat-checkbox>
                  <mat-checkbox i18n="Label" #diabetes2="ngModel" name="diabetes2" [(ngModel)]="student.diabetes2">
                    Diabetes Tipo II</mat-checkbox>
                  <mat-checkbox i18n="Label" #cardiacas="ngModel" name="cardiacas" [(ngModel)]="student.cardiacas">
                    Doenças Cardíacas</mat-checkbox>
                  <mat-form-field class="input-lg" *ngIf="cardiacas.value==1">
                    <mat-label i18n="Label">Qual(is)?</mat-label>
                    <input matInput placeholder="" #cardiacasquais="ngModel" name="cardiacasquais"
                      [(ngModel)]="student.cardiacasquais">
                  </mat-form-field>
                  <mat-checkbox i18n="Label" #hipertenso="ngModel" name="hipertenso" [(ngModel)]="student.hipertenso">
                    Hipertensão</mat-checkbox>
                  <mat-checkbox i18n="Label" #osteopenia="ngModel" name="osteopenia" [(ngModel)]="student.osteopenia">
                    Osteopenia</mat-checkbox>
                  <mat-checkbox i18n="Label" #osteoporose="ngModel" name="osteoporose"
                    [(ngModel)]="student.osteoporose">Osteoporose</mat-checkbox>
                </div>

                <mat-form-field class="input-lg" *ngIf="Q2B.value==1">
                  <mat-label i18n="Label">Outras</mat-label>
                  <input matInput placeholder="Qual(is)" #Q2BQ="ngModel" name="Q2BQ" [(ngModel)]="student.Q2BQ">
                </mat-form-field>
                <mat-form-field class="input-lg">
                  <mat-label i18n="Label">Observações</mat-label>
                  <textarea matInput placeholder="" #Q23OBS="ngModel" name="Q23OBS"
                    [(ngModel)]="student.Q23OBS"></textarea>
                </mat-form-field>
              </mat-card-content>
            </mat-card>
            <!--  Lesão -->
            <mat-card>
              <mat-card-content>
                <mat-radio-group aria-label="Select an option" #Q2BLSN="ngModel" name="Q2BLSN"
                  [(ngModel)]="student.Q2BLSN">
                  <mat-label i18n="Label">Lesão(ões)</mat-label>
                  <mat-radio-button value="1" i18n="Label">Sim</mat-radio-button>
                  <mat-radio-button value="0" i18n="Label">Não</mat-radio-button>
                </mat-radio-group>
                <mat-form-field *ngIf="Q2BLSN.value==1" style="width: 60%; margin-left: 10px;">
                  <mat-label i18n="Label">Tipo de lesão</mat-label>
                  <mat-select #Q2BLTIPO="ngModel" name="Q2BLTIPO" [(ngModel)]="student.Q2BLTIPO">
                    <mat-option value="0" i18n="Label">Muscular</mat-option>
                    <mat-option value="1" i18n="Label">Articular</mat-option>
                    <mat-option value="2" i18n="Label">Óssea</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="input-lg" *ngIf="Q2BLSN.value==1">
                  <mat-label i18n="Label">Qual(is)</mat-label>
                  <input matInput placeholder="" #Q2BL="ngModel" name="Q2BL" [(ngModel)]="student.Q2BL">
                </mat-form-field>

                <mat-form-field class="input-lg">
                  <mat-label i18n="Label">Observações</mat-label>
                  <textarea matInput placeholder="" #Q24OBS="ngModel" name="Q24OBS"
                    [(ngModel)]="student.Q24OBS"></textarea>
                </mat-form-field>
              </mat-card-content>
            </mat-card>
            <!-- Medicamentos -->
            <mat-card>
              <mat-card-content>
                <mat-radio-group aria-label="Select an option" #Q2C="ngModel" name="Q2C" [(ngModel)]="student.Q2C">
                  <mat-label i18n="Label">Medicamentos</mat-label>
                  <mat-radio-button value="1" i18n="Label">Sim</mat-radio-button>
                  <mat-radio-button value="0" i18n="Label">Não</mat-radio-button>
                </mat-radio-group>
                <mat-form-field class="input-lg" *ngIf="Q2C.value==1">
                  <mat-label i18n="Label">Qual(is)</mat-label>
                  <input matInput placeholder="" #Q2CQ="ngModel" name="Q2CQ" [(ngModel)]="student.Q2CQ">
                </mat-form-field>
                <mat-form-field class="input-lg" *ngIf="Q2C.value==1">
                  <mat-label i18n="Label">Finalidade(s)</mat-label>
                  <input matInput placeholder="" #Q2CFIM="ngModel" name="Q2CFIM" [(ngModel)]="student.Q2CFIM">
                </mat-form-field>
                <mat-form-field class="input-lg">
                  <mat-label i18n="Label">Observações</mat-label>
                  <textarea matInput placeholder="" #Q25OBS="ngModel" name="Q25OBS"
                    [(ngModel)]="student.Q25OBS"></textarea>
                </mat-form-field>
              </mat-card-content>
            </mat-card>
            <!-- Sangue -->
            <mat-card>
              <mat-card-content>
                <mat-label i18n="Label">Sangue</mat-label>
                <br /><br />
                <div style="text-align: center;">
                  <mat-form-field style="width: 40%;">
                    <mat-label i18n="Label">Tipo de Sangue </mat-label>
                    <mat-select #Q2DTIPO="ngModel" name="Q2DTIPO" [(ngModel)]="student.Q2DTIPO">
                      <mat-option value="A">A</mat-option>
                      <mat-option value="B">B</mat-option>
                      <mat-option value="O">O</mat-option>
                      <mat-option value="AB">AB</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field style="width: 40%;">
                    <mat-label i18n="Label">Factor RH</mat-label>
                    <mat-select #Q2ERH="ngModel" name="Q2ERH" [(ngModel)]="student.Q2ERH">
                      <mat-option value="P" i18n="Label">Positivo</mat-option>
                      <mat-option value="N" i18n="Label">Negativo</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <mat-form-field class="input-lg">
                  <mat-label i18n="Label">Observações</mat-label>
                  <textarea matInput placeholder="" #Q26OBS="ngModel" name="Q26OBS"
                    [(ngModel)]="student.Q26OBS"></textarea>
                </mat-form-field>
              </mat-card-content>
            </mat-card>

            <mat-action-row>
              <button mat-stroked-button (click)="prevStep()" i18n="Label">Anterior</button>
              <button mat-stroked-button color="primary" (click)="nextStep()" i18n="Label"
                matTooltip="Salvar e avançar." matTooltipPosition="above" matTooltipHideDelay="2000">
                Salvar <strong>&#8628;</strong></button>
            </mat-action-row>
          </form>
        </mat-expansion-panel>

        <!--Patologia Familiar-->
        <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title i18n="Label">
              Patologia Familiar
            </mat-panel-title>
            <mat-panel-description>&nbsp;</mat-panel-description>
          </mat-expansion-panel-header>
          <form #fpf="ngForm" (keydown.enter)="$event.preventDefault()" (submit)="savePatologiaFamiliar(fpf.value)"
            autocomplete="off">
            <mat-card>
              <mat-card-content>
                <mat-label i18n>Alguém da familia com estas carateristicas?</mat-label>
                <!-- cardiopatia -->
                <mat-checkbox i18n #Q31="ngModel" name="Q31" [(ngModel)]="student.Q31">Cardiopatia</mat-checkbox>
                <mat-form-field class="" *ngIf="Q31.value">
                  <mat-label i18n="Label">Grau de parentesco</mat-label>
                  <mat-select i18n placeholder="selecione" multiple #cardParentesco="ngModel" name="cardParentesco"
                    [(ngModel)]="Parentesco.Cardio"
                    (selectionChange)="showCardParent(cardParentesco.value, 'Cardiopatia')">
                    <mat-option value="Pai">Pai</mat-option>
                    <mat-option value="Mãe">Mãe</mat-option>
                    <mat-option value="Avô Paterno">Avô Paterno</mat-option>
                    <mat-option value="Avó Paterna">Avó Paterna</mat-option>
                    <mat-option value="Avô Materno">Avô Materno</mat-option>
                    <mat-option value="Avó Materna">Avó Materna</mat-option>
                  </mat-select>
                </mat-form-field>
                <ul *ngIf="Q31.value">
                  <li *ngFor="let p of CardioParentesco; let i=index;"
                    style="width: 100%; display: inline-flex; justify-items: space-between;">
                    <span style="width: 130px;">{{p.parentesco}}</span>
                    <mat-checkbox name="maior60{{i}}" [(ngModel)]="p.maior60" color="primary"
                      style="display: inline; justify-content: end;">
                      mais de 60 anos
                    </mat-checkbox>
                  </li>
                </ul>


                <!-- Diabetes -->
                <mat-checkbox i18n="Label" #Q33="ngModel" name="Q33" [(ngModel)]="student.Q33">Diabetes</mat-checkbox>
                <mat-form-field class="" *ngIf="Q33.value">
                  <mat-label i18n="Label">Grau de parentesco</mat-label>
                  <mat-select i18n placeholder="selecione" multiple #diabetesParentesco="ngModel"
                    name="diabetesParentesco" [(ngModel)]="Parentesco.Diabetes"
                    (selectionChange)="showDiabetesParent(diabetesParentesco.value, 'Diabetes')">
                    <mat-option value="Pai">Pai</mat-option>
                    <mat-option value="Mãe">Mãe</mat-option>
                    <mat-option value="Avô Paterno">Avô Paterno</mat-option>
                    <mat-option value="Avó Paterna">Avó Paterna</mat-option>
                    <mat-option value="Avô Materno">Avô Materno</mat-option>
                    <mat-option value="Avó Materna">Avó Materna</mat-option>
                  </mat-select>
                </mat-form-field>
                <ul *ngIf="Q33.value">
                  <li *ngFor="let p of DiabetesParentesco; let k=index;"
                    style="width: 100%; display: inline-flex; justify-items: space-between;">
                    <span style="width: 130px;">{{p.parentesco}}</span>
                    <mat-checkbox style="display: inline; justify-content: end;" name="maior60{{k + 12}}"
                      [(ngModel)]="p.maior60" color="primary">
                      mais de 60 anos
                    </mat-checkbox>
                  </li>
                </ul>

                <!-- hipertensão -->
                <mat-checkbox i18n="Label" #Q32="ngModel" name="Q32" [(ngModel)]="student.Q32">Hipertensão
                </mat-checkbox>
                <mat-form-field class="" *ngIf="Q32.value">
                  <mat-label i18n="Label">Grau de parentesco</mat-label>
                  <mat-select i18n placeholder="selecione" multiple #hipParentesco="ngModel" name="hipParentesco"
                    [(ngModel)]="Parentesco.Hipertensao"
                    (selectionChange)="showHiperParent(hipParentesco.value, 'Hipertensão')">
                    <mat-option value="Pai">Pai</mat-option>
                    <mat-option value="Mãe">Mãe</mat-option>
                    <mat-option value="Avô Paterno">Avô Paterno</mat-option>
                    <mat-option value="Avó Paterna">Avó Paterna</mat-option>
                    <mat-option value="Avô Materno">Avô Materno</mat-option>
                    <mat-option value="Avó Materna">Avó Materna</mat-option>
                  </mat-select>
                </mat-form-field>
                <ul *ngIf="Q32.value">
                  <li *ngFor="let p of HiperParentesco; let k=index;"
                    style="width: 100%; display: inline-flex; justify-items: space-between;">
                    <span style="width: 130px;">{{p.parentesco}}</span>
                    <mat-checkbox style="display: inline; justify-content: end;" name="maior60{{k + 6}}"
                      [(ngModel)]="p.maior60" color="primary">
                      mais de 60 anos
                    </mat-checkbox>
                  </li>
                </ul>

                <!-- OutraDoenca -->
                <mat-checkbox i18n="Label" #Q34="ngModel" name="Q34" [(ngModel)]="student.Q34">Outra Doença
                </mat-checkbox>
                <mat-form-field class="" *ngIf="Q34.value">
                  <mat-label i18n="Label">Grau de parentesco</mat-label>
                  <mat-select i18n placeholder="selecione" multiple #outraDoencaParentesco="ngModel"
                    name="outraDoencaParentesco" [(ngModel)]="Parentesco.OutraDoenca"
                    (selectionChange)="showOutraDoencaParent(outraDoencaParentesco.value, 'OutraDoenca')">
                    <mat-option value="Pai">Pai</mat-option>
                    <mat-option value="Mãe">Mãe</mat-option>
                    <mat-option value="Avô Paterno">Avô Paterno</mat-option>
                    <mat-option value="Avó Paterna">Avó Paterna</mat-option>
                    <mat-option value="Avô Materno">Avô Materno</mat-option>
                    <mat-option value="Avó Materna">Avó Materna</mat-option>
                  </mat-select>
                </mat-form-field>
                <ul *ngIf="Q34.value">
                  <li *ngFor="let p of OutraDoencaParentesco; let k=index;"
                    style="width: 100%; display: inline-flex; justify-items: space-between;">
                    <span style="width: 130px;">{{p.parentesco}}</span>
                    <mat-checkbox style="display: inline; justify-content: end;" name="maior60{{k + 18}}"
                      [(ngModel)]="p.maior60" color="primary">
                      mais de 60 anos
                    </mat-checkbox>
                  </li>
                </ul>
                <mat-form-field class="input-lg" *ngIf="Q34.value">
                  <mat-label i18n="Label">Descrição da doença</mat-label>
                  <input matInput placeholder="" #Q34RESP="ngModel" name="Q34RESP" [(ngModel)]="student.Q34RESP">
                </mat-form-field>

                <mat-form-field class="input-lg">
                  <mat-label i18n="Label">Observações</mat-label>
                  <textarea matInput placeholder="" #Q3OBS="ngModel" name="Q3OBS"
                    [(ngModel)]="student.Q3OBS"></textarea>
                </mat-form-field>
              </mat-card-content>
            </mat-card>

            <mat-action-row>
              <button mat-stroked-button (click)="prevStep()" i18n="Label">Anterior</button>
              <button mat-stroked-button color="primary" (click)="nextStep()" i18n="Label"
                matTooltip="Salvar e avançar." matTooltipPosition="above" matTooltipHideDelay="2000">
                Salvar <strong>&#8628;</strong></button>
            </mat-action-row>
          </form>
        </mat-expansion-panel>

        <!-- Habitos sociais -->
        <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title i18n="Label">Hábitos Sociais</mat-panel-title>
            <mat-panel-description>&nbsp;</mat-panel-description>
          </mat-expansion-panel-header>
          <form #fhs="ngForm" (keydown.enter)="$event.preventDefault()" (submit)="saveHabitosSociais(fhs.value)"
            autocomplete="off">

            <!--  Bebida -->
            <mat-card>
              <mat-card-content>
                <mat-label i18n><strong>Álcool</strong></mat-label>
                <mat-radio-group aria-label="Select an option" #Q4BB="ngModel" name="Q4BB" [(ngModel)]="student.Q4BB"
                  (change)="clearBebidaInfo()">
                  <mat-radio-button value="1" i18n>Consome</mat-radio-button>
                  <mat-radio-button value="0" i18n>Não consome</mat-radio-button>
                </mat-radio-group>
                <br />
                <mat-label i18n *ngIf="Q4BB.value==1">Frequência</mat-label>
                <mat-radio-group *ngIf="Q4BB.value==1" aria-label="Select an option" #Q4BBTIPO="ngModel" name="Q4BBTIPO"
                  [(ngModel)]="student.Q4BBTIPO">
                  <mat-radio-button value="1" i18n>Frequentemente</mat-radio-button>
                  <mat-radio-button value="2" i18n>Socialmente</mat-radio-button>
                </mat-radio-group>
                <br />
                <mat-label i18n *ngIf="Q4BB.value==1">Há quanto tempo?</mat-label>
                <mat-form-field class="input-sm" *ngIf="Q4BB.value==1">
                  <input matInput i18n placeholder="Anos" #Q4BBA="ngModel" name="Q4BBA" (focus)="$event.target.select()"
                    [(ngModel)]="student.Q4BBA">
                </mat-form-field>
                <mat-form-field class="input-sm" *ngIf="Q4BB.value==1">
                  <input matInput i18n placeholder="Meses" #Q4BBM="ngModel" name="Q4BBM"
                    (focus)="$event.target.select()" [(ngModel)]="student.Q4BBM">
                </mat-form-field>
                <mat-form-field class="input-md" *ngIf="Q4BB.value==1">
                  <mat-label i18n>Quantas vezes por semana?</mat-label>
                  <input matInput class="input-md" i18n placeholder="vezes" #Q4BBVEZES="ngModel" name="Q4BBVEZES"
                    (focus)="$event.target.select()" [(ngModel)]="student.Q4BBVEZES">
                </mat-form-field>
                <mat-form-field class="input-lg">
                  <mat-label i18n="Label">Observações</mat-label>
                  <textarea matInput placeholder="" #Q42OBS="ngModel" name="Q42OBS"
                    [(ngModel)]="student.Q42OBS"></textarea>
                </mat-form-field>
              </mat-card-content>
            </mat-card>

            <!-- Alimentação -->
            <mat-card>
              <mat-card-content>
                <mat-label i18n><strong>Alimentação</strong></mat-label>
                <br />
                <mat-label i18n>Está em dieta?</mat-label>
                <mat-radio-group aria-label="Select an option" #Q4E="ngModel" name="Q4E" [(ngModel)]="student.Q4E"
                  (change)="clearAlimentacaoInfo()">
                  <mat-radio-button value="1" i18n>Sim</mat-radio-button>
                  <mat-radio-button value="2" i18n>não</mat-radio-button>
                </mat-radio-group>
                <mat-form-field class="input-lg" *ngIf="Q4E.value==1">
                  <mat-label i18n="Label">Que tipo de dieta?</mat-label>
                  <textarea matInput placeholder="" #Q4ETIPO="ngModel" name="Q4ETIPO"
                    [(ngModel)]="student.Q4ETIPO"></textarea>
                </mat-form-field>
                <mat-label i18n *ngIf="Q4E.value == 1">A dieta é acompanhada por um profissional?</mat-label>
                <mat-radio-group *ngIf="Q4E.value == 1" aria-label="Select an option" #Q4EPROF="ngModel" name="Q4EPROF"
                  [(ngModel)]="student.Q4EPROF">
                  <mat-radio-button value="1" i18n>Nutricionista</mat-radio-button>
                  <mat-radio-button value="2" i18n>Endocrinologista</mat-radio-button>
                </mat-radio-group>
                <mat-form-field class="input-lg" *ngIf="Q4E.value == 1">
                  <mat-label i18n="Label">Nome do profissional</mat-label>
                  <input matInput placeholder="" #Q4ENOME="ngModel" name="Q4ENOME" [(ngModel)]="student.Q4ENOME">
                </mat-form-field>
                <mat-form-field class="input-lg" *ngIf="Q4E.value == 1">
                  <mat-label i18n="Label">Contato</mat-label>
                  <input matInput placeholder="" #Q4ECONTATO="ngModel" name="Q4ECONTATO"
                    [(ngModel)]="student.Q4ECONTATO">
                </mat-form-field>
                <mat-form-field class="input-lg">
                  <mat-label i18n="Label">Observações</mat-label>
                  <textarea matInput placeholder="" #Q46OBS="ngModel" name="Q46OBS"
                    [(ngModel)]="student.Q46OBS"></textarea>
                </mat-form-field>
              </mat-card-content>
            </mat-card>

            <!-- Exames médicos -->
            <mat-card>
              <mat-card-content>
                <mat-label i18n><strong>Exames Médicos</strong></mat-label>
                <br />
                <mat-label i18n>Faz periodicamente?</mat-label>
                <mat-radio-group aria-label="Select an option" #Q4B="ngModel" name="Q4B" [(ngModel)]="student.Q4B">
                  <mat-radio-button value="1" i18n>Sim</mat-radio-button>
                  <mat-radio-button value="0" i18n>Não</mat-radio-button>
                </mat-radio-group>
                <mat-form-field appearance="" style="width: 280px;">
                  <mat-label i18n="Label">Quando foi realizado o último exame?</mat-label>
                  <input matInput #Q4BDATA="ngModel" name="Q4BDATA" [(ngModel)]="student.Q4BDATA"
                    placeholder="Ex: mês passado">
                </mat-form-field>
                <mat-form-field class="input-lg">
                  <mat-label i18n="Label">Observações</mat-label>
                  <textarea matInput placeholder="" #Q43OBS="ngModel" name="Q43OBS"
                    [(ngModel)]="student.Q43OBS"></textarea>
                </mat-form-field>
              </mat-card-content>
            </mat-card>



            <!-- Postura -->
            <mat-card>
              <mat-card-content>
                <mat-label i18n><strong>Postura</strong></mat-label>
                <br />
                <mat-label i18n>Profissão: {{student.profissao}}</mat-label>
                <br />
                <mat-label i18n>Quais as posturas que mais adota durante o dia?</mat-label>
                <mat-checkbox i18n="Label" #Q4D1="ngModel" name="Q4D1" [(ngModel)]="student.Q4D1">Sentado</mat-checkbox>
                <mat-checkbox i18n="Label" #Q4D2="ngModel" name="Q4D2" [(ngModel)]="student.Q4D2">Em pé</mat-checkbox>
                <mat-checkbox i18n="Label" #Q4D3="ngModel" name="Q4D3" [(ngModel)]="student.Q4D3">Deitado</mat-checkbox>
                <mat-form-field class="input-lg">
                  <mat-label i18n="Label">Observações</mat-label>
                  <textarea matInput placeholder="" #Q45OBS="ngModel" name="Q45OBS"
                    [(ngModel)]="student.Q45OBS"></textarea>
                </mat-form-field>
              </mat-card-content>
            </mat-card>

            <!-- Repouso -->
            <mat-card>
              <mat-card-content>
                <mat-label i18n><strong>Repouso</strong></mat-label>
                <br />
                <mat-label i18n>Quantas horas de sono por dia?</mat-label>
                <mat-radio-group aria-label="Select an option" #Q4C="ngModel" name="Q4C" [(ngModel)]="student.Q4C">
                  <mat-radio-button value="1" i18n>&lt; 5 horas</mat-radio-button>
                  <mat-radio-button value="2" i18n>entre 5 e 6 horas</mat-radio-button>
                  <mat-radio-button value="3" i18n>entre 6 e 7 horas</mat-radio-button>
                  <mat-radio-button value="4" i18n>entre 7 e 8 horas</mat-radio-button>
                  <mat-radio-button value="5" i18n>&gt; 8 horas</mat-radio-button>
                </mat-radio-group>
                <mat-form-field class="input-lg">
                  <mat-label i18n="Label" i18n>Observações</mat-label>
                  <textarea matInput placeholder="" #Q44OBS="ngModel" name="Q44OBS"
                    [(ngModel)]="student.Q44OBS"></textarea>
                </mat-form-field>
              </mat-card-content>
            </mat-card>

            <!-- TABAGISMO -->
            <mat-card>
              <mat-card-content>
                <mat-label i18n><strong>Tabagismo</strong></mat-label>
                <mat-radio-group aria-label="Select an option" #fumante="ngModel" name="fumante"
                  [(ngModel)]="student.fumante" (change)="clearFumanteInfo()">
                  <mat-radio-button value="N" i18n>Não Fumante</mat-radio-button>
                  <mat-radio-button value="S" i18n>Fumante</mat-radio-button>
                  <mat-radio-button value="E" i18n>Eventual</mat-radio-button>
                </mat-radio-group>
                <br />
                <mat-form-field style="width: 200px" *ngIf="fumante.value=='S' || fumante.value=='E'">
                  <mat-label i18n>Quantos cigarros por dia?</mat-label>
                  <input matInput class="input-md" i18n placeholder="nº de cigarros" #qtos="ngModel" name="qtos"
                    (focus)="$event.target.select()" [(ngModel)]="student.qtos">
                </mat-form-field>
                <br />
                <mat-label i18n *ngIf="fumante.value=='S' || fumante.value=='E'">Há quanto tempo?</mat-label>
                <mat-form-field class="input-sm" *ngIf="fumante.value=='S' || fumante.value=='E'">
                  <input matInput i18n placeholder="Anos" #Q4ATA="ngModel" name="Q4ATA" (focus)="$event.target.select()"
                    [(ngModel)]="student.Q4ATA">
                </mat-form-field>
                <mat-form-field class="input-sm" *ngIf="fumante.value=='S' || fumante.value=='E'">
                  <input matInput i18n placeholder="Meses" #Q4ATM="ngModel" name="Q4ATM"
                    (focus)="$event.target.select()" [(ngModel)]="student.Q4ATM">
                </mat-form-field>
                <mat-label i18n *ngIf="fumante.value == 'N'">Se parou, há quanto tempo?</mat-label>
                <mat-form-field class="input-sm" *ngIf="fumante.value == 'N'">
                  <input matInput placeholder="Anos" #Q4APA="ngModel" name="Q4APA" (focus)="$event.target.select()"
                    [(ngModel)]="student.Q4APA">
                </mat-form-field>
                <mat-form-field class="input-sm" *ngIf="fumante.value == 'N'">
                  <input matInput i18n placeholder="Meses" #Q4APM="ngModel" name="Q4APM"
                    (focus)="$event.target.select()" [(ngModel)]="student.Q4APM">
                </mat-form-field>
                <mat-form-field class="input-lg">
                  <mat-label i18n="Label">Observações</mat-label>
                  <textarea matInput placeholder="" #Q41OBS="ngModel" name="Q41OBS"
                    [(ngModel)]="student.Q41OBS"></textarea>
                </mat-form-field>
              </mat-card-content>
            </mat-card>


            <mat-action-row>
              <button mat-stroked-button (click)="prevStep()" i18n="Label">Anterior</button>
              <button mat-stroked-button color="primary" (click)="nextStep()" i18n="Label"
                matTooltip="Salvar e avançar." matTooltipPosition="above" matTooltipHideDelay="2000">
                Salvar <strong>&#8628;</strong></button>
            </mat-action-row>
          </form>
        </mat-expansion-panel>

        <!-- Queixas atuais -->
        <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title i18n="Label">Queixas Atuais</mat-panel-title>
            <mat-panel-description>&nbsp;</mat-panel-description>
          </mat-expansion-panel-header>

          <form #fqa="ngForm" (keydown.enter)="$event.preventDefault()" (submit)="saveQueixasAtuais(fqa.value)"
            autocomplete="off">
            <mat-card>
              <mat-card-content>
                <div class="check-box">
                  <mat-checkbox i18n="Label" #Q56="ngModel" name="Q56" [(ngModel)]="student.Q56">Alergias</mat-checkbox>
                  <mat-checkbox i18n="Label" #Q58="ngModel" name="Q58" [(ngModel)]="student.Q58">Arritmias
                  </mat-checkbox>
                  <mat-checkbox i18n="Label" #Q53="ngModel" name="Q53" [(ngModel)]="student.Q53">Desmaios</mat-checkbox>
                  <mat-checkbox i18n="Label" #Q51="ngModel" name="Q51" [(ngModel)]="student.Q51">Dor de cabeça
                  </mat-checkbox>
                  <mat-checkbox i18n="Label" #Q54="ngModel" name="Q54" [(ngModel)]="student.Q54">Dor no peito
                  </mat-checkbox>
                  <mat-checkbox i18n="Label" #Q510="ngModel" name="Q510" [(ngModel)]="student.Q510">Dores nas costas
                  </mat-checkbox>
                  <div *ngIf="Q510.value" style="margin-left: 25px;">
                    <mat-checkbox i18n="Label" #Q510TC="ngModel" name="Q510TC" [(ngModel)]="student.Q510TC">Cervical
                    </mat-checkbox>
                    <mat-checkbox i18n="Label" #Q510TD="ngModel" name="Q510TD" [(ngModel)]="student.Q510TD">Dorsal
                    </mat-checkbox>
                    <mat-checkbox i18n="Label" #Q510TL="ngModel" name="Q510TL" [(ngModel)]="student.Q510TL">Lombar
                    </mat-checkbox>
                  </div>
                  <mat-checkbox i18n="Label" #Q57="ngModel" name="Q57" [(ngModel)]="student.Q57">Dores nas pernas
                  </mat-checkbox>
                  <mat-checkbox i18n="Label" #Q55="ngModel" name="Q55" [(ngModel)]="student.Q55">Excesso de peso
                  </mat-checkbox>
                  <mat-checkbox *ngIf="student.sexo == 'F'" i18n="Label" #Q59="ngModel" name="Q59"
                    [(ngModel)]="student.Q59">Tensão pré-menstrual
                  </mat-checkbox>
                  <mat-checkbox i18n="Label" #Q52="ngModel" name="Q52" [(ngModel)]="student.Q52">Tonturas</mat-checkbox>

                  <mat-checkbox i18n="Label" #Q511="ngModel" name="Q511" [(ngModel)]="student.Q511">Outras
                  </mat-checkbox>
                </div>
                <mat-form-field class="input-lg" *ngIf="Q511.value">
                  <mat-label i18n="Label">Outras dores</mat-label>
                  <input matInput placeholder="" #Q511RESP="ngModel" name="Q511RESP" [(ngModel)]="student.Q511RESP">
                </mat-form-field>
                <mat-form-field class="input-lg">
                  <mat-label i18n="Label">Observações</mat-label>
                  <input matInput placeholder="" #Q5OBS="ngModel" name="Q5OBS" [(ngModel)]="student.Q5OBS">
                </mat-form-field>
              </mat-card-content>
            </mat-card>

            <mat-action-row>
              <button mat-stroked-button (click)="prevStep()" i18n="Label">Anterior</button>
              <button mat-stroked-button color="primary" (click)="nextStep()" i18n="Label" matTooltip="Salvar."
                matTooltipPosition="above" matTooltipHideDelay="2000">
                Salvar</button>
            </mat-action-row>
          </form>
        </mat-expansion-panel>

      </mat-accordion>
    </div>
  </div>
  <app-overlay *ngIf="spinner"></app-overlay>
</div>