<div class="container">
  <form class="container-form" #f="ngForm" (submit)="submit(f.value)">

    <div class="container-form__group">
      <label>Usuário: </label>
      <mat-form-field>
      <input matInput type="text" i18n="Utilizador | utilizador login" #user ngModel name="username" value="" required>
        </mat-form-field>
    </div>

    <div class="container-form__group">
      <label>Senha: </label>
      <mat-form-field>
          <input matInput i18n="Senha | placeholder" type="password" #pass ngModel name="password" required minlength="3">
      </mat-form-field>
    </div>

    <div class="container-form__button">
      <mat-error *ngIf="!f.valid && user.touched && pass.touched">
        <small i18n="Erro Login">Campos obrigatórios</small>
      </mat-error>
      <mat-error *ngIf="erro">
        <small i18n="Erro Login">Verifique utilizador e senha!</small>
      </mat-error>

      <button i18n="Botão entrar" [disabled]="!f.valid" mat-stroked-button type="submit" color="primary">Entrar</button>
    </div>
  </form>

  <app-overlay *ngIf="spinner"></app-overlay>
</div>