<div class="container">
    

  <div class="section">
    <h1 i18n="titulo">Cadastro</h1>
    <form class="new-form" #f="ngForm" (submit)="saveForm(f.value)" autocomplete="off">
      <input type="hidden" [ngModel]="student.foto" #foto="ngModel" name="foto">
      <mat-form-field appearance="">
        <label i18n="Label | nome do aluno" #nome>Nome</label>
        <input matInput type="search" #nome="ngModel" [ngModel]="student.nome" name="nome" required
        autocomplete="off" (focus)="$event.target.select()">
      </mat-form-field>

      <mat-form-field appearance="">
        <label i18n="Label | data de nascimento">Data de Nascimento <small>(dd/mm/aaaa)</small></label>
        <input matInput type="search" #dt_nasc="ngModel" [(ngModel)]="student.dt_nasc" 
        name="dt_nasc" mask="00/00/0000" autocomplete="off" 
        (focus)="$event.target.select()">
      </mat-form-field>

      <div class="section-middle">
        <div class="section-middle-left">
        <mat-form-field appearance="">
          <label i18n="Label | Sexo">Sexo </label>
          <mat-select style="color: whitesmoke;" #sexo="ngModel" [ngModel]="student.sexo" name="sexo" required>
            <mat-option i18n="genero masculino" value="M" [attr.selected]="student.sexo == 'M'">Masculino</mat-option>
            <mat-option i18n="genero feminino" value="F" [attr.selected]="student.sexo == 'F'">Feminino</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="">
          <label i18n="Label | mobile phone number">Celular</label>
          <input type="search" #telemovel="ngModel" [ngModel]="student.telemovel" name="telemovel" matInput 
          autocomplete="off" (focus)="$event.target.select()">
        </mat-form-field>
        <mat-form-field appearance="">
          <label i18n="Label | Phone number">Telefone</label>
          <input type="search" #telefone="ngModel" [ngModel]="student.telefone" name="telefone" matInput 
            autocomplete="off" (focus)="$event.target.select()">
        </mat-form-field>
      </div>
      <div class="section-middle-right">
        <div class="top">
          <label class="half">Foto: </label> 
          <app-load-image class="half" (imageB64)="receiveImage($event)"></app-load-image>
        </div>
        
        <div class="image-box">
          <img *ngIf="!student.foto" src="./../../../assets/img/nofoto.png" alt="No foto">
          <img *ngIf="student.foto" [src]="student.foto" height="190"> 
        </div>
        
      </div>
      </div>
      <mat-form-field appearance="">
        <label i18n="Label | email">Email</label>
        <input type="search" #email="ngModel" [ngModel]="student.email" name="email" matInput
        autocomplete="off" (focus)="$event.target.select()">
      </mat-form-field>
      <mat-form-field appearance="">
        <label i18n="Label | profissional activity">Profissão</label>
        <input type="search" #profissao="ngModel" [ngModel]="student.profissao" name="profissao" matInput
        autocomplete="off" (focus)="$event.target.select()">
      </mat-form-field>

      <mat-form-field appearance="">
        <label i18n="Label | address">Endereço</label>
        <input type="search" #morada="ngModel" [ngModel]="student.morada" name="morada" matInput
        autocomplete="off"  (focus)="$event.target.select()">
      </mat-form-field>
      <mat-form-field appearance="">
        <label i18n="Label | city name">Cidade</label>
        <input type="search" #localidade="ngModel" [ngModel]="student.localidade" name="localidade" matInput
        autocomplete="off" (focus)="$event.target.select()">
      </mat-form-field>
      <mat-form-field appearance="">
        <label i18n="Label | postal code">Código Postal</label>
        <input type="search" #cp="ngModel" [ngModel]="student.cp" name="cp" matInput mask="99999-999"
        autocomplete="off" (focus)="$event.target.select()">
      </mat-form-field>
      <mat-form-field *ngIf="student.id">
        <label i18n="Label | last access">Último acesso</label>
        <input [value]="student.lastaccess" matInput readonly>
      </mat-form-field>
      <div style="width: 250px; margin-bottom: 20px;">
        <mat-checkbox i18n="Label" [(ngModel)]="student.active"  name="active" #active="ngModel" color="primary">Ativo</mat-checkbox>
      </div>


      <!-- Botões -->
      <div class="section-action">
        <div class="new-form-buttons">
        <button mat-stroked-button type="button" (click)="cancel()">
          <mat-icon class="mat-18">close</mat-icon>
        </button>
        <button mat-stroked-button type="submit" color="accent" [disabled]="erroRepeatCliente || !f.valid">
          <mat-icon class="mat-18">check</mat-icon>
        </button>
      </div>
      <span class="alert" *ngIf="erroRepeatCliente">Já existe registro com estes dados.</span> 
      </div>


      <p>
        <!-- <a href="#"> -->
         <!--  <em>(1) - Entre sexo e gênero: um estudo bibliográfico-exploratórios das ciências da saúde.</em> -->
        <!-- </a> -->
      </p>
    </form>
  </div>
</div>