.container {
  background-color: white;
  background-image: unset;
}
.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .h1-title {
    width: 100%;
    height: 30px;
    font-size: 20px;
    margin-top: 10px !important;
  }

  form {
    width: 100%;
  }
}

.mat-stroked-button{
  outline: rgb(32, 32, 32);
}

.table{
  width: 100%;
  margin: auto;
  font-size: smaller;
  td, th {
    border: 1px solid #999;
    padding: 0.5rem;
  }
  td{
    text-align: center;
  }
}
h5{
  text-align: center;
  font-weight: 600;
  text-decoration: underline;
}

@media only screen and (min-width: 768px){
  form{
    width: 90% !important;
    margin: auto;

  }
  .section-info{
    width: 60%;
    margin: auto;
    margin-top: 20px;;
  }
}