.container{
 // background-image: url("./../../../assets/img/scott-webb-KblIFRq1jkg-unsplash.jpg");
  background-image: url("./../../../assets/img/alphapro2.jpg");
    background-size: cover;
    background-position: center;
    height: 95vh;
  }

  .inactive{
    color: orangered;
  }

  .dash-form{
    width: 84%;
    height: 230px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate( -50%, 0);
    background-color: rgba($color: whitesmoke, $alpha: .50);
    color: black;
    font-size: small;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .mat-form-field{
      font-size: small;
      width: 280px;
    }
  }
  @media only screen and (min-width: 768px) {
    .dash-form{
      width: 50%;
      top: 50%;
    }
  }
  @media only screen and (min-width: 1024px) {
    .dash-form{
      width: 30%;
      top: 50%;
    }
  }
  .dash-buttons-action{
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    .dash-buttons-action_block{
      width: 56px;
      text-align: center;

      label{
        font-size: x-small;
        text-transform: uppercase;
      }
    }
  }

  .dash-button-new{
    width: 100%;
    a{
      margin-left: 75%;
    }
  }