<div class="container">
    <div class="dash-form">


        <!-- Selecionar Aluno -->
        <div class="aluno-select">
            <mat-form-field>
                <mat-label style="color: whitesmoke; font-size: large; display: flex; justify-content: center;" i18n>
                    ALUNO</mat-label>
                <mat-select #f="ngModel" [ngModel]="student" (selectionChange)="selected(f.value)">
                    <mat-option
                        style="color: whitesmoke; display: flex; justify-content: center; background-color: rgba(119, 107, 107, 0.88)"
                        *ngFor="let s of students" [value]="s">
                        <span [class.inactive]="s.active=='0'">
                            {{s.nome}}
                        </span>
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- Novo Registro -->
            <a mat-button routerLink="/new" class="select-button" *ngIf="!selectedS">
                <mat-icon>add</mat-icon>
            </a>
            <a mat-button (click)="reset()" class="select-button" *ngIf="selectedS">
                <mat-icon>close</mat-icon>
            </a>
        </div>

        <a mat-button class="dash-buttons-action_block" [routerLink]="['/repDash']" *ngIf="selectedS">
            <mat-icon>description</mat-icon>
            <span>relatórios</span>
        </a>
        <a mat-button class="dash-buttons-action_block" [routerLink]="['/preDash']" *ngIf="selectedS">
            <mat-icon>directions_run</mat-icon>
            <span>prescrição</span>
        </a>
        <a mat-button class="dash-buttons-action_block" [routerLink]="['/avDash']" *ngIf="selectedS">
            <mat-icon>accessibility_new</mat-icon>
            <span>avaliação</span>
        </a>
        <a mat-button class="dash-buttons-action_block" [routerLink]="['/new']" *ngIf="selectedS">
            <mat-icon class="ico">account_circle</mat-icon>
            <span class="lb">cadastro</span>
        </a>




    </div>

</div>