<div class="container-fluid">

    <div class="dash-form">
        <h2 class="title">ALPHA PRO</h2>

        
        <!-- Selecionar Aluno -->
        <mat-form-field>
            <mat-label i18n>Aluno</mat-label>
            <mat-select #f="ngModel"  [ngModel]="student"  (selectionChange)="selected(f.value)">
                <mat-option *ngFor="let s of students" [value]="s">{{s.nome}}</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Novo Registro -->
        <div class="dash-button-new" *ngIf="!selectedS">
            <a i18n="Novo aluno | Botão registrar aluno" mat-fab routerLink="/new" color="primary">
                Novo
            </a>
        </div>


        <div class="dash-buttons-action" *ngIf="selectedS">
            <div  class="dash-buttons-action_block">
                <a mat-fab [routerLink]="['/new/', id]"><mat-icon>account_circle</mat-icon></a>
                <label i18n="Label | registo">cadastro</label>
            </div>
            <div class="dash-buttons-action_block">
                <a  mat-fab [routerLink]="['/avDash/', id]"><mat-icon>accessibility_new</mat-icon></a>
                <label i18n="Label | avaliação do aluno">avaliação</label>
            </div>
            <div class="dash-buttons-action_block">
                <a  mat-fab [routerLink]="['/preDash/', id]"><mat-icon>directions_run</mat-icon></a>
                <label i18n="Label | prescrição de exercicios do aluno">prescrição</label>
            </div>
            <div  class="dash-buttons-action_block">
                <a mat-fab [routerLink]="['/repDash/', id]"><mat-icon>description</mat-icon></a>
                <label i18n="Label | relatorios de evolução do aluno">relatorios</label>
            </div>
        </div>
        <div class="dash-buttons-action" *ngIf="selectedS">
            <button mat-fab color="default" (click)="reset()"><mat-icon>close</mat-icon></button>
        </div>
        

        
    </div>
</div>