<div class="container">
    <div class="dash-form">


        <!-- Selecionar Aluno -->
        <div class="aluno-select">
            <mat-form-field>
                <mat-label style="color: whitesmoke; font-size: large; display: flex; justify-content: center;" i18n>
                    ALUNO</mat-label>
                <mat-select #f="ngModel" [ngModel]="student" (selectionChange)="selected(f.value)">
                    <mat-option
                        style="color: whitesmoke; display: flex; justify-content: center; background-color: rgba(119, 107, 107, 0.88)"
                        *ngFor="let s of students" [value]="s">
                        <span [class.inactive]="s.active=='0'">
                            {{s.nome}}
                        </span>
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- Novo Registro -->
            <a mat-button routerLink="/new" class="select-button" *ngIf="!selectedS">
                <mat-icon>add</mat-icon>
            </a>
            <a mat-button (click)="reset()" class="select-button" *ngIf="selectedS">
                <mat-icon>close</mat-icon>
            </a>
        </div>

        <a mat-button class="dash-buttons-action_block" [routerLink]="['/repDash']" *ngIf="selectedS">
            <div class="button-block">
                <img class="icons" src="./../../../assets/svg/icons/icon_reports.svg" alt="Report">
                <span class="lb">relatórios</span>
            </div>
        </a>
        <a mat-button class="dash-buttons-action_block" [routerLink]="['/preDash']" *ngIf="selectedS">
            <div class="button-block">
                <img class="icons" src="./../../../assets/svg/icons/icon_prescription.svg" alt="Prescription">
                <span class="lb">prescrição</span>
            </div>
        </a>
        <a mat-button class="dash-buttons-action_block" [routerLink]="['/avDash']" *ngIf="selectedS">
            <div class="button-block">
                <img class="icons" src="./../../../assets/svg/icons/icon_evaluation.svg" alt="Evaluation">
                <span class="lb">avaliação</span>
            </div>
        </a>
        <a mat-button class="dash-buttons-action_block" [routerLink]="['/new']" *ngIf="selectedS">
            <div class="button-block">
                <img class="icons" src="./../../../assets/svg/icons/icon_register.svg" alt="Report">
                <span class="lb">cadastro</span>
            </div>
        </a>




    </div>

</div>