<div class="container">
    <div class="header">
        <h1 i18n>Testes de Bicicleta</h1>
    </div>
    

    <div class="section">

                <mat-card>
                    <mat-card-header [routerLink]="['/astryh']">
                        <mat-card-subtitle i18n="Subtitle">Astrand-Ryhming - 6 minutos</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header [routerLink]="['/balke']">
                        <mat-card-subtitle i18n="Subtitle">Balke e Ware - feminino</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header [routerLink]="['/ymca']">
                        <mat-card-subtitle i18n="Subtitle">YMCA - Golding, Myers & Sinning - masculino</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>

    </div>
    <div class="footer">
        <a mat-mini-fab color="primary" (click)="goBack()">
            <mat-icon>undo</mat-icon>
        </a>
    </div>
</div>


