<div class="container">
    <app-header-name></app-header-name>


    <div class="section">
        <div class="section-content">
        <h1 class="h1-title" i18n>Testes de Bicicleta</h1>
        <div class="section-cards">
            <mat-card [routerLink]="['/astryh']">
                <mat-card-header>
                    <mat-card-subtitle i18n="Subtitle">Astrand-Ryhming</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <mat-card [routerLink]="['/balke']">
                <mat-card-header>
                    <mat-card-subtitle i18n="Subtitle">Balke e Ware</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <mat-card [routerLink]="['/ymca']">
                <mat-card-header>
                    <mat-card-subtitle i18n="Subtitle">YMCA - Golding, Myers & Sinning</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </div>
        </div>
    </div>

</div>