.container {
  background-image: url("./../../../../assets/img/postural_fundo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  &-content{
    width: 100%;
  }

  .h1-title {
    width: 100%;
    height: 30px;
    font-size: 20px;
    margin-top: 10px !important;
  }
  form{
    width: 100% !important;
  }
}

.section-info{
  margin: auto;
  margin-top: 20px;
}

.mat-card{
  padding: 20px;
  background-color: transparent;
  color: white;
}

.mat-card-header{
  justify-content: center;
}

@media only screen and (min-width: 768px){
  .section-content{
    width: 520px !important;
  }
}