/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-toolbar{
  height: 6vh;
}
.container{
    position: relative;
    height: 94vh;
    width: 100vw;
    margin: auto;
}

.header {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    color: rgb(35, 35, 185);
    h1{
        font-size: 20px;
    }
  }

  

.graphics{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.footer {
    position: absolute;
    height: 42px;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    .mat-mini-fab{
      margin: 2px 10px;
    }
  }