  .main{
      width: 90%;
      height: 75%;
      position: absolute;
      display: flex;
      flex-direction: column-reverse;
      bottom: 8%;
      left: 50%;
      transform: translate(-50%,0);

      mat-expansion-panel{
        background-color: rgba(247, 238, 238, 0.704);
        border-radius: 4px;
      }
      
      mat-expansion-panel-body {
        padding: 0;
      }


    .mat-card{
        height: 30px;
      //  background-color: rgba(14, 13, 13, 0.904);
        margin-bottom: 1px;
        
    }

  }

  