.container {
  background-color: rgb(11, 109, 116);
  background-image: url("./../../../../assets/img/aval_corrida.jpg");
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  background-size: cover;
  background-position: center;
}
.section{
  width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  &-content{
    width: 100%;
  }

}

.section-cards{
  width: 100%;
  margin: auto;
}
/* 
.mat-card{
  height: 30px;
  background-color:  rgba(119, 107, 107, 0.788);
  margin-bottom: 3px;

  .mat-card-subtitle{
    font-size: 16px;
    font-weight: unset;
    color: white;
  }
} */

.mat-card{
  min-height: 30px;
  background-color:  rgba(119, 107, 107, 0.788);
  margin-bottom: 3px;



  .mat-card-subtitle{
    text-align: center;
    font-size: 16px;
    font-weight: unset;
    color: white;
  }
  .mat-card-content{
    margin-left: 16px;
    font-size: small;
    line-height: 1.2;
    color: white;
  }
}
::ng-deep{
    .mat-card-header-text{
    width: 100% !important;
  }
}

@media only screen and (min-width: 768px){
  .section-content{
    width: 425px !important;
    margin: auto;
  }
}
  
  