<div class="container">
    <app-header-name></app-header-name>
    <div class="section">
        <h1 class="h1-title" i18n>Testes de Corrida</h1>
        <div class="section-cards">
            <mat-card>
                <mat-card-header [routerLink]="['/cooper']">
                    <mat-card-subtitle i18n="Subtitle">Cooper - 12min</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <mat-card>
                <mat-card-header [routerLink]="['/george']">
                    <mat-card-subtitle i18n="Subtitle">George et Al - 1609m</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <mat-card>
                <mat-card-header [routerLink]="['/george2']">
                    <mat-card-subtitle i18n="Subtitle">George et Al - 3min</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </div>

    </div>
</div>