<div class="container">
    <app-header-name></app-header-name>

    <div class="section">
        <div class="section-content">
        <h1 i18n="Title">Avaliação</h1>
        <mat-accordion>
            <mat-expansion-panel class="accordion">
                <mat-expansion-panel-header routerLink="/eval">
                    <mat-panel-title i18n="Title | area de avaliação">
                        DADOS COMPLEMENTARES
                    </mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header routerLink="/anamn">
                    <mat-panel-title i18n="Title | area de avaliação">
                        ANAMNESE
                    </mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>

            <mat-expansion-panel class="accordion">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        ESTRATIFICAÇÃO DE RISCO
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-card>
                    <mat-card-header routerLink="/qpaf/">
                        <mat-card-subtitle>Questionário de Prontidão para a Atividade Física (PAR-Q)
                        </mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/rdc/">
                        <mat-card-subtitle>Risco de Desenvolvimento de Cardiopatia</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/rddc/">
                        <mat-card-subtitle>Risco de Desenvolvimento de Dor na Coluna</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-expansion-panel>
            <!--   COMPONENTE MORFOLÓGICA -->
            <mat-expansion-panel (click)="changeMorfoExpanded()" 
                                 [expanded]="morfoExpanded">
                <mat-expansion-panel-header>
                    <mat-panel-title i18n="Title | area de avaliação">
                        COMPONENTE MORFOLÓGICA
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-card>
                    <mat-card-header routerLink="/pdc/">
                        <mat-card-subtitle i18n="Subtitle">Perímetros e Diâmetros Corporais</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/cc/">
                        <mat-card-subtitle i18n="Subtitle">Composição Corporal</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/imc/">
                        <mat-card-subtitle i18n="Subtitle">Índice Massa Corporal (IMC)</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/ircq/">
                        <mat-card-subtitle i18n="Subtitle">Índice Relação Cintura/Quadril (IRCQ)</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/ic/">
                        <mat-card-subtitle i18n="Subtitle">Índice de Conicidade (IC)</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/st/">
                        <mat-card-subtitle i18n="Subtitle">Somatotipo</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header routerLink="/cpost/">
                    <mat-panel-title i18n="Title">
                        COMPONENTE POSTURAL
                    </mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title i18n="Title">
                        COMPONENTE NEUROMUSCULAR
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-card>
                    <mat-card-header routerLink="/flex/">
                        <mat-card-subtitle i18n="Subtitle">Flexibilidade</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/frm/">
                        <mat-card-subtitle i18n="Subtitle">Força e Resistência Muscular</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title i18n="Title">
                        COMPONENTE CARDIOPULMONAR
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-card>
                    <mat-card-header routerLink="/tcam/">
                        <mat-card-subtitle i18n="Subtitle">Testes de Caminhada</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/tcorr/">
                        <mat-card-subtitle i18n="Subtitle">Testes de Corrida</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/tbic/">
                        <mat-card-subtitle i18n="Subtitle">Testes de Bicicleta</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/tpiscina/">
                        <mat-card-subtitle i18n="Subtitle">Testes em Piscina</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/tbanco/">
                        <mat-card-subtitle i18n="Subtitle">Testes de Banco</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-expansion-panel>
            <mat-expansion-panel (click)="changeVideoExpanded()" 
            [expanded]="videoExpanded">
                <mat-expansion-panel-header routerLink="/ortop/">
                    <mat-panel-title i18n="Title">
                        TESTES ORTOPÉDICOS &nbsp;&nbsp;&nbsp; [videos]
                    </mat-panel-title>
                </mat-expansion-panel-header>

            </mat-expansion-panel>
            
        </mat-accordion>
        </div>
    </div>
</div>