.container {
  background-image: url("./../../../assets/img/measurement-1698856.jpg");
  background-repeat: no-repeat;
  background-blend-mode: normal;
  background-size: cover;
  background-position: center;
}
.mat-expansion-panel {
  background-color: rgba(247, 238, 238, 0.704);
}

@media only screen and (min-width: 1024px) {
  .section {
    width: 50%;
  }
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }
}
