<div class="container">
    <div class="header">
        <h1 i18n="Title">Avaliações</h1>
    </div>

    <div class="section">
        <mat-accordion>
            <mat-expansion-panel class="accordion">
                <mat-expansion-panel-header routerLink="/eval">
                    <mat-panel-title i18n="Title | area de avaliação">
                        DADOS COMPLEMENTARES
                    </mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header routerLink="/anamn">
                    <mat-panel-title i18n="Title | area de avaliação">
                        ANAMNESE
                    </mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>

            <mat-expansion-panel class="accordion">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        ESTRATIFICAÇÃO DE RISCO
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-card>
                    <mat-card-header routerLink="/qpaf/">
                        <mat-card-subtitle>Questionário de Prontidão para a Atividade Física (PAR-Q)
                        </mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/rdc/">
                        <mat-card-subtitle>Risco de Desenvolvimento de Cardiopatia</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/rddc/">
                        <mat-card-subtitle>Risco de Desenvolvimento de Dor na Coluna</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-expansion-panel>
            <!--   COMPONENTE MORFOLÓGICA -->
            <mat-expansion-panel (click)="changeMorfoExpanded()" 
                                 [expanded]="morfoExpanded">
                <mat-expansion-panel-header>
                    <mat-panel-title i18n="Title | area de avaliação">
                        COMPONENTE MORFOLÓGICA
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-card>
                    <mat-card-header routerLink="/pdc/">
                        <mat-card-subtitle i18n="Subtitle">Perímetros e Diâmetros Corporais</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/cc/">
                        <mat-card-subtitle i18n="Subtitle">Composição Corporal</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/imc/">
                        <mat-card-subtitle i18n="Subtitle">Índice Massa Corporal (IMC)</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/ircq/">
                        <mat-card-subtitle i18n="Subtitle">Índice Relação Cintura/Quadril (IRCQ)</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/ic/">
                        <mat-card-subtitle i18n="Subtitle">Índice de Conicidade (IC)</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/st/">
                        <mat-card-subtitle i18n="Subtitle">Somatotipo</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header routerLink="/cpost/">
                    <mat-panel-title i18n="Title">
                        COMPONENTE POSTURAL
                    </mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title i18n="Title">
                        COMPONENTE NEUROMUSCULAR
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-card>
                    <mat-card-header routerLink="/flex/">
                        <mat-card-subtitle i18n="Subtitle">Flexibilidade</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/frm/">
                        <mat-card-subtitle i18n="Subtitle">Força e Resistência Muscular</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title i18n="Title">
                        COMPONENTE CARDIOPULMONAR
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-card>
                    <mat-card-header routerLink="/tcam/">
                        <mat-card-subtitle i18n="Subtitle">Testes de Caminhada</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/tcorr/">
                        <mat-card-subtitle i18n="Subtitle">Testes de Corrida</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/tbic/">
                        <mat-card-subtitle i18n="Subtitle">Testes de Bicicleta</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/tpiscina/">
                        <mat-card-subtitle i18n="Subtitle">Testes em Piscina</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/tbanco/">
                        <mat-card-subtitle i18n="Subtitle">Testes de Banco</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-expansion-panel>
            <mat-expansion-panel (click)="changeVideoExpanded()" 
            [expanded]="videoExpanded">
                <mat-expansion-panel-header>
                    <mat-panel-title i18n="Title">
                        TESTES ORTOPÉDICOS &nbsp;&nbsp;&nbsp; [videos]
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-card>
                    <mat-card-header routerLink="/video/testedeapley.mp4">
                        <mat-card-subtitle i18n="Subtitle">Teste de Apley</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/video/Teste de Cancela.mp4">
                        <mat-card-subtitle i18n="Subtitle">Teste de Cancela</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/video/Teste de Compressao Cervical e de Spurling.mp4">
                        <mat-card-subtitle i18n="Subtitle">Teste de Compressão Cervical e de Spurling</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/video/testedecompressaodasacroiliaca.mp4">
                        <mat-card-subtitle i18n="Subtitle">Teste de Compressão da Sacro Ilíaca</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/video/Teste de Faber.mp4">
                        <mat-card-subtitle i18n="Subtitle">Teste de Faber</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/video/Teste de Faber Plano2.mp4">
                        <mat-card-subtitle i18n="Subtitle">Teste de Faber - Plano 2</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header  routerLink="/video/Teste de Gaveta Posterior.mp4">
                        <mat-card-subtitle i18n="Subtitle">Teste de Gaveta Posterior</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/video/Teste de Gaveta Anterior.mp4">
                        <mat-card-subtitle i18n="Subtitle">Teste de Gaveta Anterior</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/video/Teste de Gerber.mp4">
                        <mat-card-subtitle i18n="Subtitle">Teste de Gerber</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/video/Teste de Impingement.mp4">
                        <mat-card-subtitle i18n="Subtitle">Teste do Arco do Movimento</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>

                <mat-card>
                    <mat-card-header routerLink="/video/Teste de Job.mp4">
                        <mat-card-subtitle i18n="Subtitle">Teste de Jobe</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/video/Teste de Kemp.mp4">
                        <mat-card-subtitle i18n="Subtitle">Teste de Kemp</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/video/Teste de Lasengue.mp4">
                        <mat-card-subtitle i18n="Subtitle">Teste de Lasengue</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/video/Teste de Lelli.mp4">
                        <mat-card-subtitle i18n="Subtitle">Teste de Lelli</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/video/Teste de Ober.mp4">
                        <mat-card-subtitle i18n="Subtitle">Teste de Ober</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/video/Teste de Patte.mp4">
                        <mat-card-subtitle i18n="Subtitle">Teste de Patte</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/video/Teste de Slump.mp4">
                        <mat-card-subtitle i18n="Subtitle">Teste de Slump</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/video/Teste de Thomas">
                        <mat-card-subtitle i18n="Subtitle">Teste de Thomas</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/video/Teste de Trendelenburg.mp4">
                        <mat-card-subtitle i18n="Subtitle">Teste de Trendelenburg</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/video/Teste de Trust Sacral.mp4">
                        <mat-card-subtitle i18n="Subtitle">Teste de Thrust Sacral</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/video/Teste de Yergason.mp4">
                        <mat-card-subtitle i18n="Subtitle">Teste de Yergason</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/video/Teste de Napoleao.mp4">
                        <mat-card-subtitle i18n="Subtitle">Teste Napoleão</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/video/Teste Neurodinamico do Nervo Femural.mp4">
                        <mat-card-subtitle i18n="Subtitle">Teste Neurodinâmico do Nervo Femural</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/video/Teste Provocativo de Distracao.mp4">
                        <mat-card-subtitle i18n="Subtitle">Teste Provocativo de Distração</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card>
                    <mat-card-header routerLink="/video/Teste Provocativo de Lesao do Labrum.mp4">
                        <mat-card-subtitle i18n="Subtitle">Teste Provocativo de Lesão do Labrum</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-expansion-panel>
        </mat-accordion>

    </div>
    <div class="footer">
        <a mat-mini-fab color="primary" (click)="morfoExpanded=true; changeMorfoExpanded(); videoExpanded=true; changeVideoExpanded();" routerLink="/dash">
            <mat-icon>home</mat-icon>
        </a>
    </div>
</div>